docusign-docusign-follow-up-complete__NEo5UWil6nuLlEj1.json
{
  "updatedAt": "2026-04-29T19:05:36.788Z",
  "createdAt": "2025-12-08T14:58:27.357Z",
  "id": "NEo5UWil6nuLlEj1",
  "name": "[Docusign] DocuSign Follow-up Complete",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cb7d1155-89e1-47b2-acea-08ba404f3374",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "382ddb14-d9ad-4ad0-84d8-bbbcd7729fec",
      "name": "Webhook",
      "webhookId": "cb7d1155-89e1-47b2-acea-08ba404f3374"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appxWtN5uQpxgXlup",
          "mode": "list",
          "cachedResultName": "1113",
          "cachedResultUrl": "https://airtable.com/appxWtN5uQpxgXlup"
        },
        "table": {
          "__rl": true,
          "value": "tblCCWeZz4KHN9QKB",
          "mode": "list",
          "cachedResultName": "VA Placements",
          "cachedResultUrl": "https://airtable.com/appxWtN5uQpxgXlup/tblCCWeZz4KHN9QKB"
        },
        "filterByFormula": "={Envelope ID} = '{{ $json.body.data.envelopeId }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        240,
        0
      ],
      "id": "408469c7-5a61-4c10-8ffc-6b28fcd8b506",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "cHANqvXsE4Fgk1Fq",
          "name": "Airtable Personal Access Token account 3"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        816,
        0
      ],
      "id": "6db4d3c0-f375-4a30-a154-fdc24eacc80c",
      "name": "Wait1",
      "webhookId": "2603acae-7860-47db-a3ae-6582ebc4e390"
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "appxWtN5uQpxgXlup",
          "mode": "list",
          "cachedResultName": "Scale Virtually Base"
        },
        "table": {
          "__rl": true,
          "value": "tblCCWeZz4KHN9QKB",
          "mode": "list",
          "cachedResultName": "VA Placements"
        },
        "id": "={{ $json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1152,
        0
      ],
      "id": "f824d1b3-4298-498d-8e25-ddd7f09bba02",
      "name": "Check Current Status",
      "credentials": {
        "airtableTokenApi": {
          "id": "cHANqvXsE4Fgk1Fq",
          "name": "Airtable Personal Access Token account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-unsigned-1",
              "leftValue": "={{ $json[\"Client Docusign Status\"] }}",
              "rightValue": "Signed",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1440,
        0
      ],
      "id": "a57b38a7-b860-4d50-8f77-b73037587365",
      "name": "Is Still Unsigned?"
    },
    {
      "parameters": {
        "jsCode": "// Get Airtable data\nconst fields = $input.last().json;\n\n// Parse and format the start date\nconst startDate = new Date(fields['VA Start Date']);\nconst startDateFormatted = startDate.toLocaleDateString('en-US', { \n  weekday: 'long', \n  year: 'numeric', \n  month: 'long', \n  day: 'numeric' \n});\n\n// Calculate days until start\nconst now = new Date();\nconst daysUntilStart = Math.ceil((startDate - now) / (1000 * 60 * 60 * 24));\n\n// Build subject line - SIMPLIFIED (removed VA name)\nconst vaName = fields['VA Name'] ? fields['VA Name'][0] : 'your Virtual Assistant';\nconst subject = `Scale Virtually: DocuSign Signature Required`;\n\n// Get client and contact information\nconst clientName = fields['Client'] ? fields['Client'][0] : '';\nconst clientEmail = fields['Account Owner Email'] ? fields['Account Owner Email'][0] : '';\nconst pocEmail = fields['POC Email'] ? fields['POC Email'][0] : '';\nconst envelopeId = fields['Envelope ID'] || '';\n\n// Build HTML email body with Scale Virtually colors\nconst htmlBody = `\n<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { \n      background: #F17D19; \n      color: #FFFFFF; \n      padding: 20px; \n      border-radius: 5px 5px 0 0;\n      text-align: center;\n    }\n    .content { background: #FFFFFF; padding: 30px; border-radius: 0 0 5px 5px; border: 1px solid #e0e0e0; }\n    .highlight { background: #FFF5ED; border-left: 4px solid #F17D19; padding: 15px; margin: 20px 0; }\n    .info-box { background: #f8f9fa; border: 1px solid #6E86AD; border-radius: 5px; padding: 20px; margin: 20px 0; }\n    .footer { margin-top: 30px; padding-top: 20px; border-top: 1px solid #6E86AD; font-size: 0.9em; color: #6E86AD; }\n    .accent { color: #F17D19; font-weight: bold; }\n    ul { margin: 10px 0; padding-left: 20px; }\n    li { margin: 8px 0; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h2 style=\"margin: 0;\">Friendly Reminder</h2>\n    </div>\n    \n    <div class=\"content\">\n      <p>Hi ${clientName},</p>\n      \n      <p>We hope this email finds you well! We wanted to send a friendly reminder that we're still waiting for your signature on the VA Endorsement Form.</p>\n      \n      <div class=\"highlight\">\n        <strong>VA Name:</strong> ${vaName}<br>\n        <strong>Expected Start Date:</strong> ${startDateFormatted}<br>\n        <strong>Days Until Start:</strong> ${daysUntilStart} days\n      </div>\n      \n      <p>To ensure ${vaName} can start on schedule, we need your signature as soon as possible. <strong class=\"accent\">Without your signature, we will need to move the start date.</strong></p>\n      \n      <div class=\"info-box\">\n        <p style=\"margin-top: 0;\"><strong style=\"color: #F17D19;\">Please check your email for the DocuSign notification.</strong></p>\n        \n        <p>The signing process only takes about 2 minutes. Please check your email inbox for the DocuSign notification.</p>\n        \n        <p><strong>Subject line to look for:</strong> \"Please DocuSign: SV Virtual Assistant Endorsement Form\"</p>\n        \n        <p><strong>If you can't find the email:</strong></p>\n        <ul>\n          <li>Check your spam/junk folder</li>\n          <li>Search your inbox for \"DocuSign\"</li>\n          <li>Look for emails from \"dse@docusign.net\"</li>\n        </ul>\n      </div>\n      \n      <p>If you have any questions about the agreement or need any clarification, please don't hesitate to reach out. We're here to help make this process as smooth as possible!</p>\n      \n      <p>Looking forward to getting your VA started with your team!</p>\n      \n      <p>Best regards,<br>\n      <strong style=\"color: #F17D19;\">Scale Virtually Team</strong></p>\n      \n      <div class=\"footer\">\n        <p><em>Still can't find the DocuSign email? Reply to this email and we'll assist you right away.</em></p>\n      </div>\n    </div>\n  </div>\n</body>\n</html>\n`;\n\nreturn {\n  json: {\n    recordId: fields['Record ID'],\n    vaName: vaName,\n    clientEmail: clientEmail,\n    pocEmail: pocEmail,\n    subject: subject,\n    htmlBody: htmlBody,\n    followUpType: 'first_reminder',\n    envelopeId: envelopeId\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1776,
        -16
      ],
      "id": "54616628-aa4a-49e0-a277-d49e80bd7382",
      "name": "Build 24hr Reminder Email"
    },
    {
      "parameters": {
        "sendTo": "jenn@scalevirtually.com",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.htmlBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2064,
        -16
      ],
      "id": "bf7a5dc0-f527-447e-89b3-d6b89d74ab6b",
      "name": "Send First Follow-up Email",
      "webhookId": "7ba88ca5-ef43-46f5-aae1-a3cf9c3e0b3e",
      "credentials": {
        "gmailOAuth2": {
          "id": "QdsxfF1pgD1hbNDT",
          "name": "Solutions"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  return {\n    json: {\n      emailSentAt: new Date().toISOString(),\n      emailSentDate: new Date().toLocaleString('en-US', {\n        timeZone: 'America/Chicago',\n        year: 'numeric',\n        month: '2-digit',\n        day: '2-digit',\n        hour: '2-digit',\n        minute: '2-digit',\n        second: '2-digit'\n      }),\n      recordId: $('Build 24hr Reminder Email').item.json.recordId,\n      followUpType: $('Build 24hr Reminder Email').item.json.followUpType\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2352,
        -16
      ],
      "id": "750e3404-1828-423c-8cac-3bcf0c74d96c",
      "name": "Add Sent Timestamp"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appxWtN5uQpxgXlup",
          "mode": "list",
          "cachedResultName": "Scale Virtually Base"
        },
        "table": {
          "__rl": true,
          "value": "tblCCWeZz4KHN9QKB",
          "mode": "list",
          "cachedResultName": "VA Placements"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.recordId }}",
            "Follow-up Stage": "First Follow-up",
            "Follow-up Field Sent Timestamp": "={{ $now.toFormat(\"yyyy-LL-dd HH:mm\") }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Placements ID",
              "displayName": "Placements ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "PLACEMENTS Requirements",
              "displayName": "PLACEMENTS Requirements",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Placed VA",
              "displayName": "Placed VA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "End Date with Client",
              "displayName": "End Date with Client",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Replacement Requirements",
              "displayName": "Replacement Requirements",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "PL Status",
              "displayName": "PL Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Awaiting Endorsement",
                  "value": "Awaiting Endorsement"
                },
                {
                  "name": "Active",
                  "value": "Active"
                },
                {
                  "name": "Replaced",
                  "value": "Replaced"
                },
                {
                  "name": "Cancelled",
                  "value": "Cancelled"
                },
                {
                  "name": "Endorsement - Failed",
                  "value": "Endorsement - Failed"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Active VA Name",
              "displayName": "Active VA Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Replaced By",
              "displayName": "Replaced By",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "REQUIRED MVA (from PLACEMENTS Requirements)",
              "displayName": "REQUIRED MVA (from PLACEMENTS Requirements)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Reason for MVA Cancellation",
              "displayName": "Reason for MVA Cancellation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "PL - Client Interviews",
              "displayName": "PL - Client Interviews",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "PLACEMENTS Requirements (from VA) (from PL - Client Interviews)",
              "displayName": "PLACEMENTS Requirements (from VA) (from PL - Client Interviews)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Virtual Assistants (from PL - Client Interviews)",
              "displayName": "Virtual Assistants (from PL - Client Interviews)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Created",
              "displayName": "Created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "PDEV Requirement (from PLACEMENTS Requirements)",
              "displayName": "PDEV Requirement (from PLACEMENTS Requirements)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "PLACEMENT TYPE (from PLACEMENTS Requirements)",
              "displayName": "PLACEMENT TYPE (from PLACEMENTS Requirements)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Clients",
              "displayName": "Clients",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "MVA Pair being REPLACED Rollup (from PLACEMENTS Requirements)",
              "displayName": "MVA Pair being REPLACED Rollup (from PLACEMENTS Requirements)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Created By",
              "displayName": "Created By",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Virtual Assistants",
              "displayName": "Virtual Assistants",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Back-To-Placements",
              "displayName": "Back-To-Placements",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Placed VA (from CI)",
              "displayName": "Placed VA (from CI)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Virtual Assistants 2",
              "displayName": "Virtual Assistants 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "PL STAGE (from PLACEMENTS Requirements)",
              "displayName": "PL STAGE (from PLACEMENTS Requirements)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Role",
              "displayName": "Role",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "PL - Shortlisting",
              "displayName": "PL - Shortlisting",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Logistics Needed (from PLACEMENTS Requirements)",
              "displayName": "Logistics Needed (from PLACEMENTS Requirements)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Interviewer Contact Details (from PLACEMENTS Requirements)",
              "displayName": "Interviewer Contact Details (from PLACEMENTS Requirements)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Requirement POC / POCs (Interviewers from Placements Requirements)",
              "displayName": "Requirement POC / POCs (Interviewers from Placements Requirements)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Finance Notes",
              "displayName": "Finance Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Scope Type",
              "displayName": "Scope Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Company Address",
              "displayName": "Company Address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "SUF",
              "displayName": "SUF",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Full/Part Time",
              "displayName": "Full/Part Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Time Zone",
              "displayName": "Time Zone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "JD + Client Profile",
              "displayName": "JD + Client Profile",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Client Rate",
              "displayName": "Client Rate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "PL STAGE",
              "displayName": "PL STAGE",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Endorsed to OPS",
              "displayName": "Endorsed to OPS",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Account Owner Email",
              "displayName": "Account Owner Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Account Owner Contact Details",
              "displayName": "Account Owner Contact Details",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Number of VA/s",
              "displayName": "Number of VA/s",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "SV Base Rate",
              "displayName": "SV Base Rate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "SV Email",
              "displayName": "SV Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "VA Source",
              "displayName": "VA Source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Virtual Assistant (from Placed VA)",
              "displayName": "Virtual Assistant (from Placed VA)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "PAD",
              "displayName": "PAD",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Docusign",
              "displayName": "Docusign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Logistics",
              "displayName": "Logistics",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Logistics For VA",
              "displayName": "Logistics For VA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "VA Start Date",
              "displayName": "VA Start Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Schedule for VA",
              "displayName": "Schedule for VA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Activity Logs",
              "displayName": "Activity Logs",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Logistics Request Status",
              "displayName": "Logistics Request Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Logistics Request Sent?",
              "displayName": "Logistics Request Sent?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Logistics Request Sent At",
              "displayName": "Logistics Request Sent At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Resend Logistics Request?",
              "displayName": "Resend Logistics Request?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "VA Image",
              "displayName": "VA Image",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Endorsement Email Status",
              "displayName": "Endorsement Email Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Endorsement Email Sent?",
              "displayName": "Endorsement Email Sent?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Endorsement Email Sent At",
              "displayName": "Endorsement Email Sent At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Resend Endorsement Email?",
              "displayName": "Resend Endorsement Email?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Congrats Email Status",
              "displayName": "Congrats Email Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Congrats Email Sent?",
              "displayName": "Congrats Email Sent?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Congrats Email Sent At",
              "displayName": "Congrats Email Sent At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Resend Congrats Email?",
              "displayName": "Resend Congrats Email?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "NCO",
              "displayName": "NCO",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Podio Upload",
              "displayName": "Podio Upload",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Record ID",
              "displayName": "Record ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "MVA Cancellation",
              "displayName": "MVA Cancellation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Other Recipient",
              "displayName": "Other Recipient",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "For Scrubbing?",
              "displayName": "For Scrubbing?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Fields with Missing Data",
              "displayName": "Fields with Missing Data",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last Scrubbed At",
              "displayName": "Last Scrubbed At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Profit Margin",
              "displayName": "Profit Margin",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Profit Justification",
              "displayName": "Profit Justification",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Profit Indicator",
              "displayName": "Profit Indicator",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Final Client Rate",
              "displayName": "Final Client Rate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Final SV Base Rate",
              "displayName": "Final SV Base Rate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Role (Rollup)",
              "displayName": "Role (Rollup)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Virtual Assistants copy",
              "displayName": "Virtual Assistants copy",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Client",
              "displayName": "Client",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Company (text)",
              "displayName": "Company (text)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "VA Name",
              "displayName": "VA Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Client OT Rate",
              "displayName": "Client OT Rate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "SV OT Rate",
              "displayName": "SV OT Rate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "POC Name",
              "displayName": "POC Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "POC Email",
              "displayName": "POC Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "POC Contact Number",
              "displayName": "POC Contact Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Rest Days",
              "displayName": "Rest Days",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "B2P Amendment",
              "displayName": "B2P Amendment",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "POC Position",
              "displayName": "POC Position",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Number of Working Hours",
              "displayName": "Number of Working Hours",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Day 1 Schedule",
              "displayName": "Day 1 Schedule",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Day 2 Schedule",
              "displayName": "Day 2 Schedule",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Day 3 Schedule",
              "displayName": "Day 3 Schedule",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Day 4 Schedule",
              "displayName": "Day 4 Schedule",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Day 5 Schedule",
              "displayName": "Day 5 Schedule",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Placements Representative",
              "displayName": "Placements Representative",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Representative Email",
              "displayName": "Representative Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Client Contract (Docusign)",
              "displayName": "Client Contract (Docusign)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "VA Contract (Docusign)",
              "displayName": "VA Contract (Docusign)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Envelope ID",
              "displayName": "Envelope ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Client Docusign Status",
              "displayName": "Client Docusign Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Sent",
                  "value": "Sent"
                },
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Signed",
                  "value": "Signed"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Follow-up Field Sent Timestamp",
              "displayName": "Follow-up Field Sent Timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Follow-up Stage",
              "displayName": "Follow-up Stage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "First Follow-up",
                  "value": "First Follow-up"
                },
                {
                  "name": "Second Follow-up",
                  "value": "Second Follow-up"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Client Signed On",
              "displayName": "Client Signed On",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2656,
        -16
      ],
      "id": "b91e9cbb-7f28-4fb8-9d2f-e2fadae51d92",
      "name": "Update Airtable - First Follow-up",
      "credentials": {
        "airtableTokenApi": {
          "id": "cHANqvXsE4Fgk1Fq",
          "name": "Airtable Personal Access Token account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const fields = item.json.fields || item.json;\n  \n  // Get the VA Start Date from Airtable\n  const startDate = new Date(fields['VA Start Date']);\n  const now = new Date();\n  \n  // Calculate when urgent reminder should be sent (24 hours before start)\n  const urgentReminderTime = new Date(startDate.getTime() - (24 * 60 * 60 * 1000));\n  \n  // Calculate how long to wait from NOW until urgent reminder time\n  const waitMilliseconds = urgentReminderTime - now;\n  const waitHours = Math.max(0, Math.floor(waitMilliseconds / (1000 * 60 * 60)));\n  \n  // Calculate days until start (for display purposes)\n  const hoursUntilStart = Math.floor((startDate - now) / (1000 * 60 * 60));\n  const daysUntilStart = Math.ceil(hoursUntilStart / 24);\n  \n  // Format for n8n Wait node \"At Specified Time\"\n  // Format: YYYY-MM-DD HH:mm:ss\n  const urgentReminderDateTime = urgentReminderTime.toISOString().slice(0, 19).replace('T', ' ');\n  \n  return {\n    json: {\n      ...item.json,\n      recordId: item.json.id || item.json.recordId,\n      waitHours: waitHours,\n      urgentReminderTime: urgentReminderTime.toISOString(),\n      urgentReminderDateTime: urgentReminderDateTime,\n      startDate: startDate.toISOString(),\n      hoursUntilStart: hoursUntilStart,\n      daysUntilStart: daysUntilStart,\n      shouldSendUrgent: waitHours > 0,\n      currentTime: now.toISOString()\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2992,
        -16
      ],
      "id": "b3211c26-488f-464f-835f-ff60f10f60ec",
      "name": "Calculate Wait Time Until Urgent"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3552,
        -32
      ],
      "id": "846332cd-9d67-486f-8553-b9a3dad354c8",
      "name": "Wait Until 24h Before Start",
      "webhookId": "wait-urgent-webhook"
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "appxWtN5uQpxgXlup",
          "mode": "list",
          "cachedResultName": "Scale Virtually Base"
        },
        "table": {
          "__rl": true,
          "value": "tblCCWeZz4KHN9QKB",
          "mode": "list",
          "cachedResultName": "VA Placements"
        },
        "id": "={{ $('Calculate Wait Time Until Urgent').item.json.recordId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3840,
        -32
      ],
      "id": "7a3b189c-a517-4f08-a975-0ab1e2696b68",
      "name": "Final Status Check",
      "credentials": {
        "airtableTokenApi": {
          "id": "cHANqvXsE4Fgk1Fq",
          "name": "Airtable Personal Access Token account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-final-1",
              "leftValue": "={{ $json[\"Client Docusign Status\"] }}",
              "rightValue": "Signed",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4112,
        -32
      ],
      "id": "dab81f82-4ef1-446e-b033-e0d09dcc6141",
      "name": "Still Unsigned for Urgent?"
    },
    {
      "parameters": {
        "jsCode": "// Get Airtable data from the previous node\nconst item = $input.item.json;\nconst fields = item.fields || item;\n\n// Parse and format the start date\nconst startDate = new Date(fields['VA Start Date']);\nconst now = new Date();\n\nconst startDateFormatted = startDate.toLocaleDateString('en-US', { \n  weekday: 'long', \n  year: 'numeric', \n  month: 'long', \n  day: 'numeric' \n});\n\n// Calculate time until start\nconst hoursUntilStart = Math.ceil((startDate - now) / (1000 * 60 * 60));\nconst daysUntilStart = Math.ceil(hoursUntilStart / 24);\n\n// Build subject line - handle arrays properly\nconst vaName = Array.isArray(fields['VA Name']) ? fields['VA Name'][0] : fields['VA Name'] || 'your Virtual Assistant';\nconst subject = `URGENT: Scale Virtually - DocuSign Signature Required`;\n\n// Get client and contact information - handle arrays\nconst clientName = Array.isArray(fields['Client']) ? fields['Client'][0] : fields['Client'] || '';\nconst clientEmail = Array.isArray(fields['Account Owner Email']) ? fields['Account Owner Email'][0] : fields['Account Owner Email'] || '';\nconst pocEmail = Array.isArray(fields['POC Email']) ? fields['POC Email'][0] : fields['POC Email'] || '';\nconst envelopeId = fields['Envelope ID'] || '';\n\n// Build HTML email body - MATCHING FIRST REMINDER FORMAT\nconst htmlBody = `\n<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { \n      background: #F17D19; \n      color: #FFFFFF; \n      padding: 20px; \n      border-radius: 5px 5px 0 0;\n      text-align: center;\n    }\n    .content { background: #FFFFFF; padding: 30px; border-radius: 0 0 5px 5px; border: 1px solid #e0e0e0; }\n    .highlight { background: #FFF5ED; border-left: 4px solid #F17D19; padding: 15px; margin: 20px 0; }\n    .info-box { background: #f8f9fa; border: 1px solid #6E86AD; border-radius: 5px; padding: 20px; margin: 20px 0; }\n    .footer { margin-top: 30px; padding-top: 20px; border-top: 1px solid #6E86AD; font-size: 0.9em; color: #6E86AD; }\n    .accent { color: #F17D19; font-weight: bold; }\n    ul { margin: 10px 0; padding-left: 20px; }\n    li { margin: 8px 0; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h2 style=\"margin: 0;\">URGENT Reminder</h2>\n    </div>\n    \n    <div class=\"content\">\n      <p>Hi ${clientName},</p>\n      \n      <p>This is an <strong class=\"accent\">urgent</strong> reminder that we still need your signature on the VA Endorsement Form. <strong class=\"accent\">${vaName} is scheduled to start very soon!</strong></p>\n      \n      <div class=\"highlight\">\n        <strong>VA Name:</strong> ${vaName}<br>\n        <strong>Expected Start Date:</strong> ${startDateFormatted}<br>\n        <strong>Time Until Start:</strong> ${hoursUntilStart} hours (approximately ${daysUntilStart} day${daysUntilStart !== 1 ? 's' : ''})\n      </div>\n      \n      <p>To ensure ${vaName} can start on schedule, we need your signature as soon as possible. <strong class=\"accent\">Without your signature, we will need to move the start date.</strong></p>\n      \n      <div class=\"info-box\">\n        <p style=\"margin-top: 0;\"><strong style=\"color: #F17D19;\">Please check your email for the DocuSign notification.</strong></p>\n        \n        <p>The signing process only takes about 2 minutes. Please check your email inbox for the DocuSign notification.</p>\n        \n        <p><strong>Subject line to look for:</strong> \"Please DocuSign: SV Virtual Assistant Endorsement Form\"</p>\n        \n        <p><strong>If you can't find the email:</strong></p>\n        <ul>\n          <li>Check your spam/junk folder</li>\n          <li>Search your inbox for \"DocuSign\"</li>\n          <li>Look for emails from \"dse@docusign.net\"</li>\n        </ul>\n      </div>\n      \n      <p>If you have any questions or concerns about the agreement, please don't hesitate to reach out. We're here to help make this process as smooth as possible!</p>\n      \n      <p>Looking forward to getting your VA started with your team!</p>\n      \n      <p>Best regards,<br>\n      <strong style=\"color: #F17D19;\">Scale Virtually Team</strong></p>\n      \n      <div class=\"footer\">\n        <p><em>Still can't find the DocuSign email? Reply to this email and we'll assist you right away.</em></p>\n      </div>\n    </div>\n  </div>\n</body>\n</html>\n`;\n\nreturn {\n  json: {\n    recordId: item.id || item.recordId || fields['Record ID'],\n    vaName: vaName,\n    clientEmail: clientEmail,\n    pocEmail: pocEmail,\n    subject: subject,\n    htmlBody: htmlBody,\n    followUpType: 'urgent_before_start',\n    envelopeId: envelopeId,\n    hoursUntilStart: hoursUntilStart,\n    daysUntilStart: daysUntilStart\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4416,
        -48
      ],
      "id": "3085b8a1-3a9f-4f78-a676-e6a2cfce522d",
      "name": "Build Urgent Email"
    },
    {
      "parameters": {
        "sendTo": "jenn@scalevirtually.com",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.htmlBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4672,
        -48
      ],
      "id": "550e5fdb-a5c5-4224-a65e-e934f7db9c21",
      "name": "Send Urgent Follow-up Email",
      "webhookId": "0a9ac11c-2cca-4ac9-ae5c-53fc4a9a1700",
      "credentials": {
        "gmailOAuth2": {
          "id": "QdsxfF1pgD1hbNDT",
          "name": "Solutions"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  return {\n    json: {\n      emailSentAt: new Date().toISOString(),\n      emailSentDate: new Date().toLocaleString('en-US', {\n        timeZone: 'America/Chicago',\n        year: 'numeric',\n        month: '2-digit',\n        day: '2-digit',\n        hour: '2-digit',\n        minute: '2-digit',\n        second: '2-digit'\n      }),\n      recordId: $('Build Urgent Email').item.json.recordId,\n      followUpType: $('Build Urgent Email').item.json.followUpType\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4928,
        -48
      ],
      "id": "95f31f5c-b16c-4634-a646-d90480060a34",
      "name": "Add Urgent Sent Timestamp"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appxWtN5uQpxgXlup",
          "mode": "list",
          "cachedResultName": "Scale Virtually Base"
        },
        "table": {
          "__rl": true,
          "value": "tblCCWeZz4KHN9QKB",
          "mode": "list",
          "cachedResultName": "VA Placements"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.recordId }}",
            "Follow-up Stage": "Second Follow-up",
            "Follow-up Field Sent Timestamp": "={{ $now.toFormat(\"yyyy-LL-dd HH:mm\") }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Placements ID",
              "displayName": "Placements ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "PLACEMENTS Requirements",
              "displayName": "PLACEMENTS Requirements",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Placed VA",
              "displayName": "Placed VA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "End Date with Client",
              "displayName": "End Date with Client",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Replacement Requirements",
              "displayName": "Replacement Requirements",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "PL Status",
              "displayName": "PL Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Awaiting Endorsement",
                  "value": "Awaiting Endorsement"
                },
                {
                  "name": "Active",
                  "value": "Active"
                },
                {
                  "name": "Replaced",
                  "value": "Replaced"
                },
                {
                  "name": "Cancelled",
                  "value": "Cancelled"
                },
                {
                  "name": "Endorsement - Failed",
                  "value": "Endorsement - Failed"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Active VA Name",
              "displayName": "Active VA Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Replaced By",
              "displayName": "Replaced By",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "REQUIRED MVA (from PLACEMENTS Requirements)",
              "displayName": "REQUIRED MVA (from PLACEMENTS Requirements)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Reason for MVA Cancellation",
              "displayName": "Reason for MVA Cancellation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "PL - Client Interviews",
              "displayName": "PL - Client Interviews",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "PLACEMENTS Requirements (from VA) (from PL - Client Interviews)",
              "displayName": "PLACEMENTS Requirements (from VA) (from PL - Client Interviews)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Virtual Assistants (from PL - Client Interviews)",
              "displayName": "Virtual Assistants (from PL - Client Interviews)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Created",
              "displayName": "Created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "PDEV Requirement (from PLACEMENTS Requirements)",
              "displayName": "PDEV Requirement (from PLACEMENTS Requirements)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "PLACEMENT TYPE (from PLACEMENTS Requirements)",
              "displayName": "PLACEMENT TYPE (from PLACEMENTS Requirements)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Clients",
              "displayName": "Clients",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "MVA Pair being REPLACED Rollup (from PLACEMENTS Requirements)",
              "displayName": "MVA Pair being REPLACED Rollup (from PLACEMENTS Requirements)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Created By",
              "displayName": "Created By",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Virtual Assistants",
              "displayName": "Virtual Assistants",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Back-To-Placements",
              "displayName": "Back-To-Placements",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Placed VA (from CI)",
              "displayName": "Placed VA (from CI)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Virtual Assistants 2",
              "displayName": "Virtual Assistants 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "PL STAGE (from PLACEMENTS Requirements)",
              "displayName": "PL STAGE (from PLACEMENTS Requirements)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Role",
              "displayName": "Role",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "PL - Shortlisting",
              "displayName": "PL - Shortlisting",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Logistics Needed (from PLACEMENTS Requirements)",
              "displayName": "Logistics Needed (from PLACEMENTS Requirements)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Interviewer Contact Details (from PLACEMENTS Requirements)",
              "displayName": "Interviewer Contact Details (from PLACEMENTS Requirements)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Requirement POC / POCs (Interviewers from Placements Requirements)",
              "displayName": "Requirement POC / POCs (Interviewers from Placements Requirements)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Finance Notes",
              "displayName": "Finance Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Scope Type",
              "displayName": "Scope Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Company Address",
              "displayName": "Company Address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "SUF",
              "displayName": "SUF",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Full/Part Time",
              "displayName": "Full/Part Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Time Zone",
              "displayName": "Time Zone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "JD + Client Profile",
              "displayName": "JD + Client Profile",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Client Rate",
              "displayName": "Client Rate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "PL STAGE",
              "displayName": "PL STAGE",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Endorsed to OPS",
              "displayName": "Endorsed to OPS",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Account Owner Email",
              "displayName": "Account Owner Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Account Owner Contact Details",
              "displayName": "Account Owner Contact Details",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Number of VA/s",
              "displayName": "Number of VA/s",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "SV Base Rate",
              "displayName": "SV Base Rate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "SV Email",
              "displayName": "SV Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "VA Source",
              "displayName": "VA Source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Virtual Assistant (from Placed VA)",
              "displayName": "Virtual Assistant (from Placed VA)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "PAD",
              "displayName": "PAD",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Docusign",
              "displayName": "Docusign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Logistics",
              "displayName": "Logistics",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Logistics For VA",
              "displayName": "Logistics For VA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "VA Start Date",
              "displayName": "VA Start Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Schedule for VA",
              "displayName": "Schedule for VA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Activity Logs",
              "displayName": "Activity Logs",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Logistics Request Status",
              "displayName": "Logistics Request Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Logistics Request Sent?",
              "displayName": "Logistics Request Sent?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Logistics Request Sent At",
              "displayName": "Logistics Request Sent At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Resend Logistics Request?",
              "displayName": "Resend Logistics Request?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "VA Image",
              "displayName": "VA Image",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Endorsement Email Status",
              "displayName": "Endorsement Email Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Endorsement Email Sent?",
              "displayName": "Endorsement Email Sent?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Endorsement Email Sent At",
              "displayName": "Endorsement Email Sent At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Resend Endorsement Email?",
              "displayName": "Resend Endorsement Email?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Congrats Email Status",
              "displayName": "Congrats Email Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Congrats Email Sent?",
              "displayName": "Congrats Email Sent?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Congrats Email Sent At",
              "displayName": "Congrats Email Sent At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Resend Congrats Email?",
              "displayName": "Resend Congrats Email?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "NCO",
              "displayName": "NCO",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Podio Upload",
              "displayName": "Podio Upload",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Record ID",
              "displayName": "Record ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "MVA Cancellation",
              "displayName": "MVA Cancellation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Other Recipient",
              "displayName": "Other Recipient",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "For Scrubbing?",
              "displayName": "For Scrubbing?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Fields with Missing Data",
              "displayName": "Fields with Missing Data",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last Scrubbed At",
              "displayName": "Last Scrubbed At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Profit Margin",
              "displayName": "Profit Margin",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Profit Justification",
              "displayName": "Profit Justification",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Profit Indicator",
              "displayName": "Profit Indicator",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Final Client Rate",
              "displayName": "Final Client Rate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Final SV Base Rate",
              "displayName": "Final SV Base Rate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Role (Rollup)",
              "displayName": "Role (Rollup)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Virtual Assistants copy",
              "displayName": "Virtual Assistants copy",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Client",
              "displayName": "Client",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Company (text)",
              "displayName": "Company (text)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "VA Name",
              "displayName": "VA Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Client OT Rate",
              "displayName": "Client OT Rate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "SV OT Rate",
              "displayName": "SV OT Rate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "POC Name",
              "displayName": "POC Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "POC Email",
              "displayName": "POC Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "POC Contact Number",
              "displayName": "POC Contact Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Rest Days",
              "displayName": "Rest Days",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "B2P Amendment",
              "displayName": "B2P Amendment",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "POC Position",
              "displayName": "POC Position",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Number of Working Hours",
              "displayName": "Number of Working Hours",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Day 1 Schedule",
              "displayName": "Day 1 Schedule",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Day 2 Schedule",
              "displayName": "Day 2 Schedule",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Day 3 Schedule",
              "displayName": "Day 3 Schedule",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Day 4 Schedule",
              "displayName": "Day 4 Schedule",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Day 5 Schedule",
              "displayName": "Day 5 Schedule",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Placements Representative",
              "displayName": "Placements Representative",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Representative Email",
              "displayName": "Representative Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Client Contract (Docusign)",
              "displayName": "Client Contract (Docusign)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "VA Contract (Docusign)",
              "displayName": "VA Contract (Docusign)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Envelope ID",
              "displayName": "Envelope ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Client Docusign Status",
              "displayName": "Client Docusign Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Sent",
                  "value": "Sent"
                },
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Signed",
                  "value": "Signed"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Follow-up Field Sent Timestamp",
              "displayName": "Follow-up Field Sent Timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Follow-up Stage",
              "displayName": "Follow-up Stage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "First Follow-up",
                  "value": "First Follow-up"
                },
                {
                  "name": "Second Follow-up",
                  "value": "Second Follow-up"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Client Signed On",
              "displayName": "Client Signed On",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        5168,
        -48
      ],
      "id": "dbc0259b-83f6-4237-832d-c95be000ca42",
      "name": "Update Airtable - Urgent Follow-up",
      "credentials": {
        "airtableTokenApi": {
          "id": "cHANqvXsE4Fgk1Fq",
          "name": "Airtable Personal Access Token account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appxWtN5uQpxgXlup",
          "mode": "list",
          "cachedResultName": "Scale Virtually Base"
        },
        "table": {
          "__rl": true,
          "value": "tblCCWeZz4KHN9QKB",
          "mode": "list",
          "cachedResultName": "VA Placements"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "Client Docusign Status": "Sent"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Placements ID",
              "displayName": "Placements ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "PLACEMENTS Requirements",
              "displayName": "PLACEMENTS Requirements",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Placed VA",
              "displayName": "Placed VA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "End Date with Client",
              "displayName": "End Date with Client",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Replacement Requirements",
              "displayName": "Replacement Requirements",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "PL Status",
              "displayName": "PL Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Awaiting Endorsement",
                  "value": "Awaiting Endorsement"
                },
                {
                  "name": "Active",
                  "value": "Active"
                },
                {
                  "name": "Replaced",
                  "value": "Replaced"
                },
                {
                  "name": "Cancelled",
                  "value": "Cancelled"
                },
                {
                  "name": "Endorsement - Failed",
                  "value": "Endorsement - Failed"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Active VA Name",
              "displayName": "Active VA Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Replaced By",
              "displayName": "Replaced By",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "REQUIRED MVA (from PLACEMENTS Requirements)",
              "displayName": "REQUIRED MVA (from PLACEMENTS Requirements)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Reason for MVA Cancellation",
              "displayName": "Reason for MVA Cancellation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "PL - Client Interviews",
              "displayName": "PL - Client Interviews",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "PLACEMENTS Requirements (from VA) (from PL - Client Interviews)",
              "displayName": "PLACEMENTS Requirements (from VA) (from PL - Client Interviews)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Virtual Assistants (from PL - Client Interviews)",
              "displayName": "Virtual Assistants (from PL - Client Interviews)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Created",
              "displayName": "Created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "PDEV Requirement (from PLACEMENTS Requirements)",
              "displayName": "PDEV Requirement (from PLACEMENTS Requirements)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "PLACEMENT TYPE (from PLACEMENTS Requirements)",
              "displayName": "PLACEMENT TYPE (from PLACEMENTS Requirements)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Clients",
              "displayName": "Clients",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "MVA Pair being REPLACED Rollup (from PLACEMENTS Requirements)",
              "displayName": "MVA Pair being REPLACED Rollup (from PLACEMENTS Requirements)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Created By",
              "displayName": "Created By",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Virtual Assistants",
              "displayName": "Virtual Assistants",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Back-To-Placements",
              "displayName": "Back-To-Placements",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Placed VA (from CI)",
              "displayName": "Placed VA (from CI)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Virtual Assistants 2",
              "displayName": "Virtual Assistants 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "PL STAGE (from PLACEMENTS Requirements)",
              "displayName": "PL STAGE (from PLACEMENTS Requirements)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Role",
              "displayName": "Role",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "PL - Shortlisting",
              "displayName": "PL - Shortlisting",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Logistics Needed (from PLACEMENTS Requirements)",
              "displayName": "Logistics Needed (from PLACEMENTS Requirements)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Interviewer Contact Details (from PLACEMENTS Requirements)",
              "displayName": "Interviewer Contact Details (from PLACEMENTS Requirements)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Requirement POC / POCs (Interviewers from Placements Requirements)",
              "displayName": "Requirement POC / POCs (Interviewers from Placements Requirements)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Finance Notes",
              "displayName": "Finance Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Scope Type",
              "displayName": "Scope Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Company Address",
              "displayName": "Company Address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "SUF",
              "displayName": "SUF",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Full/Part Time",
              "displayName": "Full/Part Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Time Zone",
              "displayName": "Time Zone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "JD + Client Profile",
              "displayName": "JD + Client Profile",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Client Rate",
              "displayName": "Client Rate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "PL STAGE",
              "displayName": "PL STAGE",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Endorsed to OPS",
              "displayName": "Endorsed to OPS",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Account Owner Email",
              "displayName": "Account Owner Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Account Owner Contact Details",
              "displayName": "Account Owner Contact Details",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Number of VA/s",
              "displayName": "Number of VA/s",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "SV Base Rate",
              "displayName": "SV Base Rate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "SV Email",
              "displayName": "SV Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "VA Source",
              "displayName": "VA Source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Virtual Assistant (from Placed VA)",
              "displayName": "Virtual Assistant (from Placed VA)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "PAD",
              "displayName": "PAD",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Docusign",
              "displayName": "Docusign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Logistics",
              "displayName": "Logistics",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Logistics For VA",
              "displayName": "Logistics For VA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "VA Start Date",
              "displayName": "VA Start Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Schedule for VA",
              "displayName": "Schedule for VA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Activity Logs",
              "displayName": "Activity Logs",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Logistics Request Status",
              "displayName": "Logistics Request Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Logistics Request Sent?",
              "displayName": "Logistics Request Sent?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Logistics Request Sent At",
              "displayName": "Logistics Request Sent At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Resend Logistics Request?",
              "displayName": "Resend Logistics Request?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "VA Image",
              "displayName": "VA Image",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Endorsement Email Status",
              "displayName": "Endorsement Email Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Endorsement Email Sent?",
              "displayName": "Endorsement Email Sent?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Endorsement Email Sent At",
              "displayName": "Endorsement Email Sent At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Resend Endorsement Email?",
              "displayName": "Resend Endorsement Email?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Congrats Email Status",
              "displayName": "Congrats Email Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Congrats Email Sent?",
              "displayName": "Congrats Email Sent?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Congrats Email Sent At",
              "displayName": "Congrats Email Sent At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Resend Congrats Email?",
              "displayName": "Resend Congrats Email?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "NCO",
              "displayName": "NCO",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Podio Upload",
              "displayName": "Podio Upload",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Record ID",
              "displayName": "Record ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "MVA Cancellation",
              "displayName": "MVA Cancellation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Other Recipient",
              "displayName": "Other Recipient",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "For Scrubbing?",
              "displayName": "For Scrubbing?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Fields with Missing Data",
              "displayName": "Fields with Missing Data",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last Scrubbed At",
              "displayName": "Last Scrubbed At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Profit Margin",
              "displayName": "Profit Margin",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Profit Justification",
              "displayName": "Profit Justification",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Profit Indicator",
              "displayName": "Profit Indicator",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Final Client Rate",
              "displayName": "Final Client Rate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Final SV Base Rate",
              "displayName": "Final SV Base Rate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Role (Rollup)",
              "displayName": "Role (Rollup)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Virtual Assistants copy",
              "displayName": "Virtual Assistants copy",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Client",
              "displayName": "Client",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Company (text)",
              "displayName": "Company (text)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "VA Name",
              "displayName": "VA Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Client OT Rate",
              "displayName": "Client OT Rate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "SV OT Rate",
              "displayName": "SV OT Rate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "POC Name",
              "displayName": "POC Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "POC Email",
              "displayName": "POC Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "POC Contact Number",
              "displayName": "POC Contact Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Rest Days",
              "displayName": "Rest Days",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "B2P Amendment",
              "displayName": "B2P Amendment",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "POC Position",
              "displayName": "POC Position",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Number of Working Hours",
              "displayName": "Number of Working Hours",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Day 1 Schedule",
              "displayName": "Day 1 Schedule",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Day 2 Schedule",
              "displayName": "Day 2 Schedule",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Day 3 Schedule",
              "displayName": "Day 3 Schedule",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Day 4 Schedule",
              "displayName": "Day 4 Schedule",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Day 5 Schedule",
              "displayName": "Day 5 Schedule",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Placements Representative",
              "displayName": "Placements Representative",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Representative Email",
              "displayName": "Representative Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Client Contract (Docusign)",
              "displayName": "Client Contract (Docusign)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "VA Contract (Docusign)",
              "displayName": "VA Contract (Docusign)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Envelope ID",
              "displayName": "Envelope ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Client Docusign Status",
              "displayName": "Client Docusign Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Sent",
                  "value": "Sent"
                },
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Signed",
                  "value": "Signed"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Follow-up Field Sent Timestamp",
              "displayName": "Follow-up Field Sent Timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Follow-up Stage",
              "displayName": "Follow-up Stage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "First Follow-up",
                  "value": "First Follow-up"
                },
                {
                  "name": "Second Follow-up",
                  "value": "Second Follow-up"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Client Signed On",
              "displayName": "Client Signed On",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        496,
        0
      ],
      "id": "e09f1083-e9ea-43f5-a5cd-e7bf3415b096",
      "name": "Update Sent Timestamp",
      "credentials": {
        "airtableTokenApi": {
          "id": "cHANqvXsE4Fgk1Fq",
          "name": "Airtable Personal Access Token account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-wait-hours",
              "leftValue": "={{ $json.waitHours }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3248,
        -16
      ],
      "id": "232546db-2bfa-4dab-ac01-ec6d458afbcd",
      "name": "Should Send Urgent? (Change into Greater than 0)"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Update Sent Timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Current Status": {
      "main": [
        [
          {
            "node": "Is Still Unsigned?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Still Unsigned?": {
      "main": [
        [
          {
            "node": "Build 24hr Reminder Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build 24hr Reminder Email": {
      "main": [
        [
          {
            "node": "Send First Follow-up Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send First Follow-up Email": {
      "main": [
        [
          {
            "node": "Add Sent Timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Sent Timestamp": {
      "main": [
        [
          {
            "node": "Update Airtable - First Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Airtable - First Follow-up": {
      "main": [
        [
          {
            "node": "Calculate Wait Time Until Urgent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Wait Time Until Urgent": {
      "main": [
        [
          {
            "node": "Should Send Urgent? (Change into Greater than 0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Until 24h Before Start": {
      "main": [
        [
          {
            "node": "Final Status Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Status Check": {
      "main": [
        [
          {
            "node": "Still Unsigned for Urgent?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Still Unsigned for Urgent?": {
      "main": [
        [
          {
            "node": "Build Urgent Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Urgent Email": {
      "main": [
        [
          {
            "node": "Send Urgent Follow-up Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Urgent Follow-up Email": {
      "main": [
        [
          {
            "node": "Add Urgent Sent Timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Urgent Sent Timestamp": {
      "main": [
        [
          {
            "node": "Update Airtable - Urgent Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Check Current Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sent Timestamp": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Send Urgent? (Change into Greater than 0)": {
      "main": [
        [
          {
            "node": "Wait Until 24h Before Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "svsolutionarchitects.app.n8n.cloud",
            "user-agent": "docusign",
            "content-length": "432",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "64.207.219.136",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "9ab5396147cc6b4a-DFW",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json; charset=utf-8",
            "x-forwarded-for": "64.207.219.136, 172.68.26.246",
            "x-forwarded-host": "svsolutionarchitects.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-43-869467f569-qvbjs",
            "x-is-trusted": "yes",
            "x-real-ip": "64.207.219.136"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "recipient-sent",
            "apiVersion": "v2.1",
            "uri": "/restapi/v2.1/accounts/631fe522-54f7-4a28-a21b-8bea68c36aed/envelopes/a0401cd2-854c-8845-80f4-cce8cbc60962",
            "retryCount": 0,
            "configurationId": 21990816,
            "generatedDateTime": "2025-12-09T14:34:14.1176695Z",
            "data": {
              "accountId": "631fe522-54f7-4a28-a21b-8bea68c36aed",
              "userId": "3a28209c-c347-42a7-990e-9e76d4714c45",
              "envelopeId": "a0401cd2-854c-8845-80f4-cce8cbc60962",
              "recipientId": "1"
            }
          },
          "webhookUrl": "https://svsolutionarchitects.app.n8n.cloud/webhook/cb7d1155-89e1-47b2-acea-08ba404f3374",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "661e4282-7532-4dd6-a174-27f985ca3c4e",
  "activeVersionId": null,
  "versionCounter": 58,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-08T14:58:27.361Z",
      "createdAt": "2025-12-08T14:58:27.361Z",
      "role": "workflow:owner",
      "workflowId": "NEo5UWil6nuLlEj1",
      "projectId": "MnrYTtvkn4gmLPx6",
      "project": {
        "updatedAt": "2025-09-25T13:21:38.033Z",
        "createdAt": "2025-09-25T13:21:38.033Z",
        "id": "MnrYTtvkn4gmLPx6",
        "name": "My project",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layers"
        },
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-09-25T13:21:38.038Z",
            "createdAt": "2025-09-25T13:21:38.038Z",
            "userId": "16f0560f-622c-469e-b224-0a5affca8f72",
            "projectId": "MnrYTtvkn4gmLPx6",
            "user": {
              "updatedAt": "2026-07-07T04:01:27.000Z",
              "createdAt": "2025-09-03T13:17:32.990Z",
              "id": "16f0560f-622c-469e-b224-0a5affca8f72",
              "email": "solutions@scalevirtually.com",
              "firstName": "Solution",
              "lastName": "Architects",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "WjBrrZhkOqOXwPCx",
                "userActivatedAt": 1756930800597,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1776797401530
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-07-06",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-05-01T15:51:41.546Z",
      "createdAt": "2026-04-29T02:41:36.848Z",
      "id": "gEjLijqqlVjM2WW5",
      "name": "Paused/Retired"
    }
  ],
  "activeVersion": null
}