jotform-eva-bilingual__E01DtmZapHvQOt73.json
{
  "updatedAt": "2026-04-29T18:01:18.019Z",
  "createdAt": "2026-03-31T20:28:17.757Z",
  "id": "E01DtmZapHvQOt73",
  "name": "[JotForm] EVA Bilingual",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "form": "260894361860060",
        "onlyAnswers": false
      },
      "id": "d433b62b-269c-4b00-a001-b647f0ca62b5",
      "name": "Jotform Trigger",
      "type": "n8n-nodes-base.jotFormTrigger",
      "typeVersion": 1,
      "position": [
        192,
        112
      ],
      "webhookId": "8505fcfb-e273-498e-8b15-68fd7b029c5c",
      "credentials": {
        "jotFormApi": {
          "id": "oSP9HZQEaTyKBuX5",
          "name": "Solutions Jotform"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst raw = data.rawRequest || {};\n\n// Candidate Info\nconst nameObj = raw['Name'] || {};\nconst firstName = typeof nameObj === 'object' ? (nameObj.first || '') : String(nameObj);\nconst lastName  = typeof nameObj === 'object' ? (nameObj.last  || '') : '';\nconst candidateName  = (firstName + ' ' + lastName).trim();\nconst candidateEmail = raw['Email'] || '';\nconst submissionDate = new Date().toISOString().split('T')[0];\nconst videoLink = raw['Short Intro Video link'] || 'Not provided';\n\n// Strip HTML helper\nfunction stripHtml(str) {\n  if (typeof str !== 'string') return String(str || '');\n  return str\n    .replace(/<br\\s*\\/?>/gi, '\\n')\n    .replace(/<b>(.*?)<\\/b>/gi, '$1')\n    .replace(/<[^>]+>/g, '')\n    .replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&amp;/g, '&')\n    .replace(/&quot;/g, '\"').replace(/&nbsp;/g, ' ')\n    .trim();\n}\n\n// Part 1 \u2014 Priority Ranking\nconst rankingKey = Object.keys(raw).find(k => k.includes('Prioritize the emails'));\nconst priorityRanking = rankingKey ? stripHtml(raw[rankingKey]) : 'Not provided';\n\n// Part 1 \u2014 Action Matrix\nconst matrixKey = Object.keys(raw).find(k => k.includes('Identify what needs immediate action'));\nconst actionMatrix = matrixKey ? (raw[matrixKey] || {}) : {};\nconst emailLabels = [\n  'Email 1 \u2014 URGENT: Client unhappy about missed deadline',\n  'Email 2 \u2014 Podcast Invitation',\n  'Email 3 \u2014 Team Internal: Project Delay',\n  'Email 4 \u2014 Invoice Approval',\n  'Email 5 \u2014 Calendar Conflict Tomorrow'\n];\nconst immediateActions = [], canWait = [], toDelegate = [];\nfor (let i = 0; i < 5; i++) {\n  const row = actionMatrix[i.toString()];\n  if (!row) continue;\n  let category = null;\n  if (Array.isArray(row)) { category = row[0]; }\n  else if (typeof row === 'object') { const vals = Object.values(row); if (vals.length) category = vals[0]; }\n  if (category === 'Needs Immediate Action') immediateActions.push('\u2022 ' + emailLabels[i]);\n  else if (category === 'Can Wait')           canWait.push('\u2022 '           + emailLabels[i]);\n  else if (category === 'Should be Delegated') toDelegate.push('\u2022 '      + emailLabels[i]);\n}\n\n// Part 1 \u2014 Draft Replies\nconst draft1Key = Object.keys(raw).find(k => k.includes('#1 highest priority'));\nconst draft2Key = Object.keys(raw).find(k => k.includes('#2 highest priority'));\nconst draftReply1 = draft1Key ? stripHtml(raw[draft1Key]) : 'Not provided';\nconst draftReply2 = draft2Key ? stripHtml(raw[draft2Key]) : 'Not provided';\n\n// Part 2 \u2014 Calendar\nconst scheduleKey  = Object.keys(raw).find(k => k.toLowerCase().includes('reorganize the schedule'));\nconst reasoningKey = Object.keys(raw).find(k => k.toLowerCase().includes('explain your reasoning'));\nconst revisedSchedule   = scheduleKey  ? stripHtml(raw[scheduleKey])  : 'Not provided';\nconst calendarReasoning = reasoningKey ? stripHtml(raw[reasoningKey]) : 'Not provided';\n\n// Part 3 \u2014 Project Breakdown\nconst projectKey  = Object.keys(raw).find(k => k.toLowerCase().includes('plan to execute') || k.toLowerCase().includes('simple plan'));\nconst projectPlan = projectKey ? stripHtml(raw[projectKey]) : 'Not provided';\n\n// Part 4 \u2014 Bilingual\nconst engKey = Object.keys(raw).find(k => k.toLowerCase().includes('english'));\nconst spaKey = Object.keys(raw).find(k => k.toLowerCase().includes('spanish'));\nconst bilingualEnglish = engKey ? stripHtml(raw[engKey]) : 'Not provided';\nconst bilingualSpanish = spaKey ? stripHtml(raw[spaKey]) : 'Not provided';\n\nconst formattedSubmission = [\n  'CANDIDATE SUBMISSION', '---',\n  'Name: ' + candidateName,\n  'Email: ' + candidateEmail,\n  'Date Submitted: ' + submissionDate, '',\n  'PART 1 \u2014 INBOX PRIORITIZATION', '',\n  'Priority Ranking (1 = most urgent):', priorityRanking, '',\n  'Immediate Action Items:', (immediateActions.length ? immediateActions.join('\\n') : '\u2022 Not specified'), '',\n  'Can Wait:', (canWait.length ? canWait.join('\\n') : '\u2022 Not specified'), '',\n  'Delegate:', (toDelegate.length ? toDelegate.join('\\n') : '\u2022 Not specified'), '',\n  'Draft Reply \u2014 Email 1 (Highest Priority):', draftReply1, '',\n  'Draft Reply \u2014 Email 2 (Second Priority):', draftReply2, '',\n  'PART 2 \u2014 CALENDAR DECISION', '',\n  'Revised Schedule:', revisedSchedule, '',\n  'Reasoning:', calendarReasoning, '',\n  'PART 3 \u2014 PROJECT BREAKDOWN', '',\n  'Objective: Launch a 2-week employee referral program', '',\n  'Plan / Key Steps:', projectPlan, '',\n  'PART 4 \u2014 BILINGUAL RESPONSE', '',\n  'English:', bilingualEnglish, '',\n  'Spanish:', bilingualSpanish\n].join('\\n');\n\nreturn [{ json: { candidateName, candidateEmail, submissionDate, videoLink, formattedSubmission } }];"
      },
      "id": "9e048f82-56e1-4773-809e-2c6f2bc34e79",
      "name": "Format Submission",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        112
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.formattedSubmission }}",
        "options": {
          "systemMessage": "You are an expert hiring assessor evaluating candidates for a Bilingual Executive Assistant / Executive Operations Partner role.\n\nEvaluate strictly based on the candidate's submitted answers only. Do not assume missing information. Do not fill gaps. Be strict and objective.\n\nThis role requires:\n- Strong prioritization and urgency judgment\n- Executive-level decision-making\n- Clear, professional, calm communication\n- Ability to structure ambiguous work into actionable plans\n- Full operational ownership with minimal supervision\n- Bilingual fluency in English and Spanish (written)\n\n---\nWHAT TO EVALUATE\n---\n\nPart 1 \u2014 Inbox Prioritization\n- Did they rank the 5 emails correctly (client escalation \u2192 calendar conflict \u2192 internal delay \u2192 invoice \u2192 podcast)?\n- Did they correctly identify what needs immediate action, what can wait, what to delegate?\n- Are the 2 draft replies clear, calm, concise, and solution-oriented \u2014 no over-explaining?\n\nPart 2 \u2014 Calendar & Decision-Making\n- Did they reorganize the 4 conflicting items correctly (client escalation first, deep work preserved, team meeting adjusted, personal respected but not at business cost)?\n- Did they explain their reasoning in 3\u20135 bullet points?\n- Is the judgment sound \u2014 do they protect high-value time?\n\nPart 3 \u2014 Project Breakdown\n- Did they break the 2-week referral program into clear phases (planning \u2192 build \u2192 launch)?\n- Did they identify what needs to be decided and flag risks/blockers?\n- Is the sequencing logical \u2014 no chaos, no vague steps?\n\nPart 4 \u2014 Bilingual (if applicable)\n- Is the English response professional and clear?\n- Is the Spanish consistent with the English \u2014 same tone, same meaning?\n- Is it fluent enough to send to a client?\n\n---\nSCORING INSTRUCTIONS\n---\nScore each category 1\u20135. Be strict. Do not inflate scores.\nPenalize vague, passive, or generic responses.\nPrioritization and Decision-Making carry the highest weight.\n\n1. PRIORITIZATION\nDid they correctly identify urgency vs. noise?\n- 1\u20132 = incorrect or random order\n- 3 = mostly correct, weak reasoning\n- 4 = strong and reliable\n- 5 = excellent executive-level judgment\n\n2. COMMUNICATION\nAre responses clear, concise, and professional?\n- 1\u20132 = unclear or unprofessional\n- 3 = acceptable\n- 4 = clear and professional\n- 5 = highly polished, executive-ready\n\n3. DECISION-MAKING\nDoes the candidate make sound decisions and justify them?\n- 1\u20132 = avoids decisions or weak reasoning\n- 3 = acceptable\n- 4 = strong judgment, protects priorities\n- 5 = excellent \u2014 would trust them to act independently\n\n4. STRUCTURE & THINKING\nCan they turn vague input into a clear, logical plan?\n- 1\u20132 = disorganized\n- 3 = some structure\n- 4 = clear and logical\n- 5 = highly structured and strategic\n\n5. BILINGUAL COMMUNICATION\nOnly score if both languages are provided.\n- 1\u20132 = unclear or inconsistent\n- 3 = understandable\n- 4 = clear and professional\n- 5 = highly fluent and consistent\nIf not provided: write \"Not scored\"\n\n---\nPASS / FAIL RULES\n---\nPASS if:\n- Prioritization >= 4\n- Decision-Making >= 4\n- No category below 3\n- Bilingual passes (if applicable)\n\nBORDERLINE if:\n- Some strengths but at least one meaningful weakness\n\nFAIL if:\n- Prioritization < 4 OR Decision-making < 4\n- OR any category below 3\n- OR poor communication throughout\n\n---\nFINAL FILTER\n---\nBefore recommending PASS, confirm:\n\"Would I trust this person to run an executive's day without constant supervision?\"\nIf the answer is hesitant \u2014 recommend BORDERLINE or FAIL.\n\n---\nOUTPUT FORMAT \u2014 DO NOT CHANGE\n---\nCandidate Evaluation\n\nPrioritization: X/5\nReasoning:\n\nCommunication: X/5\nReasoning:\n\nDecision-Making: X/5\nReasoning:\n\nStructure & Thinking: X/5\nReasoning:\n\nBilingual Communication: X/5 or Not scored\nReasoning:\n\nStrengths:\n-\n-\n\nRed Flags:\n-\n-\n\nFinal Recommendation: PASS / BORDERLINE / FAIL\n\nOverall Explanation:\n(2 to 5 sentences only)"
        }
      },
      "id": "f1cfe910-ebfa-4a4f-a90f-f079b64ae8fd",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        640,
        272
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-20250514",
          "mode": "list",
          "cachedResultName": "claude-sonnet-4-20250514"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "e8efd03e-6a28-473d-9148-d15e692c8985",
      "name": "Portkey - EVA Assessment",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        720,
        496
      ],
      "credentials": {
        "openAiApi": {
          "id": "kjgRtLKMRyfcC0gs",
          "name": "EVA Assessment"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const agentOutput = $input.first().json.output || $input.first().json.text || $input.first().json.message || '';\nconst prevData = $('Format Submission').first().json;\n\n// Strip bold markers before parsing\nconst clean = agentOutput.replace(/\\*\\*/g, '');\n\nfunction extractScore(text, label) {\n  const esc = label.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n  const m = text.match(new RegExp(esc + ':\\\\s*(\\\\d+)\\\\s*/\\\\s*5', 'i'));\n  return m ? parseInt(m[1]) : null;\n}\n\nfunction extractReasoning(text, startLabel, endLabel) {\n  const esc = s => s.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n  const startReg = new RegExp(esc(startLabel) + '[^\\\\n]*\\\\nReasoning:\\\\s*', 'i');\n  const startM = text.match(startReg);\n  if (!startM) return '';\n  const after = text.slice(startM.index + startM[0].length);\n  if (endLabel) {\n    const endM = after.match(new RegExp(esc(endLabel), 'i'));\n    return endM ? after.slice(0, endM.index).trim() : after.trim();\n  }\n  return after.trim();\n}\n\nconst prioritizationScore = extractScore(clean, 'Prioritization');\nconst communicationScore  = extractScore(clean, 'Communication');\nconst decisionMakingScore = extractScore(clean, 'Decision-Making');\nconst structureScore      = extractScore(clean, 'Structure & Thinking');\n\nconst bilingualRaw = clean.match(/Bilingual Communication:\\s*(?:(\\d+)\\s*\\/\\s*5|(Not scored))/i);\nconst bilingualScore = bilingualRaw ? (bilingualRaw[1] ? parseInt(bilingualRaw[1]) : 'Not scored') : 'Not scored';\n\nconst prioritizationReasoning = extractReasoning(clean, 'Prioritization:', 'Communication:');\nconst communicationReasoning  = extractReasoning(clean, 'Communication:', 'Decision-Making:');\nconst decisionReasoning       = extractReasoning(clean, 'Decision-Making:', 'Structure & Thinking:');\nconst structureReasoning      = extractReasoning(clean, 'Structure & Thinking:', 'Bilingual Communication:');\nconst bilingualReasoning      = extractReasoning(clean, 'Bilingual Communication:', 'Strengths:');\n\nconst strengthsM      = clean.match(/Strengths:\\s*([\\s\\S]*?)(?=Red Flags:|$)/i);\nconst redFlagsM       = clean.match(/Red Flags:\\s*([\\s\\S]*?)(?=Final Recommendation:|$)/i);\nconst recommendationM = clean.match(/Final Recommendation:\\s*(PASS|BORDERLINE|FAIL)/i);\nconst explanationM    = clean.match(/Overall Explanation:\\s*([\\s\\S]*?)$/i);\n\nconst strengths           = strengthsM      ? strengthsM[1].trim()           : '';\nconst redFlags            = redFlagsM       ? redFlagsM[1].trim()            : '';\nconst finalRecommendation = recommendationM ? recommendationM[1].toUpperCase() : 'BORDERLINE';\nconst overallExplanation  = explanationM    ? explanationM[1].trim()         : '';\n\nreturn [{ json: {\n  candidateName:            prevData.candidateName,\n  candidateEmail:           prevData.candidateEmail,\n  submissionDate:           prevData.submissionDate,\n  videoLink:                prevData.videoLink,\n  prioritizationScore, communicationScore, decisionMakingScore, structureScore, bilingualScore,\n  prioritizationReasoning, communicationReasoning, decisionReasoning, structureReasoning, bilingualReasoning,\n  strengths, redFlags, finalRecommendation, overallExplanation,\n  fullEvaluation: agentOutput\n}}];"
      },
      "id": "a7054fb1-796d-472b-b766-44c471de0002",
      "name": "Parse Evaluation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        272
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "pass-cond-1",
                    "leftValue": "={{ $json.fields[\"Final Recommendation\"] }}",
                    "rightValue": "PASS",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PASS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "borderline-cond-1",
                    "leftValue": "={{ $json.fields[\"Final Recommendation\"] }}",
                    "rightValue": "BORDERLINE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BORDERLINE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "fail-cond-1",
                    "leftValue": "={{ $json.fields[\"Final Recommendation\"] }}",
                    "rightValue": "FAIL",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FAIL"
            }
          ]
        },
        "options": {}
      },
      "id": "7736e507-1766-429f-8f2a-5e442f222646",
      "name": "Route by Result",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1664,
        96
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09ESC12MA5",
          "mode": "id"
        },
        "text": "=:white_check_mark: *EVA Assessment \u2014 PASS*\n*Candidate:* {{ $json.fields[\"Full Name\"] }} ({{ $json.fields[\"Email Address\"] }})\n*Submitted:* {{ $('Format Submission').item.json.submissionDate }}\n\n*Scores:*\n\u2022 Prioritization: {{ $json.fields[\"Score: Prioritization\"] }}/5\n\u2022 Communication: {{ $json.fields[\"Score: Communication\"] }}/5\n\u2022 Decision-Making: {{ $json.fields[\"Score: Decision-Making\"] }}/5\n\u2022 Structure & Thinking: {{ $json.fields[\"Score: Structure & Thinking\"] }}/5\n\n*Strengths:*\n{{ $json.fields.Strengths }}\n\n*Red Flags:*\n{{ $json.fields[\"Red Flags\"] }}\n\n*Overall:*\n{{ $json.fields[\"Overall Explanation\"] }}\n\n:point_right: Please review and confirm to move this candidate forward.",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "b8c42b0b-c557-4ead-9153-810cf9b3f71d",
      "name": "PASS - Notify Team",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1888,
        -80
      ],
      "webhookId": "f809ca4e-1a01-4d71-8c4a-6af2b6b55edd",
      "credentials": {
        "slackApi": {
          "id": "fCZASZSmQRqVQSXH",
          "name": "SVPortal"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09ESC12MA5",
          "mode": "id"
        },
        "text": "=:warning: *EVA Assessment \u2014 BORDERLINE \u2014 Human Review Required*\n*Candidate:* {{ $json.fields[\"Full Name\"] }} ({{ $json.fields[\"Email Address\"] }})\n*Submitted:* {{ $('Format Submission').item.json.submissionDate }}\n\n*Scores:*\n\u2022 Prioritization: {{ $json.fields[\"Score: Prioritization\"] }}/5\n\u2022 Communication: {{ $json.fields[\"Score: Communication\"] }}/5\n\u2022 Decision-Making: {{ $json.fields[\"Score: Decision-Making\"] }}/5\n\u2022 Structure & Thinking: {{ $json.fields[\"Score: Structure & Thinking\"] }}/5\n\n*Strengths:*\n{{ $json.fields.Strengths }}\n\n*Red Flags:*\n{{ $json.fields[\"Red Flags\"] }}\n\n*Overall:*\n{{ $json.fields[\"Overall Explanation\"] }}\n\n:point_right: This candidate needs manual review. Please make the call.",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "4ae53be2-5282-4f52-a5bf-70c199ff22cd",
      "name": "BORDERLINE - Notify Team",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1888,
        112
      ],
      "webhookId": "d0d906bc-1413-4899-a088-72fcc387cd1c",
      "credentials": {
        "slackApi": {
          "id": "fCZASZSmQRqVQSXH",
          "name": "SVPortal"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.fields[\"Email Address\"] }}",
        "subject": "Your EVA Assessment \u2014 Scale Virtually",
        "message": "=<p>Dear {{ $json.fields[\"Full Name\"] }},</p>\n\n<p>Thank you for taking the time to complete the assessment for the Bilingual Executive Assistant / Executive Operations Partner role at Scale Virtually.</p>\n\n<p>After carefully reviewing your submission, we have decided to move forward with other candidates whose qualifications more closely match our current needs.</p>\n\n<p>We appreciate the effort you put into the assessment and your interest in joining our team. We wish you the very best in your job search.</p>\n\n<p>Warm regards,<br>\nThe Scale Virtually Team</p>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "9d261711-5deb-4c9e-aa7b-448dd6f69ed1",
      "name": "FAIL - Rejection Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1888,
        304
      ],
      "webhookId": "0daf1090-d11a-4832-b20f-a762b7bb9085",
      "credentials": {
        "gmailOAuth2": {
          "id": "V7UmuhutGZTjFjs2",
          "name": "Placements.SV"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nconst raw = item.formattedSubmission;\n\nconst priorities = [];\nconst priorityRegex = /(\\d):\\s*<b>(Email \\d)<\\/b><br><b>Subject:<\\/b>\\s*(.*?)<br><b>Message:<\\/b>\\s*\"([^\"]+)\"/g;\nlet m;\nwhile ((m = priorityRegex.exec(raw)) !== null) {\n  priorities.push({\n    rank: parseInt(m[1]),\n    email: m[2],\n    subject: m[3].trim(),\n    message: m[4].trim()\n  });\n}\n\nconst actionMap = {};\n\nconst immediateBlock = raw.match(/Immediate Action Items:\\n([\\s\\S]*?)(?=\\nCan Wait:|$)/)?.[1] || '';\nimmediateBlock.match(/\u2022\\s*(.+)/g)?.forEach(l => {\n  const label = l.replace('\u2022', '').trim();\n  actionMap[label] = 'Immediate action';\n});\n\nconst waitBlock = raw.match(/Can Wait:\\n([\\s\\S]*?)(?=\\nDelegate:|$)/)?.[1] || '';\nwaitBlock.match(/\u2022\\s*(.+)/g)?.forEach(l => {\n  const label = l.replace('\u2022', '').trim();\n  actionMap[label] = 'Can wait';\n});\n\nconst delegateBlock = raw.match(/Delegate:\\n([\\s\\S]*?)(?=\\nDraft Reply|$)/)?.[1] || '';\ndelegateBlock.match(/\u2022\\s*(.+)/g)?.forEach(l => {\n  const label = l.replace('\u2022', '').trim();\n  actionMap[label] = 'Delegate';\n});\n\nconst draftReply1 = raw.match(/Draft Reply \u2014 Email 1[^:]*:\\n([\\s\\S]*?)(?=\\nDraft Reply \u2014 Email 2|$)/)?.[1]?.trim() || '';\nconst draftReply2 = raw.match(/Draft Reply \u2014 Email 2[^:]*:\\n([\\s\\S]*?)(?=\\nPART 2|$)/)?.[1]?.trim() || '';\n\nconst scheduleBlock = raw.match(/Revised Schedule:\\n([\\s\\S]*?)(?=\\nReasoning:|$)/)?.[1] || '';\nconst scheduleItems = scheduleBlock.trim().split(/\\r?\\n\\r?\\n/).map(s => s.trim()).filter(Boolean);\n\nconst reasoning = raw.match(/Reasoning:\\n([\\s\\S]*?)(?=\\nPART 3|$)/)?.[1]?.trim() || '';\n\nconst projectPlan = raw.match(/Plan \\/ Key Steps:\\n([\\s\\S]*?)(?=\\nPART 4|$)/)?.[1]?.trim() || '';\n\nconst englishResponse = raw.match(/English:\\n([\\s\\S]*?)(?=\\nSpanish:|$)/)?.[1]?.trim() || '';\nconst spanishResponse = raw.match(/Spanish:\\n([\\s\\S]*?)$/)?.[1]?.trim() || '';\n\nreturn [{\n  json: {\n    candidateName: item.candidateName,\n    candidateEmail: item.candidateEmail,\n    submissionDate: item.submissionDate,\n    videoLink: item.videoLink,\n    part1: {\n      priorityRanking: priorities,\n      actionClassification: actionMap,\n      draftReply1,\n      draftReply2\n    },\n    part2: {\n      schedule: scheduleItems,\n      reasoning\n    },\n    part3: {\n      projectPlan\n    },\n    part4: {\n      englishResponse,\n      spanishResponse\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        -32
      ],
      "id": "facde6f3-b372-49da-9664-14e36c8fa20a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "apptuAm73VyH7pcHA",
          "mode": "list",
          "cachedResultName": "SV: Client Services",
          "cachedResultUrl": "https://airtable.com/apptuAm73VyH7pcHA"
        },
        "table": {
          "__rl": true,
          "value": "tblwXAzQeqjYI1HHK",
          "mode": "list",
          "cachedResultName": "EVA Assessment",
          "cachedResultUrl": "https://airtable.com/apptuAm73VyH7pcHA/tblwXAzQeqjYI1HHK"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Full Name": "={{ $json.candidateName }}",
            "Email Address": "={{ $json.candidateEmail }}",
            "1st Priority": "={{ $json.part1.priorityRanking[0].subject }}",
            "2nd Priority": "={{ $json.part1.priorityRanking[1].subject }}",
            "3rd Priority": "={{ $json.part1.priorityRanking[2].subject }}",
            "4th Priority": "={{ $json.part1.priorityRanking[3].subject }}",
            "5th Priority": "={{ $json.part1.priorityRanking[4].subject }}",
            "URGENT: Client unhappy about missed deadline": "={{ $json.part1.actionClassification[\"Email 1 \u2014 URGENT: Client unhappy about missed deadline\"] }}",
            "Podcast Invitation": "={{ $json.part1.actionClassification[\"Email 2 \u2014 Podcast Invitation\"] }}",
            "Team Internal: Project Delay": "={{ $json.part1.actionClassification[\"Email 3 \u2014 Team Internal: Project Delay\"] }}",
            "Invoice Approval": "={{ $json.part1.actionClassification[\"Email 4 \u2014 Invoice Approval\"] }}",
            "Calendar Conflict Tomorrow": "={{ $json.part1.actionClassification[\"Email 5 \u2014 Calendar Conflict Tomorrow\"] }}",
            "Draft 1 Reply": "={{ $json.part1.draftReply1 }}",
            "Draft 2 Reply": "={{ $json.part1.draftReply2 }}",
            "Schedule": "={{ $json.part2.schedule }}",
            "Reasoning": "={{ $json.part2.reasoning }}",
            "Project Planning": "={{ $json.part3.projectPlan }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Bilingual Assessment?",
              "displayName": "Bilingual Assessment?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "1st Priority",
              "displayName": "1st Priority",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "URGENT: Client unhappy about missed deadline",
                  "value": "URGENT: Client unhappy about missed deadline"
                },
                {
                  "name": "Podcast Invitation",
                  "value": "Podcast Invitation"
                },
                {
                  "name": "Team Internal - Project Delay",
                  "value": "Team Internal - Project Delay"
                },
                {
                  "name": "Invoice Approval",
                  "value": "Invoice Approval"
                },
                {
                  "name": "Calendar Conflict Tomorrow",
                  "value": "Calendar Conflict Tomorrow"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "2nd Priority",
              "displayName": "2nd Priority",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "URGENT: Client unhappy about missed deadline",
                  "value": "URGENT: Client unhappy about missed deadline"
                },
                {
                  "name": "Podcast Invitation",
                  "value": "Podcast Invitation"
                },
                {
                  "name": "Team Internal - Project Delay",
                  "value": "Team Internal - Project Delay"
                },
                {
                  "name": "Invoice Approval",
                  "value": "Invoice Approval"
                },
                {
                  "name": "Calendar Conflict Tomorrow",
                  "value": "Calendar Conflict Tomorrow"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "3rd Priority",
              "displayName": "3rd Priority",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "URGENT: Client unhappy about missed deadline",
                  "value": "URGENT: Client unhappy about missed deadline"
                },
                {
                  "name": "Podcast Invitation",
                  "value": "Podcast Invitation"
                },
                {
                  "name": "Team Internal - Project Delay",
                  "value": "Team Internal - Project Delay"
                },
                {
                  "name": "Invoice Approval",
                  "value": "Invoice Approval"
                },
                {
                  "name": "Calendar Conflict Tomorrow",
                  "value": "Calendar Conflict Tomorrow"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "4th Priority",
              "displayName": "4th Priority",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "URGENT: Client unhappy about missed deadline",
                  "value": "URGENT: Client unhappy about missed deadline"
                },
                {
                  "name": "Podcast Invitation",
                  "value": "Podcast Invitation"
                },
                {
                  "name": "Team Internal - Project Delay",
                  "value": "Team Internal - Project Delay"
                },
                {
                  "name": "Invoice Approval",
                  "value": "Invoice Approval"
                },
                {
                  "name": "Calendar Conflict Tomorrow",
                  "value": "Calendar Conflict Tomorrow"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "5th Priority",
              "displayName": "5th Priority",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "URGENT: Client unhappy about missed deadline",
                  "value": "URGENT: Client unhappy about missed deadline"
                },
                {
                  "name": "Podcast Invitation",
                  "value": "Podcast Invitation"
                },
                {
                  "name": "Team Internal - Project Delay",
                  "value": "Team Internal - Project Delay"
                },
                {
                  "name": "Invoice Approval",
                  "value": "Invoice Approval"
                },
                {
                  "name": "Calendar Conflict Tomorrow",
                  "value": "Calendar Conflict Tomorrow"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "URGENT: Client unhappy about missed deadline",
              "displayName": "URGENT: Client unhappy about missed deadline",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Immediate action",
                  "value": "Immediate action"
                },
                {
                  "name": "Can wait",
                  "value": "Can wait"
                },
                {
                  "name": "Delegate",
                  "value": "Delegate"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Podcast Invitation",
              "displayName": "Podcast Invitation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Immediate action",
                  "value": "Immediate action"
                },
                {
                  "name": "Can wait",
                  "value": "Can wait"
                },
                {
                  "name": "Delegate",
                  "value": "Delegate"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Team Internal: Project Delay",
              "displayName": "Team Internal: Project Delay",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Immediate action",
                  "value": "Immediate action"
                },
                {
                  "name": "Can wait",
                  "value": "Can wait"
                },
                {
                  "name": "Delegate",
                  "value": "Delegate"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Invoice Approval",
              "displayName": "Invoice Approval",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Immediate action",
                  "value": "Immediate action"
                },
                {
                  "name": "Can wait",
                  "value": "Can wait"
                },
                {
                  "name": "Delegate",
                  "value": "Delegate"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Calendar Conflict Tomorrow",
              "displayName": "Calendar Conflict Tomorrow",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Immediate action",
                  "value": "Immediate action"
                },
                {
                  "name": "Can wait",
                  "value": "Can wait"
                },
                {
                  "name": "Delegate",
                  "value": "Delegate"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Draft 1 Reply",
              "displayName": "Draft 1 Reply",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Draft 2 Reply",
              "displayName": "Draft 2 Reply",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Schedule",
              "displayName": "Schedule",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Reasoning",
              "displayName": "Reasoning",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Project Planning",
              "displayName": "Project Planning",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Score: Prioritization",
              "displayName": "Score: Prioritization",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Score: Communication",
              "displayName": "Score: Communication",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Score: Decision-Making",
              "displayName": "Score: Decision-Making",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Score: Structure & Thinking",
              "displayName": "Score: Structure & Thinking",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Score: Language",
              "displayName": "Score: Language",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Prioritization Reasoning",
              "displayName": "Prioritization Reasoning",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Communication Reasoning",
              "displayName": "Communication Reasoning",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Decision Reasoning",
              "displayName": "Decision Reasoning",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Structure Reasoning",
              "displayName": "Structure Reasoning",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Bilingual Reasoning",
              "displayName": "Bilingual Reasoning",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Strengths",
              "displayName": "Strengths",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Red Flags",
              "displayName": "Red Flags",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Final Recommendation",
              "displayName": "Final Recommendation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Overall Explanation",
              "displayName": "Overall Explanation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Full Evaluation",
              "displayName": "Full Evaluation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "id": "3e570b53-225c-402f-9076-907788bfb179",
      "name": "Insert answers",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        992,
        -32
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "U3gBjpF0dhVqmzWx",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1216,
        112
      ],
      "id": "d3a69896-3e32-4da1-970c-805fb2badb65",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "apptuAm73VyH7pcHA",
          "mode": "list",
          "cachedResultName": "SV: Client Services",
          "cachedResultUrl": "https://airtable.com/apptuAm73VyH7pcHA"
        },
        "table": {
          "__rl": true,
          "value": "tblwXAzQeqjYI1HHK",
          "mode": "list",
          "cachedResultName": "EVA Assessment",
          "cachedResultUrl": "https://airtable.com/apptuAm73VyH7pcHA/tblwXAzQeqjYI1HHK"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Score: Prioritization": "={{ $json.prioritizationScore }}",
            "Score: Communication": "={{ $json.communicationScore }}",
            "Score: Decision-Making": "={{ $json.decisionMakingScore }}",
            "Score: Structure & Thinking": "={{ $json.structureScore }}",
            "Score: Language": "={{ $json.bilingualScore }}",
            "Email Address": "={{ $json.candidateEmail }}",
            "Prioritization Reasoning": "={{ $json.prioritizationReasoning }}",
            "Communication Reasoning": "={{ $json.communicationReasoning }}",
            "Decision Reasoning": "={{ $json.decisionReasoning }}",
            "Structure Reasoning": "={{ $json.structureReasoning }}",
            "Bilingual Reasoning": "={{ $json.bilingualReasoning }}",
            "Strengths": "={{ $json.strengths }}",
            "Red Flags": "={{ $json.redFlags }}",
            "Final Recommendation": "={{ $json.finalRecommendation }}",
            "Overall Explanation": "={{ $json.overallExplanation }}",
            "Full Evaluation": "={{ $json.fullEvaluation }}",
            "id": "={{ $json.id }}"
          },
          "matchingColumns": [
            "Email Address",
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Bilingual Assessment?",
              "displayName": "Bilingual Assessment?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "1st Priority",
              "displayName": "1st Priority",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "URGENT: Client unhappy about missed deadline",
                  "value": "URGENT: Client unhappy about missed deadline"
                },
                {
                  "name": "Podcast Invitation",
                  "value": "Podcast Invitation"
                },
                {
                  "name": "Team Internal - Project Delay",
                  "value": "Team Internal - Project Delay"
                },
                {
                  "name": "Invoice Approval",
                  "value": "Invoice Approval"
                },
                {
                  "name": "Calendar Conflict Tomorrow",
                  "value": "Calendar Conflict Tomorrow"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "2nd Priority",
              "displayName": "2nd Priority",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "URGENT: Client unhappy about missed deadline",
                  "value": "URGENT: Client unhappy about missed deadline"
                },
                {
                  "name": "Podcast Invitation",
                  "value": "Podcast Invitation"
                },
                {
                  "name": "Team Internal - Project Delay",
                  "value": "Team Internal - Project Delay"
                },
                {
                  "name": "Invoice Approval",
                  "value": "Invoice Approval"
                },
                {
                  "name": "Calendar Conflict Tomorrow",
                  "value": "Calendar Conflict Tomorrow"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "3rd Priority",
              "displayName": "3rd Priority",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "URGENT: Client unhappy about missed deadline",
                  "value": "URGENT: Client unhappy about missed deadline"
                },
                {
                  "name": "Podcast Invitation",
                  "value": "Podcast Invitation"
                },
                {
                  "name": "Team Internal - Project Delay",
                  "value": "Team Internal - Project Delay"
                },
                {
                  "name": "Invoice Approval",
                  "value": "Invoice Approval"
                },
                {
                  "name": "Calendar Conflict Tomorrow",
                  "value": "Calendar Conflict Tomorrow"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "4th Priority",
              "displayName": "4th Priority",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "URGENT: Client unhappy about missed deadline",
                  "value": "URGENT: Client unhappy about missed deadline"
                },
                {
                  "name": "Podcast Invitation",
                  "value": "Podcast Invitation"
                },
                {
                  "name": "Team Internal - Project Delay",
                  "value": "Team Internal - Project Delay"
                },
                {
                  "name": "Invoice Approval",
                  "value": "Invoice Approval"
                },
                {
                  "name": "Calendar Conflict Tomorrow",
                  "value": "Calendar Conflict Tomorrow"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "5th Priority",
              "displayName": "5th Priority",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "URGENT: Client unhappy about missed deadline",
                  "value": "URGENT: Client unhappy about missed deadline"
                },
                {
                  "name": "Podcast Invitation",
                  "value": "Podcast Invitation"
                },
                {
                  "name": "Team Internal - Project Delay",
                  "value": "Team Internal - Project Delay"
                },
                {
                  "name": "Invoice Approval",
                  "value": "Invoice Approval"
                },
                {
                  "name": "Calendar Conflict Tomorrow",
                  "value": "Calendar Conflict Tomorrow"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "URGENT: Client unhappy about missed deadline",
              "displayName": "URGENT: Client unhappy about missed deadline",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Immediate action",
                  "value": "Immediate action"
                },
                {
                  "name": "Can wait",
                  "value": "Can wait"
                },
                {
                  "name": "Delegate",
                  "value": "Delegate"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Podcast Invitation",
              "displayName": "Podcast Invitation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Immediate action",
                  "value": "Immediate action"
                },
                {
                  "name": "Can wait",
                  "value": "Can wait"
                },
                {
                  "name": "Delegate",
                  "value": "Delegate"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Team Internal: Project Delay",
              "displayName": "Team Internal: Project Delay",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Immediate action",
                  "value": "Immediate action"
                },
                {
                  "name": "Can wait",
                  "value": "Can wait"
                },
                {
                  "name": "Delegate",
                  "value": "Delegate"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Invoice Approval",
              "displayName": "Invoice Approval",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Immediate action",
                  "value": "Immediate action"
                },
                {
                  "name": "Can wait",
                  "value": "Can wait"
                },
                {
                  "name": "Delegate",
                  "value": "Delegate"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Calendar Conflict Tomorrow",
              "displayName": "Calendar Conflict Tomorrow",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Immediate action",
                  "value": "Immediate action"
                },
                {
                  "name": "Can wait",
                  "value": "Can wait"
                },
                {
                  "name": "Delegate",
                  "value": "Delegate"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Draft 1 Reply",
              "displayName": "Draft 1 Reply",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Draft 2 Reply",
              "displayName": "Draft 2 Reply",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Schedule",
              "displayName": "Schedule",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Reasoning",
              "displayName": "Reasoning",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Project Planning",
              "displayName": "Project Planning",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Score: Prioritization",
              "displayName": "Score: Prioritization",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Score: Communication",
              "displayName": "Score: Communication",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Score: Decision-Making",
              "displayName": "Score: Decision-Making",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Score: Structure & Thinking",
              "displayName": "Score: Structure & Thinking",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Score: Language",
              "displayName": "Score: Language",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Prioritization Reasoning",
              "displayName": "Prioritization Reasoning",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Communication Reasoning",
              "displayName": "Communication Reasoning",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Decision Reasoning",
              "displayName": "Decision Reasoning",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Structure Reasoning",
              "displayName": "Structure Reasoning",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Bilingual Reasoning",
              "displayName": "Bilingual Reasoning",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Strengths",
              "displayName": "Strengths",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Red Flags",
              "displayName": "Red Flags",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Final Recommendation",
              "displayName": "Final Recommendation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Overall Explanation",
              "displayName": "Overall Explanation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Full Evaluation",
              "displayName": "Full Evaluation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "id": "a8c81f2c-066c-40f6-ae79-2a6b277107e7",
      "name": "Upsert results",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1440,
        112
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "U3gBjpF0dhVqmzWx",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const agentOutput = $input.first().json.output || $input.first().json.text || $input.first().json.message || '';\nconst prevData = $('Format Submission').first().json;\n\nfunction extractScore(text, label) {\n  const esc = label.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n  const m = text.match(new RegExp(esc + ':\\\\s*(\\\\d+)\\\\s*/\\\\s*5', 'i'));\n  return m ? parseInt(m[1]) : null;\n}\n\nfunction extractReasoning(text, startLabel, endLabel) {\n  const esc = s => s.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n  const startReg = new RegExp(esc(startLabel) + '[^\\\\n]*\\\\nReasoning:\\\\s*', 'i');\n  const startM = text.match(startReg);\n  if (!startM) return '';\n  const after = text.slice(startM.index + startM[0].length);\n  if (endLabel) {\n    const endM = after.match(new RegExp(esc(endLabel), 'i'));\n    return endM ? after.slice(0, endM.index).trim() : after.trim();\n  }\n  return after.trim();\n}\n\nconst prioritizationScore  = extractScore(agentOutput, 'Prioritization');\nconst communicationScore   = extractScore(agentOutput, 'Communication');\nconst decisionMakingScore  = extractScore(agentOutput, 'Decision-Making');\nconst structureScore       = extractScore(agentOutput, 'Structure & Thinking');\nconst bilingualRaw = agentOutput.match(/Bilingual Communication:\\s*(?:(\\d+)\\s*\\/\\s*5|(Not scored))/i);\nconst bilingualScore = bilingualRaw ? (bilingualRaw[1] ? parseInt(bilingualRaw[1]) : 'Not scored') : 'Not scored';\n\nconst prioritizationReasoning = extractReasoning(agentOutput, 'Prioritization:', 'Communication:');\nconst communicationReasoning  = extractReasoning(agentOutput, 'Communication:', 'Decision-Making:');\nconst decisionReasoning       = extractReasoning(agentOutput, 'Decision-Making:', 'Structure & Thinking:');\nconst structureReasoning      = extractReasoning(agentOutput, 'Structure & Thinking:', 'Bilingual Communication:');\nconst bilingualReasoning      = extractReasoning(agentOutput, 'Bilingual Communication:', 'Strengths:');\n\nconst strengthsM       = agentOutput.match(/Strengths:\\s*([\\s\\S]*?)(?=Red Flags:|$)/i);\nconst redFlagsM        = agentOutput.match(/Red Flags:\\s*([\\s\\S]*?)(?=Final Recommendation:|$)/i);\nconst recommendationM  = agentOutput.match(/Final Recommendation:\\s*(PASS|BORDERLINE|FAIL)/i);\nconst explanationM     = agentOutput.match(/Overall Explanation:\\s*([\\s\\S]*?)$/i);\n\nconst strengths            = strengthsM      ? strengthsM[1].trim()      : '';\nconst redFlags             = redFlagsM       ? redFlagsM[1].trim()       : '';\nconst finalRecommendation  = recommendationM ? recommendationM[1].toUpperCase() : 'BORDERLINE';\nconst overallExplanation   = explanationM    ? explanationM[1].trim()    : '';\n\nreturn [{ json: {\n  candidateName:           prevData.candidateName,\n  candidateEmail:          prevData.candidateEmail,\n  submissionDate:          prevData.submissionDate,\n  videoLink:               prevData.videoLink,\n  prioritizationScore, communicationScore, decisionMakingScore, structureScore, bilingualScore,\n  prioritizationReasoning, communicationReasoning, decisionReasoning, structureReasoning, bilingualReasoning,\n  strengths, redFlags, finalRecommendation, overallExplanation,\n  fullEvaluation: agentOutput\n}}];"
      },
      "id": "71e0a830-65f5-41aa-92cd-046d9f880689",
      "name": "Parse Evaluation1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        432
      ]
    }
  ],
  "connections": {
    "Jotform Trigger": {
      "main": [
        [
          {
            "node": "Format Submission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Submission": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Portkey - EVA Assessment": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse Evaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Evaluation": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Route by Result": {
      "main": [
        [
          {
            "node": "PASS - Notify Team",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "BORDERLINE - Notify Team",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FAIL - Rejection Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Insert answers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert answers": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Upsert results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert results": {
      "main": [
        [
          {
            "node": "Route by Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Jotform Trigger": {
      "webhookId": "0"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Jotform Trigger": [
      {
        "json": {
          "action": "",
          "webhookURL": "https://svsolutionarchitects.app.n8n.cloud/webhook/0d077206-c6ef-4ea1-b5f3-ead0dce5b559/webhook",
          "username": "master_admin",
          "formID": "260894361860060",
          "type": "WEB",
          "customParams": "",
          "product": "",
          "formTitle": "EVA Assessment Form",
          "customTitle": "",
          "submissionID": "6507798169614237468",
          "event": "",
          "documentID": "",
          "teamID": "",
          "subject": "",
          "isSilent": "",
          "customBody": "",
          "rawRequest": {
            "Name": {
              "first": "Patrick Jansen",
              "last": "Villanueva"
            },
            "Email": "pj@scalevirtually.com",
            "Short Intro Video link": "test",
            "Prioritize the emails from most urgent to least urgent. Use the scale from 1 (most priority) to 5 (least priority)": "1: &lt;b&gt;Email 1&lt;/b&gt;&lt;br&gt;&lt;b&gt;Subject:&lt;/b&gt; URGENT: Client unhappy about missed deadline&lt;br&gt;&lt;b&gt;Message:&lt;/b&gt; \"We were expecting delivery yesterday and have not received anything. This is unacceptable. Please advise immediately.\"\r\n2: &lt;b&gt;Email 5&lt;/b&gt;&lt;br&gt;&lt;b&gt;Subject:&lt;/b&gt; Calendar Conflict Tomorrow&lt;br&gt;&lt;b&gt;Message:&lt;/b&gt; \"You have two overlapping meetings tomorrow at 10 AM.\"\r\n3: &lt;b&gt;Email 4&lt;/b&gt;&lt;br&gt;&lt;b&gt;Subject:&lt;/b&gt; Invoice Approval&lt;br&gt;&lt;b&gt;Message:&lt;/b&gt; \"Please approve the attached invoice so we can process payment today.\"\r\n4: &lt;b&gt;Email 3&lt;/b&gt;&lt;br&gt;&lt;b&gt;Subject:&lt;/b&gt; Team Internal - Project Delay&lt;br&gt;&lt;b&gt;Message:&lt;/b&gt; \"We're behind on Project X due to missing inputs from the client. Need direction.\"\r\n5: &lt;b&gt;Email 2&lt;/b&gt;&lt;br&gt;&lt;b&gt;Subject:&lt;/b&gt; Podcast Invitation&lt;br&gt;&lt;b&gt;Message:&lt;/b&gt; \"Hi! We'd love to invite your CEO to be a guest on our podcast next month. Let us know availability.\"",
            "Identify what needs immediate action, what can wait, and what should be delegated": {
              "0": [
                "Needs Immediate Action"
              ],
              "1": {
                "1": "Can Wait"
              },
              "2": [
                "Needs Immediate Action"
              ],
              "3": {
                "2": "Should be Delegated"
              },
              "4": [
                "Needs Immediate Action"
              ],
              "colIds": "[\"0\",\"1\",\"2\"]",
              "rowIds": "[\"0\",\"1\",\"2\",\"3\",\"5\"]"
            },
            "Draft a response for your #1 highest priority email here.": "Hi [Name]. I apologize for the delay in receiving your deliverables. I am tracking this down with the team right now and will provide you with a concrete ETA within the next 45 minutes.",
            "Draft a response for your #2 highest priority email here.": "Hi [Name], I saw the overlap for tomorrow at 10 AM. I\u2019ve reached out to the internal team to push their sync to 11 AM so we can keep the 10 AM slot strictly for the client presentation.",
            "Reorganize the schedule. ": "1:00 PM - 1:45 PM: Client Escalation \r\n\r\n1:45 PM - 2:15 PM: Team Meeting (Shortened to 30 mins) \r\n\r\n2:15 PM - 4:00 PM: Deep Work Block",
            "Explain your reasoning": "Client escalation is the top priority and must be handled first to protect the relationship.\r\n\r\nThe team meeting was condensed to 30 minutes to unblock them while saving time.\r\n\r\nThe Deep Work block was kept intact but shifted slightly later.\r\n\r\nThe personal appointment was moved to tomorrow or after hours, as business critical issues take precedence during this tight window.",
            "Create a simple plan to execute this launch": "1. Key Steps: Phase 1 (Days 1-3): Define reward structure & select software. Phase 2 (Days 4-8): Build landing page & email copy. Phase 3 (Days 9-12): QA testing. Phase 4 (Days 13-14): Launch to existing email list.\r\n\r\n2. Timeline: 14 days.\r\n\r\n3. Decisions needed: What is the incentive (cash vs. credit)? What is the maximum budget for the launch? \r\n\r\n4. Risks: Technical delays integrating the referral software with our current CRM; legal/compliance review of the terms and conditions taking too long."
          },
          "fromTable": "",
          "appID": "",
          "pretty": "Name:Patrick Jansen Villanueva, Email:pj@scalevirtually.com, Short Intro Video link:test, Prioritize the emails from most urgent to least urgent. Use the scale from 1 (most priority) to 5 (least priority):1: &lt;b&gt;Email 1&lt;/b&gt;&lt;br&gt;&lt;b&gt;Subject:&lt;/b&gt; URGENT: Client unhappy about missed deadline&lt;br&gt;&lt;b&gt;Message:&lt;/b&gt; \"We were expecting delivery yesterday and have not received anything. This is unacceptable. Please advise immediately.\"\r\n2: &lt;b&gt;Email 5&lt;/b&gt;&lt;br&gt;&lt;b&gt;Subject:&lt;/b&gt; Calendar Conflict Tomorrow&lt;br&gt;&lt;b&gt;Message:&lt;/b&gt; \"You have two overlapping meetings tomorrow at 10 AM.\"\r\n3: &lt;b&gt;Email 4&lt;/b&gt;&lt;br&gt;&lt;b&gt;Subject:&lt;/b&gt; Invoice Approval&lt;br&gt;&lt;b&gt;Message:&lt;/b&gt; \"Please approve the attached invoice so we can process payment today.\"\r\n4: &lt;b&gt;Email 3&lt;/b&gt;&lt;br&gt;&lt;b&gt;Subject:&lt;/b&gt; Team Internal - Project Delay&lt;br&gt;&lt;b&gt;Message:&lt;/b&gt; \"We're behind on Project X due to missing inputs from the client. Need direction.\"\r\n5: &lt;b&gt;Email 2&lt;/b&gt;&lt;br&gt;&lt;b&gt;Subject:&lt;/b&gt; Podcast Invitation&lt;br&gt;&lt;b&gt;Message:&lt;/b&gt; \"Hi! We'd love to invite your CEO to be a guest on our podcast next month. Let us know availability.\", Identify what needs immediate action, what can wait, and what should be delegated:Array Array Array Array Array [\"0\",\"1\",\"2\"] [\"0\",\"1\",\"2\",\"3\",\"5\"], Draft a response for your #1 highest priority email here.:Hi [Name]. I apologize for the delay in receiving your deliverables. I am tracking this down with the team right now and will provide you with a concrete ETA within the next 45 minutes., Draft a response for your #2 highest priority email here.:Hi [Name], I saw the overlap for tomorrow at 10 AM. I\u2019ve reached out to the internal team to push their sync to 11 AM so we can keep the 10 AM slot strictly for the client presentation., Reorganize the schedule. :1:00 PM - 1:45 PM: Client Escalation \r\n\r\n1:45 PM - 2:15 PM: Team Meeting (Shortened to 30 mins) \r\n\r\n2:15 PM - 4:00 PM: Deep Work Block, Explain your reasoning:Client escalation is the top priority and must be handled first to protect the relationship.\r\n\r\nThe team meeting was condensed to 30 minutes to unblock them while saving time.\r\n\r\nThe Deep Work block was kept intact but shifted slightly later.\r\n\r\nThe personal appointment was moved to tomorrow or after hours, as business critical issues take precedence during this tight window., Create a simple plan to execute this launch:1. Key Steps: Phase 1 (Days 1-3): Define reward structure & select software. Phase 2 (Days 4-8): Build landing page & email copy. Phase 3 (Days 9-12): QA testing. Phase 4 (Days 13-14): Launch to existing email list.\r\n\r\n2. Timeline: 14 days.\r\n\r\n3. Decisions needed: What is the incentive (cash vs. credit)? What is the maximum budget for the launch? \r\n\r\n4. Risks: Technical delays integrating the referral software with our current CRM; legal/compliance review of the terms and conditions taking too long., Resume:JD - Executive Assistant (bilingual) 033126.pdf",
          "unread": "",
          "parent": "",
          "ip": "136.158.65.169"
        }
      }
    ],
    "Merge": [
      {
        "json": {
          "id": "recG5hncia02HBIek",
          "createdTime": "2026-03-31T20:07:48.000Z",
          "fields": {
            "Full Name": "Patrick Jansen Villanueva",
            "Email Address": "pj@scalevirtually.com",
            "1st Priority": "URGENT: Client unhappy about missed deadline",
            "2nd Priority": "Calendar Conflict Tomorrow",
            "3rd Priority": "Invoice Approval",
            "4th Priority": "Team Internal - Project Delay",
            "5th Priority": "Podcast Invitation",
            "URGENT: Client unhappy about missed deadline": "Immediate action",
            "Podcast Invitation": "Can wait",
            "Team Internal: Project Delay": "Immediate action",
            "Invoice Approval": "Delegate",
            "Calendar Conflict Tomorrow": "Immediate action",
            "Draft 1 Reply": "Hi [Name]. I apologize for the delay in receiving your deliverables. I am tracking this down with the team right now and will provide you with a concrete ETA within the next 45 minutes.\n",
            "Draft 2 Reply": "Hi [Name], I saw the overlap for tomorrow at 10 AM. I\u2019ve reached out to the internal team to push their sync to 11 AM so we can keep the 10 AM slot strictly for the client presentation.\n",
            "Schedule": "[\n    \"1:00 PM - 1:45 PM: Client Escalation\",\n    \"1:45 PM - 2:15 PM: Team Meeting (Shortened to 30 mins)\",\n    \"2:15 PM - 4:00 PM: Deep Work Block\"\n]",
            "Reasoning": "Client escalation is the top priority and must be handled first to protect the relationship.\n\nThe team meeting was condensed to 30 minutes to unblock them while saving time.\n\nThe Deep Work block was kept intact but shifted slightly later.\n\nThe personal appointment was moved to tomorrow or after hours, as business critical issues take precedence during this tight window.\n",
            "Project Planning": "1. Key Steps: Phase 1 (Days 1-3): Define reward structure & select software. Phase 2 (Days 4-8): Build landing page & email copy. Phase 3 (Days 9-12): QA testing. Phase 4 (Days 13-14): Launch to existing email list.\n\n1. Timeline: 14 days.\n\n1. Decisions needed: What is the incentive (cash vs. credit)? What is the maximum budget for the launch? \n\n1. Risks: Technical delays integrating the referral software with our current CRM; legal/compliance review of the terms and conditions taking too long.\n"
          },
          "candidateName": "Patrick Jansen Villanueva",
          "candidateEmail": "pj@scalevirtually.com",
          "submissionDate": "2026-03-31",
          "videoLink": "test",
          "prioritizationScore": 2,
          "communicationScore": 4,
          "decisionMakingScore": 3,
          "structureScore": 3,
          "bilingualScore": "Not scored",
          "prioritizationReasoning": "",
          "communicationReasoning": "",
          "decisionReasoning": "",
          "structureReasoning": "",
          "bilingualReasoning": "",
          "strengths": "**\n- Clear, professional writing style that is appropriately concise\n- Takes ownership in client communication without being defensive\n- Identifies valid risks in project planning (technical integration, legal review)\n\n**",
          "redFlags": "**\n- Fundamental prioritization error (calendar conflict ranked too high, internal delay misread, invoice handling unclear)\n- Did not provide bilingual responses despite this being a core requirement\n- Project breakdown lacks operational depth and clear ownership\n- Calendar decision doesn't adequately protect deep work time as instructed\n- Didn't carefully follow instructions (wrote reply for wrong email)\n\n**",
          "finalRecommendation": "FAIL",
          "overallExplanation": "**\nWhile the candidate demonstrates professional communication skills, they fail on the two most critical competencies for an Executive Operations Partner: prioritization and decision-making. The email ranking shows they cannot reliably distinguish between what needs immediate executive attention versus what can wait or be delegated. The complete absence of bilingual responses is disqualifying for a role explicitly requiring Spanish fluency. The calendar and project work show some capability but not at the executive-level standard required. I would not trust this person to independently manage an executive's priorities without creating confusion or missing critical items.",
          "fullEvaluation": "**Candidate Evaluation**\n\n**Prioritization: 2/5**\n**Reasoning:**\nThe candidate's email ranking is fundamentally incorrect. They ranked the calendar conflict (#5) as second priority, ahead of both the invoice approval (#4) and the internal project delay (#3). The correct order should be: Client escalation \u2192 Calendar conflict \u2192 Internal delay \u2192 Invoice \u2192 Podcast. They also incorrectly identified Email 3 (internal delay) as needing \"immediate action\" when it explicitly states the delay is due to *client* inputs \u2014 meaning the team is blocked externally and this is lower urgency than the calendar conflict that affects tomorrow's schedule. The invoice was incorrectly delegated when the prompt states it needs approval \"today\" \u2014 this should be handled quickly by the executive or flagged as \"can wait\" only if truly non-urgent, but not delegated without context. This shows weak executive judgment on what actually requires immediate attention versus what can be sequenced appropriately.\n\n**Communication: 4/5**\n**Reasoning:**\nBoth draft replies are clear, professional, and appropriately concise. The client escalation response is calm, takes ownership, and commits to a specific timeframe (45 minutes). The calendar conflict reply is solution-oriented and clear. However, the candidate wrote a reply for Email 2 (podcast) when the instructions asked for replies to the \"two highest priority emails\" \u2014 which should have been Email 1 and Email 5 (calendar conflict), not the podcast invitation. This shows they didn't carefully follow instructions, though the writing quality itself is strong.\n\n**Decision-Making: 3/5**\n**Reasoning:**\nThe calendar reorganization shows some judgment but has significant flaws. Moving the personal appointment without any acknowledgment or consideration is acceptable in a true crisis, but the reasoning is thin. More concerning: they shortened the team meeting to 30 minutes without knowing if that's viable \u2014 this could create more problems than it solves. They also shifted the deep work block, which contradicts the instruction to \"protect high-value time.\" A stronger approach would have been: 1:00-1:45 Client escalation, 2:00-4:00 Deep work (protected), 4:00-4:30 Team meeting (moved), and address the personal appointment separately. The reasoning bullets are present but show reactive rather than strategic thinking.\n\n**Structure & Thinking: 3/5**\n**Reasoning:**\nThe project breakdown has the right elements (phases, timeline, decisions, risks) but lacks depth and precision. \"Phase 1 (Days 1-3): Define reward structure & select software\" is vague \u2014 who defines it? What criteria? What if software selection takes longer? \"Phase 2 (Days 4-8): Build landing page & email copy\" \u2014 who builds it? Internal or external? The phases don't show clear dependencies or decision gates. The risks identified are valid but generic (technical delays, legal review) without mitigation strategies. A strong candidate would have broken this into more granular steps with clear owners, dependencies, and contingency plans. The structure exists but feels surface-level rather than operationally rigorous.\n\n**Bilingual Communication: Not scored**\n**Reasoning:**\nNeither English nor Spanish responses were provided for Part 4. This is a critical omission for a role requiring bilingual fluency. Cannot evaluate.\n\n**Strengths:**\n- Clear, professional writing style that is appropriately concise\n- Takes ownership in client communication without being defensive\n- Identifies valid risks in project planning (technical integration, legal review)\n\n**Red Flags:**\n- Fundamental prioritization error (calendar conflict ranked too high, internal delay misread, invoice handling unclear)\n- Did not provide bilingual responses despite this being a core requirement\n- Project breakdown lacks operational depth and clear ownership\n- Calendar decision doesn't adequately protect deep work time as instructed\n- Didn't carefully follow instructions (wrote reply for wrong email)\n\n**Final Recommendation: FAIL**\n\n**Overall Explanation:**\nWhile the candidate demonstrates professional communication skills, they fail on the two most critical competencies for an Executive Operations Partner: prioritization and decision-making. The email ranking shows they cannot reliably distinguish between what needs immediate executive attention versus what can wait or be delegated. The complete absence of bilingual responses is disqualifying for a role explicitly requiring Spanish fluency. The calendar and project work show some capability but not at the executive-level standard required. I would not trust this person to independently manage an executive's priorities without creating confusion or missing critical items."
        },
        "binary": {},
        "pairedItem": [
          {
            "item": 0
          },
          {
            "item": 0,
            "input": 1
          },
          {
            "item": 0,
            "input": 1
          }
        ]
      }
    ],
    "AI Agent": [
      {
        "json": {
          "output": "**Candidate Evaluation**\n\n**Prioritization: 2/5**\n**Reasoning:**\nThe candidate's email ranking is fundamentally incorrect. They ranked the calendar conflict (#5) as second priority, ahead of both the invoice approval (#4) and the internal project delay (#3). The correct order should be: Client escalation \u2192 Calendar conflict \u2192 Internal delay \u2192 Invoice \u2192 Podcast. They also incorrectly identified Email 3 (internal delay) as needing \"immediate action\" when it explicitly states the delay is due to *client* inputs \u2014 meaning the team is blocked externally and this is lower urgency than the calendar conflict that affects tomorrow's schedule. The invoice was incorrectly delegated when the prompt states it needs approval \"today\" \u2014 this should be handled quickly by the executive or flagged as \"can wait\" only if truly non-urgent, but not delegated without context. This shows weak executive judgment on what actually requires immediate attention versus what can be sequenced appropriately.\n\n**Communication: 4/5**\n**Reasoning:**\nBoth draft replies are clear, professional, and appropriately concise. The client escalation response is calm, takes ownership, and commits to a specific timeframe (45 minutes). The calendar conflict reply is solution-oriented and clear. However, the candidate wrote a reply for Email 2 (podcast) when the instructions asked for replies to the \"two highest priority emails\" \u2014 which should have been Email 1 and Email 5 (calendar conflict), not the podcast invitation. This shows they didn't carefully follow instructions, though the writing quality itself is strong.\n\n**Decision-Making: 3/5**\n**Reasoning:**\nThe calendar reorganization shows some judgment but has significant flaws. Moving the personal appointment without any acknowledgment or consideration is acceptable in a true crisis, but the reasoning is thin. More concerning: they shortened the team meeting to 30 minutes without knowing if that's viable \u2014 this could create more problems than it solves. They also shifted the deep work block, which contradicts the instruction to \"protect high-value time.\" A stronger approach would have been: 1:00-1:45 Client escalation, 2:00-4:00 Deep work (protected), 4:00-4:30 Team meeting (moved), and address the personal appointment separately. The reasoning bullets are present but show reactive rather than strategic thinking.\n\n**Structure & Thinking: 3/5**\n**Reasoning:**\nThe project breakdown has the right elements (phases, timeline, decisions, risks) but lacks depth and precision. \"Phase 1 (Days 1-3): Define reward structure & select software\" is vague \u2014 who defines it? What criteria? What if software selection takes longer? \"Phase 2 (Days 4-8): Build landing page & email copy\" \u2014 who builds it? Internal or external? The phases don't show clear dependencies or decision gates. The risks identified are valid but generic (technical delays, legal review) without mitigation strategies. A strong candidate would have broken this into more granular steps with clear owners, dependencies, and contingency plans. The structure exists but feels surface-level rather than operationally rigorous.\n\n**Bilingual Communication: Not scored**\n**Reasoning:**\nNeither English nor Spanish responses were provided for Part 4. This is a critical omission for a role requiring bilingual fluency. Cannot evaluate.\n\n**Strengths:**\n- Clear, professional writing style that is appropriately concise\n- Takes ownership in client communication without being defensive\n- Identifies valid risks in project planning (technical integration, legal review)\n\n**Red Flags:**\n- Fundamental prioritization error (calendar conflict ranked too high, internal delay misread, invoice handling unclear)\n- Did not provide bilingual responses despite this being a core requirement\n- Project breakdown lacks operational depth and clear ownership\n- Calendar decision doesn't adequately protect deep work time as instructed\n- Didn't carefully follow instructions (wrote reply for wrong email)\n\n**Final Recommendation: FAIL**\n\n**Overall Explanation:**\nWhile the candidate demonstrates professional communication skills, they fail on the two most critical competencies for an Executive Operations Partner: prioritization and decision-making. The email ranking shows they cannot reliably distinguish between what needs immediate executive attention versus what can wait or be delegated. The complete absence of bilingual responses is disqualifying for a role explicitly requiring Spanish fluency. The calendar and project work show some capability but not at the executive-level standard required. I would not trust this person to independently manage an executive's priorities without creating confusion or missing critical items."
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "820fe9f0-19c4-4b1b-a25b-07c2eea08b75",
  "activeVersionId": null,
  "versionCounter": 58,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-31T20:28:17.761Z",
      "createdAt": "2026-03-31T20:28:17.761Z",
      "role": "workflow:owner",
      "workflowId": "E01DtmZapHvQOt73",
      "projectId": "MnrYTtvkn4gmLPx6",
      "project": {
        "updatedAt": "2025-09-25T13:21:38.033Z",
        "createdAt": "2025-09-25T13:21:38.033Z",
        "id": "MnrYTtvkn4gmLPx6",
        "name": "My project",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layers"
        },
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-09-25T13:21:38.038Z",
            "createdAt": "2025-09-25T13:21:38.038Z",
            "userId": "16f0560f-622c-469e-b224-0a5affca8f72",
            "projectId": "MnrYTtvkn4gmLPx6",
            "user": {
              "updatedAt": "2026-07-07T04:01:27.000Z",
              "createdAt": "2025-09-03T13:17:32.990Z",
              "id": "16f0560f-622c-469e-b224-0a5affca8f72",
              "email": "solutions@scalevirtually.com",
              "firstName": "Solution",
              "lastName": "Architects",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "WjBrrZhkOqOXwPCx",
                "userActivatedAt": 1756930800597,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1776797401530
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-07-06",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-05-01T15:51:41.546Z",
      "createdAt": "2026-04-29T02:41:36.848Z",
      "id": "gEjLijqqlVjM2WW5",
      "name": "Paused/Retired"
    }
  ],
  "activeVersion": null
}