run-a-self-hosted-multi-channel-ai-assistant-with-claude-gemini-and-gmail__NBqTqwIRHF9FROSW.json
{
  "updatedAt": "2026-04-15T12:25:10.752Z",
  "createdAt": "2026-04-15T12:25:10.752Z",
  "id": "NBqTqwIRHF9FROSW",
  "name": "Run a self-hosted multi-channel AI assistant with Claude, Gemini and Gmail",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "c842b3a1-106f-4754-be44-1639aa2ca093",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        976,
        1232
      ],
      "webhookId": "dbf7e7d0-4f08-49f4-abf8-e68328e00b24",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.5",
        "options": {}
      },
      "id": "0dca07cb-6961-4001-8738-e954dfd20ef1",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [
        3008,
        1264
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_INIT_TABLE_ID",
          "cachedResultUrl": "/projects/YOUR_PROJECT_ID/datatables/YOUR_INIT_TABLE_ID",
          "cachedResultName": "ClawdBot Init"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "username",
              "keyValue": "YOUR_USERNAME"
            }
          ]
        },
        "returnAll": true
      },
      "id": "58e26956-007d-46d3-b253-c1cd7a104206",
      "name": "Get row(s)",
      "type": "n8n-nodes-base.dataTable",
      "position": [
        2608,
        1296
      ],
      "typeVersion": 1,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "b1b370a8-b981-43ab-b1b0-88853bad298b",
              "operator": {
                "type": "number",
                "operation": "equals"
              },
              "leftValue": "={{ $json.message.chat.id }}",
              "rightValue": "={{ $if($('Telegram Trigger').isExecuted, $('Telegram Trigger').item.json.message.chat.id, YOUR_TELEGRAM_CHAT_ID) }}"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "10c194f5-355e-405b-ade2-1d9b569fca1a",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "position": [
        1184,
        1232
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ac8d70f0-59ba-4381-942d-18f7401a4705",
              "name": "user_message",
              "type": "string",
              "value": "={{ $if($('Transcribe a recording').isExecuted, $('Transcribe a recording').item.json.content.parts[0].text, $if($('Analyze document').isExecuted, $('Analyze document').item.json.content.parts[0].text, $if($('Analyze an image').isExecuted, $('Analyze an image').item.json.content.parts[0].text, $('Filter').item.json.message.text))) }}"
            },
            {
              "id": "4ebb8355-2aa2-4af2-8f82-a8c5bc57e0c9",
              "name": "system_prompt_details",
              "type": "string",
              "value": "=username: {{ $json.username || \"[COLLECT and use database tool to upsert] Field: username | Prompt: Ask the user to choose a username. This will be their unique identifier. | Rules: Save exactly as provided, no modifications. | Example: 'shabbir', 'nova_builder'\" }}\nsoul: {{ $json.soul || \"[COLLECT and use database tool to upsert] Field: soul | Prompt: Ask the user to define your soul - give you a name, a vibe, and a general purpose. | Rules: Combine all three elements (name, vibe, purpose) into a single concise description. | Example: 'Nova - warm and curious - helps brainstorm creative projects'\" }}\nuser: {{ $json.user || \"[COLLECT and use database tool to upsert] Field: user | Prompt: Ask the user to tell you about themselves - anything they want you to remember. | Rules: Consolidate their response into a structured profile. Include interests, goals, preferences, and any relevant context. | Example: 'AI automation consultant, prefers direct communication, focused on scaling content workflows'\" }}"
            },
            {
              "id": "f1d7c2a0-d580-4e7a-bc8b-29e1102c03bb",
              "name": "last_channel",
              "type": "string",
              "value": "=telegram"
            }
          ]
        },
        "options": {}
      },
      "id": "3c2db2c9-b01d-40da-ad8d-99d5af55a0e2",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        2784,
        896
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 3,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "39d05258-72cc-4266-86f1-8b2ae9fccd53",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $if($('Edit Fields').isExecuted, $('Edit Fields').item.json.last_channel, $if($('Edit Fields1').isExecuted, $('Edit Fields1').item.json.last_channel, $if($('Edit Fields2').isExecuted, $('Edit Fields2').item.json.last_channel, $('Edit Fields3').item.json.last_channel))) }}",
                    "rightValue": "telegram"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Telegram"
            },
            {
              "conditions": {
                "options": {
                  "version": 3,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "10be5dff-f0cc-496b-aff2-225f66654597",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $if($('Edit Fields').isExecuted, $('Edit Fields').item.json.last_channel, $if($('Edit Fields1').isExecuted, $('Edit Fields1').item.json.last_channel, $if($('Edit Fields2').isExecuted, $('Edit Fields2').item.json.last_channel, $('Edit Fields3').item.json.last_channel))) }}",
                    "rightValue": "whatsapp"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "whatsapp"
            }
          ]
        },
        "options": {}
      },
      "id": "fe8ac8fa-48a3-4b28-af31-42f4f99cb2fe",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "position": [
        4240,
        592
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "chatId": "={{ $if($('Telegram Trigger').isExecuted, $('Telegram Trigger').item.json.message.chat.id, YOUR_TELEGRAM_CHAT_ID) }}",
        "text": "={{ $('n8nClaw').item.json.output }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "0f743b24-166b-47bd-9df7-ff6912a4f056",
      "name": "Send a text message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        4528,
        400
      ],
      "webhookId": "cec319a4-390a-4df4-9ef2-4e80b443e077",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.user_message }}",
        "options": {
          "systemMessage": "=You are n8nClaw, an advanced, proactive AI assistant with access to advanced tools. Your functionality is according to the below details.\n\n{{ $json.system_prompt_details }}\n\nThe User field is a living document. Any new and important information that you receive related to the user - that is worth remembering to be useful in future conversations - is to be added there using the update info tool. Any recurring tasks the user expects you to do (manage calendar, etc - should also go into the user field)\n\nYou also have access to read, create, and update tasks and subtasks through two data tables - one for tasks and one for subtasks.\n\nAnything the user asks you to do must be logged to the tasks and subtasks tables. You can then work on those tasks and subtasks, and update them with lots of detail - as necessary.\n\nTask and subtask details should be upserted with any info required. For example, if you completed a task/subtask partially, update the details with whatever you've already done so you can pick up from there in the next iteration.\n\nAdditionally, As you work on a task/subtask, it may require additional tasks/subtasks to be created - do so if needed, adding all relevant details.\n\nOnce a task or subtask is done, mark task_completed or subtask_completed as true. An entire task can only be completed once ALL subtasks are complete.\n\nYou should always search for tasks first, and then search for the subtasks by the task ID, and plan your work accordingly.\n\nIf you require more context about the user or about previous conversations, you can use query the vector store tool(it is trained on past conversations) to pull the relevant information and continue working.\n\nEMAIL\nYou have access to an AI agent tool that manages your gmail inbox. You can use it to read, reply, delete, get, and search for messages. To take any actions on existing messages, you will need to use the google api-friendly message ID (if you received an email directly).\n\nDOING WORK\nYou have access to a research agent to get any information on anything.\n\nYou also have access to multiple worker agents to break tasks up into parts and do more work concurrently. You MUST use these agents.\n\nYou also have access to a document agent for saving work. The document agent is ONLY to receive completed work for saving. You are NOT to send it instructions for what output to produce. this agent has access to google docs create, update, and drive tools. Save the Google Drive URLs to the task info for persistence.\n\n"
        }
      },
      "id": "ed2e7e8f-5a41-4f22-b6e4-dc449be7b32b",
      "name": "n8nClaw",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        3936,
        992
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get pending or completed tasks",
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_TASKS_TABLE_ID",
          "cachedResultUrl": "/projects/YOUR_PROJECT_ID/datatables/YOUR_TASKS_TABLE_ID",
          "cachedResultName": "ClawdBot Tasks"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}"
      },
      "id": "c483a186-2cdc-4e70-81a8-0893d52de8ab",
      "name": "Get Tasks",
      "type": "n8n-nodes-base.dataTableTool",
      "position": [
        4864,
        976
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get pending or completed subtasks",
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_SUBTASKS_TABLE_ID",
          "cachedResultUrl": "/projects/YOUR_PROJECT_ID/datatables/YOUR_SUBTASKS_TABLE_ID",
          "cachedResultName": "ClawdBot Subtasks"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "parent_task_id",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"
            }
          ]
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}"
      },
      "id": "f4ee32da-6163-4925-a4c0-b84a2c776824",
      "name": "Get Subtasks",
      "type": "n8n-nodes-base.dataTableTool",
      "position": [
        4736,
        976
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Upsert Subtask",
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_SUBTASKS_TABLE_ID",
          "cachedResultUrl": "/projects/YOUR_PROJECT_ID/datatables/YOUR_SUBTASKS_TABLE_ID",
          "cachedResultName": "ClawdBot Subtasks"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "parent_task_id",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"
            }
          ]
        },
        "columns": {
          "value": {
            "subtask_name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('subtask_name', ``, 'string') }}",
            "parent_task_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parent_task_id', ``, 'string') }}",
            "subtask_details": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('subtask_details', ``, 'string') }}",
            "subtask_complete": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('subtask_complete', ``, 'boolean') }}"
          },
          "schema": [
            {
              "id": "parent_task_id",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "parent_task_id",
              "defaultMatch": false
            },
            {
              "id": "subtask_name",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "subtask_name",
              "defaultMatch": false
            },
            {
              "id": "subtask_details",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "subtask_details",
              "defaultMatch": false
            },
            {
              "id": "subtask_complete",
              "type": "boolean",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "subtask_complete",
              "defaultMatch": false
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "c9dfc3dc-2bb3-4b1a-b34e-a15d3f8eb037",
      "name": "Upsert Subtask",
      "type": "n8n-nodes-base.dataTableTool",
      "position": [
        4608,
        976
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Upsert task",
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_TASKS_TABLE_ID",
          "cachedResultUrl": "/projects/YOUR_PROJECT_ID/datatables/YOUR_TASKS_TABLE_ID",
          "cachedResultName": "ClawdBot Tasks"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "task_name",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"
            }
          ]
        },
        "columns": {
          "value": {
            "task_name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('task_name', ``, 'string') }}",
            "Is_recurring": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Is_recurring', ``, 'boolean') }}",
            "task_details": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('task_details', ``, 'string') }}",
            "task_complete": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('task_complete', ``, 'boolean') }}"
          },
          "schema": [
            {
              "id": "task_name",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "task_name",
              "defaultMatch": false
            },
            {
              "id": "task_details",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "task_details",
              "defaultMatch": false
            },
            {
              "id": "task_complete",
              "type": "boolean",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "task_complete",
              "defaultMatch": false
            },
            {
              "id": "Is_recurring",
              "type": "boolean",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Is_recurring",
              "defaultMatch": false
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a989b000-afca-450f-b068-e19d38be6ecb",
      "name": "Upsert Task",
      "type": "n8n-nodes-base.dataTableTool",
      "position": [
        4464,
        976
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Initialize first usage",
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_INIT_TABLE_ID",
          "cachedResultUrl": "/projects/YOUR_PROJECT_ID/datatables/YOUR_INIT_TABLE_ID",
          "cachedResultName": "ClawdBot Init"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "username",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"
            }
          ]
        },
        "columns": {
          "value": {
            "soul": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('soul', ``, 'string') }}",
            "user": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('user', ``, 'string') }}",
            "username": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('username', `the \"username\" provided by the user as the first answer.`, 'string') }}",
            "heartbeat": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('heartbeat', ``, 'string') }}",
            "last_channel": "={{ $json.last_channel }}"
          },
          "schema": [
            {
              "id": "username",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "username",
              "defaultMatch": false
            },
            {
              "id": "soul",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "soul",
              "defaultMatch": false
            },
            {
              "id": "user",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "user",
              "defaultMatch": false
            },
            {
              "id": "heartbeat",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "heartbeat",
              "defaultMatch": false
            },
            {
              "id": "last_channel",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "last_channel",
              "defaultMatch": false
            },
            {
              "id": "last_vector_id",
              "type": "number",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "last_vector_id",
              "defaultMatch": false
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "6976bb1b-7f9f-4624-8a9a-ddceddda7db6",
      "name": "Initialization - Update Info",
      "type": "n8n-nodes-base.dataTableTool",
      "position": [
        4992,
        976
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "YOUR_USERNAME",
        "contextWindowLength": 15
      },
      "id": "7aeb2c4e-b40c-4802-a471-5f8af8d4dddc",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "position": [
        3152,
        1264
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT session_id, message, id\nFROM n8n_chat_histories \nWHERE id > '{{ $json.last_vector_id }}'\nORDER BY id ASC\n",
        "options": {}
      },
      "id": "3a5344cf-8ac9-43e9-83d5-c79bdec4b542",
      "name": "Execute a SQL query",
      "type": "n8n-nodes-base.postgres",
      "position": [
        3296,
        2400
      ],
      "typeVersion": 2.6
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_INIT_TABLE_ID",
          "cachedResultUrl": "/projects/YOUR_PROJECT_ID/datatables/YOUR_INIT_TABLE_ID",
          "cachedResultName": "ClawdBot Init"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "username",
              "keyValue": "YOUR_USERNAME"
            }
          ]
        }
      },
      "id": "009e03b7-35ce-4ad2-b241-e9bcc2e3a837",
      "name": "Get row(s)1",
      "type": "n8n-nodes-base.dataTable",
      "position": [
        3104,
        2400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "mode": "list",
          "value": "documents",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "11e4281a-382a-4edb-827c-79729639bd71",
      "name": "Supabase Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "position": [
        4144,
        2400
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "0acd04e6-c1a1-45e0-8b76-7bdbc4fb26a5",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        4192,
        2608
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.output.summary }}",
        "options": {}
      },
      "id": "50cd8966-ae8d-4672-bc33-25287125525f",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        4384,
        2608
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_INIT_TABLE_ID",
          "cachedResultUrl": "/projects/YOUR_PROJECT_ID/datatables/YOUR_INIT_TABLE_ID",
          "cachedResultName": "ClawdBot Init"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "username",
              "keyValue": "YOUR_USERNAME"
            }
          ]
        },
        "columns": {
          "value": {
            "last_vector_id": "={{ $('Execute a SQL query').last().json.id }}"
          },
          "schema": [
            {
              "id": "username",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "username",
              "defaultMatch": false
            },
            {
              "id": "soul",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "soul",
              "defaultMatch": false
            },
            {
              "id": "user",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "user",
              "defaultMatch": false
            },
            {
              "id": "heartbeat",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "heartbeat",
              "defaultMatch": false
            },
            {
              "id": "last_channel",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "last_channel",
              "defaultMatch": false
            },
            {
              "id": "last_vector_id",
              "type": "number",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "last_vector_id",
              "defaultMatch": false
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "31c85898-a155-4d75-91c5-3bf9010b0667",
      "name": "Update row(s)",
      "type": "n8n-nodes-base.dataTable",
      "position": [
        4512,
        2400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "get info about the user as needed",
        "tableName": {
          "__rl": true,
          "mode": "list",
          "value": "documents",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "id": "6b919529-cccf-4905-9276-2c9b27c859c2",
      "name": "Supabase Vector Store1",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "position": [
        3312,
        1264
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b27f5430-9f0b-4179-a515-67f12d28850e",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        3440,
        1424
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "YOUR_WEBHOOK_PATH",
        "options": {}
      },
      "id": "649bd16c-a195-44d4-bb6c-b578eb94cd76",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        960,
        688
      ],
      "webhookId": "YOUR_WEBHOOK_PATH",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_INIT_TABLE_ID",
          "cachedResultUrl": "/projects/YOUR_PROJECT_ID/datatables/YOUR_INIT_TABLE_ID",
          "cachedResultName": "ClawdBot Init"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "username",
              "keyValue": "YOUR_USERNAME"
            }
          ]
        },
        "returnAll": true
      },
      "id": "d909173b-1ac9-4d19-9e6f-21b9750c44b0",
      "name": "Get row(s)2",
      "type": "n8n-nodes-base.dataTable",
      "position": [
        1376,
        688
      ],
      "typeVersion": 1,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "b1b370a8-b981-43ab-b1b0-88853bad298b",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.body.data.key.remoteJid }}",
              "rightValue": "=YOUR_PHONE@s.whatsapp.net"
            },
            {
              "id": "4f0a49e8-7a0b-4bcf-8c4c-929d0596e309",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              },
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": false
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "5b0f22da-403f-4ba5-9601-10194905121f",
      "name": "Filter1",
      "type": "n8n-nodes-base.filter",
      "position": [
        1168,
        688
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ac8d70f0-59ba-4381-942d-18f7401a4705",
              "name": "user_message",
              "type": "string",
              "value": "={{ $('Filter1').item.json.body.data.message.conversation }}"
            },
            {
              "id": "4ebb8355-2aa2-4af2-8f82-a8c5bc57e0c9",
              "name": "system_prompt_details",
              "type": "string",
              "value": "=username: {{ $json.username || \"[COLLECT and use database tool to upsert] Field: username | Prompt: Ask the user to choose a username. This will be their unique identifier. | Rules: Save exactly as provided, no modifications. | Example: 'shabbir', 'nova_builder'\" }}\nsoul: {{ $json.soul || \"[COLLECT and use database tool to upsert] Field: soul | Prompt: Ask the user to define your soul - give you a name, a vibe, and a general purpose. | Rules: Combine all three elements (name, vibe, purpose) into a single concise description. | Example: 'Nova - warm and curious - helps brainstorm creative projects'\" }}\nuser: {{ $json.user || \"[COLLECT and use database tool to upsert] Field: user | Prompt: Ask the user to tell you about themselves - anything they want you to remember. | Rules: Consolidate their response into a structured profile. Include interests, goals, preferences, and any relevant context. | Example: 'AI automation consultant, prefers direct communication, focused on scaling content workflows'\" }}"
            },
            {
              "id": "f1d7c2a0-d580-4e7a-bc8b-29e1102c03bb",
              "name": "last_channel",
              "type": "string",
              "value": "=whatsapp"
            }
          ]
        },
        "options": {}
      },
      "id": "4a8427cc-2d55-4cbb-904e-88f801b92244",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "position": [
        2784,
        688
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {},
      "id": "37334f00-a871-419b-ad10-e6cbed1b4ab9",
      "name": "Enviar texto",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "position": [
        4528,
        576
      ],
      "typeVersion": 1,
      "credentials": {}
    },
    {
      "parameters": {
        "model": "google/gemini-3-flash-preview",
        "options": {}
      },
      "id": "cc6ab49b-a741-4fd3-9789-8cfff6eb681d",
      "name": "OpenRouter Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [
        3568,
        1472
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "YOUR_USERNAME-research",
        "contextWindowLength": 10
      },
      "id": "732d9d3a-1e69-40e0-85d3-881ec08d58c9",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        3712,
        1472
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {},
      "id": "9adbbdc1-58cf-4e20-9de8-76d70147a71c",
      "name": "Search in Tavily",
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "position": [
        3968,
        1472
      ],
      "typeVersion": 1,
      "credentials": {}
    },
    {
      "parameters": {},
      "id": "56b1a92a-19a0-4581-b22e-e22bcd4fe025",
      "name": "Wikipedia",
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "position": [
        3840,
        1472
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "4b421dc6-f916-44e1-93f4-b848e3144e17",
      "name": "Hourly heartbeat",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        960,
        512
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_INIT_TABLE_ID",
          "cachedResultUrl": "/projects/YOUR_PROJECT_ID/datatables/YOUR_INIT_TABLE_ID",
          "cachedResultName": "ClawdBot Init"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "username",
              "keyValue": "YOUR_USERNAME"
            }
          ]
        },
        "returnAll": true
      },
      "id": "f394841d-a09c-465b-b196-404cf8560812",
      "name": "Get row(s)3",
      "type": "n8n-nodes-base.dataTable",
      "position": [
        1376,
        512
      ],
      "typeVersion": 1,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ac8d70f0-59ba-4381-942d-18f7401a4705",
              "name": "user_message",
              "type": "string",
              "value": "=See what's pending and start working on it."
            },
            {
              "id": "4ebb8355-2aa2-4af2-8f82-a8c5bc57e0c9",
              "name": "system_prompt_details",
              "type": "string",
              "value": "=username: {{ $json.username || \"[COLLECT and use database tool to upsert] Field: username | Prompt: Ask the user to choose a username. This will be their unique identifier. | Rules: Save exactly as provided, no modifications. | Example: 'shabbir', 'nova_builder'\" }}\nsoul: {{ $json.soul || \"[COLLECT and use database tool to upsert] Field: soul | Prompt: Ask the user to define your soul - give you a name, a vibe, and a general purpose. | Rules: Combine all three elements (name, vibe, purpose) into a single concise description. | Example: 'Nova - warm and curious - helps brainstorm creative projects'\" }}\nuser: {{ $json.user || \"[COLLECT and use database tool to upsert] Field: user | Prompt: Ask the user to tell you about themselves - anything they want you to remember. | Rules: Consolidate their response into a structured profile. Include interests, goals, preferences, and any relevant context. | Example: 'AI automation consultant, prefers direct communication, focused on scaling content workflows'\" }}"
            },
            {
              "id": "f1d7c2a0-d580-4e7a-bc8b-29e1102c03bb",
              "name": "last_channel",
              "type": "string",
              "value": "={{ $json.last_channel }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2791d2c0-1da2-4a40-a0b0-5e30c38760f8",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "position": [
        2784,
        512
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "toolDescription": "Research Agent",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=You are a research agent. You have access to Wikipedia and Tavily tools."
        }
      },
      "id": "6f436f5b-8ffe-401d-b2b6-a5afc21525c9",
      "name": "Research Agent",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "position": [
        3616,
        1264
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "id": "e4e7a7e9-9a57-44b4-816f-63066282374f",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "position": [
        960,
        320
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_INIT_TABLE_ID",
          "cachedResultUrl": "/projects/YOUR_PROJECT_ID/datatables/YOUR_INIT_TABLE_ID",
          "cachedResultName": "ClawdBot Init"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "username",
              "keyValue": "YOUR_USERNAME"
            }
          ]
        },
        "returnAll": true
      },
      "id": "96a28117-f510-4a35-8f3f-6487112b223c",
      "name": "Get row(s)4",
      "type": "n8n-nodes-base.dataTable",
      "position": [
        1376,
        320
      ],
      "typeVersion": 1,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ac8d70f0-59ba-4381-942d-18f7401a4705",
              "name": "user_message",
              "type": "string",
              "value": "=You have just received an email. Determine what to do with it.\n\nQuery the databases if it's related to any task, and query the vector store to get more context.\n\nIMPORTANT - you are not to divulge ANY sensitive information in email replies. If a reply requires sensitive information, save the reply as a draft in Gmail and let me know on telegram.\n\n{{ $('Gmail Trigger').item.json.headers.from }}\n{{ $('Gmail Trigger').item.json.headers['message-id'] }}\n{{ $('Gmail Trigger').item.json.headers.subject }}\n{{ $('Gmail Trigger').item.json.text }}"
            },
            {
              "id": "4ebb8355-2aa2-4af2-8f82-a8c5bc57e0c9",
              "name": "system_prompt_details",
              "type": "string",
              "value": "=username: {{ $json.username || \"[COLLECT and use database tool to upsert] Field: username | Prompt: Ask the user to choose a username. This will be their unique identifier. | Rules: Save exactly as provided, no modifications. | Example: 'shabbir', 'nova_builder'\" }}\nsoul: {{ $json.soul || \"[COLLECT and use database tool to upsert] Field: soul | Prompt: Ask the user to define your soul - give you a name, a vibe, and a general purpose. | Rules: Combine all three elements (name, vibe, purpose) into a single concise description. | Example: 'Nova - warm and curious - helps brainstorm creative projects'\" }}\nuser: {{ $json.user || \"[COLLECT and use database tool to upsert] Field: user | Prompt: Ask the user to tell you about themselves - anything they want you to remember. | Rules: Consolidate their response into a structured profile. Include interests, goals, preferences, and any relevant context. | Example: 'AI automation consultant, prefers direct communication, focused on scaling content workflows'\" }}"
            },
            {
              "id": "f1d7c2a0-d580-4e7a-bc8b-29e1102c03bb",
              "name": "last_channel",
              "type": "string",
              "value": "={{ $json.last_channel }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0fae50e8-89ea-4332-95ac-31c69a96c9c2",
      "name": "Edit Fields3",
      "type": "n8n-nodes-base.set",
      "position": [
        2784,
        320
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "toolDescription": "Email manager agent",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "You are an email manager. You have access to a variety of tools to process emails. Keep track of the message ID (google api friendly format) - you'll need it to take any actions on any messages."
        }
      },
      "id": "5e14fe48-3bb9-46eb-81ac-200182ff34db",
      "name": "Email Manager",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "position": [
        4208,
        1312
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "model": "anthropic/claude-haiku-4.5",
        "options": {}
      },
      "id": "a18217ab-c376-4508-8672-023f50e6bb02",
      "name": "OpenRouter Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [
        4160,
        1472
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "YOUR_USERNAME-email",
        "contextWindowLength": 10
      },
      "id": "c4261e82-a96d-45fc-b1f9-9d75aacdaa70",
      "name": "Simple Memory1",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        4336,
        1584
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "id": "3007b55f-af25-4b38-b90b-2c81ba1a4a0d",
      "name": "Send a message in Gmail",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        4576,
        1792
      ],
      "webhookId": "127e5478-a344-4620-9039-cb20f5540e81",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "toolDescription": "call this tool to create, update, and move documents in google drive",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "You are a document manager agent. You have access to create and update google docs, search for folders in google drive, delete files in google drive, and move files between folders. Retain the file ID in memory for any file you are working with."
        }
      },
      "id": "39e2a9a9-834d-418c-b27b-bee9f14c920e",
      "name": "Document Manager",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "position": [
        5280,
        1600
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "YOUR_USERNAME-docs",
        "contextWindowLength": 20
      },
      "id": "abffd049-1ef1-4a51-b633-940aa5e41fe7",
      "name": "Simple Memory2",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        5072,
        1792
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "model": "anthropic/claude-haiku-4.5",
        "options": {}
      },
      "id": "82a7a9e1-72db-47b8-841b-3f7b12db59ab",
      "name": "OpenRouter Chat Model3",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [
        4928,
        1792
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 3,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "bbe4cbfd-d4b1-4095-b505-d97c90927250",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Audio message"
            },
            {
              "conditions": {
                "options": {
                  "version": 3,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "59f728d1-4935-475f-b519-39643b57c99f",
                    "operator": {
                      "type": "array",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.message.photo }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "version": 3,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "72c3ed90-193a-4df8-ba1b-a5de99277d87",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.message.document }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Document"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "f12b42d8-fc4c-40c4-a5f6-309f67491ff1",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "position": [
        1440,
        1200
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/gemini-2.5-flash",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "id": "6453660f-4a77-4a30-a544-ee8ff394f169",
      "name": "Analyze document",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "position": [
        2128,
        1168
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[3].file_id }}",
        "additionalFields": {}
      },
      "id": "83be58ee-5bc5-49d5-8659-e69a803e69e6",
      "name": "Get a file",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1920,
        1008
      ],
      "webhookId": "e70c0340-4812-48fc-858c-f5723a3d8b35",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.document.file_id }}",
        "additionalFields": {}
      },
      "id": "ab499a8c-899c-480d-b346-95f8cd7de8a6",
      "name": "Get a file1",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1920,
        1168
      ],
      "webhookId": "d37f31f7-7cf4-403b-a0c2-b882c6376bc1",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "id": "ddef12ca-cbb4-4bf3-b95f-6c89cdd86a9f",
      "name": "Get a file2",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1920,
        848
      ],
      "webhookId": "d7434e68-52b1-48ff-9c5d-0236438f9892",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/gemini-2.5-flash",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "id": "a98c9ad4-6dd5-4768-8bca-57705e58b745",
      "name": "Transcribe a recording",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "position": [
        2128,
        848
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/nano-banana-pro-preview",
          "cachedResultName": "models/nano-banana-pro-preview"
        },
        "inputType": "binary",
        "options": {}
      },
      "id": "30dfb887-dada-4e09-a6d8-041bfea1fba7",
      "name": "Analyze an image",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "position": [
        2128,
        1008
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "8de38208-5555-422c-ba32-1dffde0cd78a",
      "name": "Data Loader",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        2896,
        2400
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "You are a summarizer agent. I will provide you with the entire log of a day's worth of discussion with my AI agent. You are to summarize the conversation for storing in deep memory."
            }
          ]
        },
        "batching": {}
      },
      "id": "3b48c09f-bc45-4ebf-92ca-30f018621f55",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        3744,
        2400
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "message"
            }
          ]
        },
        "options": {}
      },
      "id": "23b9c0ad-23be-484d-af92-e896e854e9aa",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        3504,
        2400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "anthropic/claude-haiku-4.5",
        "options": {}
      },
      "id": "da51fcae-9884-4458-8830-f432c7138ca2",
      "name": "OpenRouter Chat Model4",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [
        3680,
        2608
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"summary\":\"text\"\n}"
      },
      "id": "c697cd80-896e-46fc-b8a8-d906197f6900",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        3888,
        2608
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Update user, heartbeat as needed.",
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_INIT_TABLE_ID",
          "cachedResultUrl": "/projects/YOUR_PROJECT_ID/datatables/YOUR_INIT_TABLE_ID",
          "cachedResultName": "ClawdBot Init"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "username",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"
            }
          ]
        },
        "columns": {
          "value": {
            "soul": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('soul', ``, 'string') }}",
            "user": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('user', ``, 'string') }}",
            "username": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('username', `the \"username\" provided by the user as the first answer.`, 'string') }}",
            "heartbeat": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('heartbeat', ``, 'string') }}",
            "last_channel": "={{ $json.last_channel }}"
          },
          "schema": [
            {
              "id": "username",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "username",
              "defaultMatch": false
            },
            {
              "id": "soul",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "soul",
              "defaultMatch": false
            },
            {
              "id": "user",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "user",
              "defaultMatch": false
            },
            {
              "id": "heartbeat",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "heartbeat",
              "defaultMatch": false
            },
            {
              "id": "last_channel",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "last_channel",
              "defaultMatch": false
            },
            {
              "id": "last_vector_id",
              "type": "number",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "last_vector_id",
              "defaultMatch": false
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "5388522e-07ce-495a-9c45-615e3afaa34c",
      "name": "Update User and Heartbeat",
      "type": "n8n-nodes-base.dataTableTool",
      "position": [
        5120,
        976
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "delete",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"
      },
      "id": "a008ac94-c5fb-47f2-b3b2-d89ebd3e3da8",
      "name": "Delete a message in Gmail",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        4416,
        1792
      ],
      "webhookId": "bbf8b2d1-921d-4a83-9e0c-efde5ea83bc0",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
        "simple": false,
        "options": {}
      },
      "id": "710bf596-d993-40dc-add5-b964c0b8548a",
      "name": "Get a message in Gmail",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        4256,
        1792
      ],
      "webhookId": "b496028e-2a7d-4a09-a824-5c9aea779a0d",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "simple": false,
        "filters": {
          "q": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search', ``, 'string') }}",
          "sender": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sender', ``, 'string') }}"
        },
        "options": {}
      },
      "id": "b4d47c8a-4d72-4edb-9a8a-6afb20070be2",
      "name": "Get many messages in Gmail",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        4736,
        1792
      ],
      "webhookId": "520fa693-54fa-468e-8f9b-f7ef8539b0fb",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "id": "88a874df-0f69-406c-a990-99b8daf1f6cf",
      "name": "Reply to a message in Gmail",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        4096,
        1792
      ],
      "webhookId": "e58aedc1-67bf-4ff6-861c-a3072b28961c",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "folderId": "default",
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}"
      },
      "id": "23ff5463-3704-4c95-ad96-9077342320d1",
      "name": "Create a document in Google Docs",
      "type": "n8n-nodes-base.googleDocsTool",
      "position": [
        5632,
        1904
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Doc_ID_or_URL', ``, 'string') }}"
      },
      "id": "279f220e-51a5-4371-84a0-7570e5f225a5",
      "name": "Get a document in Google Docs",
      "type": "n8n-nodes-base.googleDocsTool",
      "position": [
        5472,
        1904
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Doc_ID_or_URL', ``, 'string') }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('actionFields0_Text', ``, 'string') }}"
            }
          ]
        }
      },
      "id": "879ec8a9-6385-4d15-b4a2-4c1390d08d5e",
      "name": "Update a document in Google Docs",
      "type": "n8n-nodes-base.googleDocsTool",
      "position": [
        5312,
        1904
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File', ``, 'string') }}"
        },
        "options": {}
      },
      "id": "609dc0ba-2cd0-45b3-aa03-7d405b430a45",
      "name": "Delete a file in Google Drive",
      "type": "n8n-nodes-base.googleDriveTool",
      "position": [
        5792,
        1904
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $fromAI(\"folder_name\") }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "id": "f9003879-27f9-449c-a383-8e21b4a29c53",
      "name": "Create folder in Google Drive",
      "type": "n8n-nodes-base.googleDriveTool",
      "position": [
        5936,
        1904
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File', ``, 'string') }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Parent_Folder', ``, 'string') }}"
        }
      },
      "id": "8bbf1c3b-0baf-4d62-a847-5ca250a0e527",
      "name": "Move file in Google Drive",
      "type": "n8n-nodes-base.googleDriveTool",
      "position": [
        6112,
        1904
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "limit": 50,
        "queryString": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search_Query', ``, 'string') }}",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "filter": {},
        "options": {}
      },
      "id": "74f61a79-c2a5-4bf3-85f0-63c851addcbe",
      "name": "Search files and folders in Google Drive",
      "type": "n8n-nodes-base.googleDriveTool",
      "position": [
        6288,
        1904
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "model": "anthropic/claude-haiku-4.5",
        "options": {}
      },
      "id": "7e457b6c-9455-43e5-a845-c9472a159fae",
      "name": "OpenRouter Chat Model5",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [
        4912,
        1424
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "toolDescription": "Worker Agent 1 - use this for simple work",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('System_Message', ``, 'string') }}"
        }
      },
      "id": "45dbfa88-b054-4e7a-8368-d5678ea8efc1",
      "name": "Worker Agent 1",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "position": [
        5008,
        1264
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "YOUR_USERNAME-worker1",
        "contextWindowLength": 20
      },
      "id": "3ab33fbd-a02e-4a1c-9d32-7807c0bd3fbf",
      "name": "Simple Memory3",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        5056,
        1424
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.5",
        "options": {}
      },
      "id": "74a661ba-a400-4a31-8bdd-4520b98053bc",
      "name": "OpenRouter Chat Model6",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [
        5296,
        1424
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "YOUR_USERNAME-worker2",
        "contextWindowLength": 20
      },
      "id": "84af193b-5afb-40c6-856f-2945f13ec4f2",
      "name": "Simple Memory4",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        5440,
        1424
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "model": "anthropic/claude-opus-4.6",
        "options": {}
      },
      "id": "b852c292-b39f-4f38-a9bb-dd3ebc9be770",
      "name": "OpenRouter Chat Model7",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [
        5664,
        1424
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "YOUR_USERNAME-worker3",
        "contextWindowLength": 20
      },
      "id": "e9f6018b-cbce-4bdf-91e8-ccdf80b42685",
      "name": "Simple Memory5",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        5808,
        1424
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "toolDescription": "Worker Agent 3 - use for higher-order thinking work",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('System_Message', ``, 'string') }}"
        }
      },
      "id": "4a6569f6-5526-49d7-9b37-049386660b56",
      "name": "Worker Agent 3",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "position": [
        5760,
        1200
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "toolDescription": "Worker Agent 2 - use for mid-level work",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('System_Message', ``, 'string') }}"
        }
      },
      "id": "3dbd37c3-4afe-4e24-a655-92dff3b9ee91",
      "name": "Worker Agent 2",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "position": [
        5392,
        1232
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "content": "## \ud83d\udcbe Long-Term Memory Pipeline\nA scheduled flow that runs periodically to build persistent memory:\n1. **Pull** new chat history from Postgres\n2. **Aggregate** messages into conversation chunks\n3. **Summarize** with Haiku 4.5 (via OpenRouter)\n4. **Embed** summaries with OpenAI embeddings\n5. **Store** in Supabase vector database for future RAG retrieval",
        "height": 576,
        "width": 2096
      },
      "id": "d8ba95ab-a46d-417c-a776-610d155684d0",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2624,
        2208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## \ud83d\udcfa Video Walkthrough\n@[youtube](Yfo34yco5Oo)",
        "height": 774,
        "width": 1262,
        "color": 5
      },
      "id": "80c4f5b3-5635-4837-9186-c5de9f7dd842",
      "name": "Sticky Note - Video",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3072,
        -400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## \ud83d\udd0c Triggers & Input Processing\nFour input channels feed into the agent:\n- **Telegram Trigger** \u2014 text, voice, images, documents\n- **WhatsApp Webhook** \u2014 text messages via Evolution API\n- **Gmail Trigger** \u2014 polls for new emails\n- **Hourly Heartbeat** \u2014 autonomous task processing\n\nEach trigger filters messages, fetches the user profile from the **Init data table**, \nand normalizes input into a standard format \n(`user_message`, `system_prompt`, `last_channel`).",
        "height": 660,
        "width": 1172,
        "color": 4
      },
      "id": "1171aefa-fc1a-4ca8-9b7d-be76c5d29b7d",
      "name": "Sticky Note - Triggers",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## \ud83e\udde0 Core AI Agent \u2014 n8nClaw\nThe central orchestrator. Uses **Claude Sonnet 4.5** (via OpenRouter) with a **15-message Postgres chat memory** window.\n\nReceives normalized input from all channels and decides how to respond \u2014 calling tools, delegating to sub-agents, or replying directly.\n\nThe agent's personality and behavior are configured via the **soul** and **user** fields in the Init table.",
        "height": 500,
        "width": 680,
        "color": 6
      },
      "id": "23a1d81e-5887-47b3-ad71-36c4c90e9697",
      "name": "Sticky Note - Core Agent",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3536,
        704
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## \ud83d\udee0\ufe0f Tools (Data Tables & Vector Store)\nDirect tools available to the n8nClaw agent:\n- **Get/Upsert Tasks** \u2014 task management via n8n data tables\n- **Get/Upsert Subtasks** \u2014 subtask tracking linked by parent_task_id\n- **Update User & Heartbeat** \u2014 persist user profile and heartbeat state\n- **Supabase Vector Store** \u2014 RAG queries against past conversation summaries",
        "height": 420,
        "width": 972,
        "color": 3
      },
      "id": "f4ecd899-fa2b-4438-bff1-ed2059b6a511",
      "name": "Sticky Note - Tools",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4352,
        752
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## \ud83e\udd16 Sub-Agents\nSpecialized agents that the core n8nClaw agent can delegate to:\n\n- **Research Agent** (Gemini 3 Flash) \u2014 web research via Tavily + Wikipedia\n- **Email Manager** (Haiku 4.5) \u2014 Gmail CRUD (read, reply, send, delete, search)\n- **Document Manager** (Haiku 4.5) \u2014 Google Docs/Drive operations\n- **Worker 1** (Haiku 4.5) \u2014 simple tasks\n- **Worker 2** (Sonnet 4.5) \u2014 mid-level work\n- **Worker 3** (Opus 4.6) \u2014 complex reasoning",
        "height": 264,
        "width": 588,
        "color": 2
      },
      "id": "c12d203c-4486-4c68-b75e-0a9f1f5c0d40",
      "name": "Sticky Note - Sub-Agents",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5968,
        1456
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## \ud83d\udce4 Output Routing\nA **Switch** node routes the agent's response back to the originating channel:\n- **Telegram** \u2014 Send text message via Telegram Bot API\n- **WhatsApp** \u2014 Send text via Evolution API",
        "height": 568,
        "width": 500,
        "color": 7
      },
      "id": "3aeb1ccb-3fba-4355-a55d-cf9663604a8e",
      "name": "Sticky Note - Output",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4368,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## \ud83c\udf99\ufe0f Media Handling (Telegram)\nVoice, images, and documents sent via Telegram are routed through a **Switch** node and processed by Gemini models:\n- **Voice** \u2192 Gemini 2.5 Flash transcription\n- **Images** \u2192 Gemini image analysis\n- **Documents** \u2192 Gemini 2.5 Flash document analysis\n\nThe processed content is then forwarded to the core agent as text.",
        "height": 212,
        "width": 800
      },
      "id": "aceda5d2-e970-4d18-bcae-5af526311f5d",
      "name": "Sticky Note - Media",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1632,
        1392
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"
      },
      "id": "dbf13767-2e89-47e2-8875-837039e45cf2",
      "name": "Mark a message as read in Gmail",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        3936,
        1792
      ],
      "webhookId": "e58aedc1-67bf-4ff6-861c-a3072b28961c",
      "typeVersion": 2.2
    }
  ],
  "connections": {
    "Filter": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Get row(s)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Get a file2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8nClaw": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Tasks": {
      "ai_tool": [
        [
          {
            "node": "n8nClaw",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Loader": {
      "main": [
        [
          {
            "node": "Get row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "n8nClaw",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file1": {
      "main": [
        [
          {
            "node": "Analyze document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file2": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)1": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)3": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)4": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Task": {
      "ai_tool": [
        [
          {
            "node": "n8nClaw",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "n8nClaw",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "n8nClaw",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "n8nClaw",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Subtasks": {
      "ai_tool": [
        [
          {
            "node": "n8nClaw",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Email Manager": {
      "ai_tool": [
        [
          {
            "node": "n8nClaw",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get row(s)4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Research Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Research Agent": {
      "ai_tool": [
        [
          {
            "node": "n8nClaw",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Email Manager",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "Document Manager",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory3": {
      "ai_memory": [
        [
          {
            "node": "Worker Agent 1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory4": {
      "ai_memory": [
        [
          {
            "node": "Worker Agent 2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory5": {
      "ai_memory": [
        [
          {
            "node": "Worker Agent 3",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Subtask": {
      "ai_tool": [
        [
          {
            "node": "n8nClaw",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Worker Agent 1": {
      "ai_tool": [
        [
          {
            "node": "n8nClaw",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Worker Agent 2": {
      "ai_tool": [
        [
          {
            "node": "n8nClaw",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Worker Agent 3": {
      "ai_tool": [
        [
          {
            "node": "n8nClaw",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze document": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Document Manager": {
      "ai_tool": [
        [
          {
            "node": "n8nClaw",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Worker Agent 1",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Worker Agent 2",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Worker Agent 3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Hourly heartbeat": {
      "main": [
        [
          {
            "node": "Get row(s)3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search in Tavily": {
      "ai_tool": [
        [
          {
            "node": "Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "n8nClaw",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "n8nClaw",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Update row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Email Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Research Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Email Manager",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Document Manager",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Worker Agent 1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Worker Agent 2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "Worker Agent 3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "n8nClaw",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Email Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Delete a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Email Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Move file in Google Drive": {
      "ai_tool": [
        [
          {
            "node": "Document Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update User and Heartbeat": {
      "ai_tool": [
        [
          {
            "node": "n8nClaw",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Email Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Email Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Initialization - Update Info": {
      "ai_tool": [
        [
          {
            "node": "n8nClaw",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create folder in Google Drive": {
      "ai_tool": [
        [
          {
            "node": "Document Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete a file in Google Drive": {
      "ai_tool": [
        [
          {
            "node": "Document Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a document in Google Docs": {
      "ai_tool": [
        [
          {
            "node": "Document Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Mark a message as read in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Email Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create a document in Google Docs": {
      "ai_tool": [
        [
          {
            "node": "Document Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update a document in Google Docs": {
      "ai_tool": [
        [
          {
            "node": "Document Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders in Google Drive": {
      "ai_tool": [
        [
          {
            "node": "Document Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateId": "13717"
  },
  "pinData": {},
  "versionId": "76a45529-668b-4626-91e0-745cd2584bd8",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-15T12:25:10.755Z",
      "createdAt": "2026-04-15T12:25:10.755Z",
      "role": "workflow:owner",
      "workflowId": "NBqTqwIRHF9FROSW",
      "projectId": "CR6JsNFa1P5hxWeE",
      "project": {
        "updatedAt": "2026-04-10T14:35:25.078Z",
        "createdAt": "2026-04-09T17:37:24.349Z",
        "id": "CR6JsNFa1P5hxWeE",
        "name": "Patrick Jansen Villanueva <pj@scalevirtually.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2026-04-09T17:37:24.350Z",
            "createdAt": "2026-04-09T17:37:24.350Z",
            "userId": "4d09549c-f03e-4828-a78e-790552fed192",
            "projectId": "CR6JsNFa1P5hxWeE",
            "user": {
              "updatedAt": "2026-07-07T07:00:00.000Z",
              "createdAt": "2026-04-09T17:37:24.339Z",
              "id": "4d09549c-f03e-4828-a78e-790552fed192",
              "email": "pj@scalevirtually.com",
              "firstName": "Patrick Jansen",
              "lastName": "Villanueva",
              "personalizationAnswers": null,
              "settings": {
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-07-06",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}