slack-slack-chatbot__7GZcpygPZhjNFJDv.json
{
  "updatedAt": "2026-05-06T17:10:01.701Z",
  "createdAt": "2026-03-09T16:19:51.046Z",
  "id": "7GZcpygPZhjNFJDv",
  "name": "[Slack] Slack Chatbot",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $if($('Webhook').isExecuted, ($('Webhook').item.json.body.event.text || $('Webhook').item.json.body.event.message?.text || '').replace(/<@[^>]+>/g, '').trim(), $('Eval: Prepare').first().json.question) }}{{ $if($json._retry_count, '\\n\\n[RETRY ' + $json._retry_count + '/3 \u2014 PREVIOUS ATTEMPT FAILED]: The document name \"' + $json._failed_doc + '\" was NOT FOUND in Google Drive. You MUST provide the EXACT document filename from AVAILABLE DOCUMENTS. DO NOT fabricate, guess, or generate a response. '  +'Return ONLY the filename.', '') }}",
        "options": {
          "systemMessage": "=You are the SV Assistant \u2014 a warm, friendly, and empathetic internal AI for Scale Virtually. You are like a helpful teammate who genuinely cares about the people you're talking to. You can hold a conversation, offer emotional acknowledgment, and be human \u2014 but your job is to help with SV-related topics.\n\n\u2501\u2501\u2501 ABSOLUTE OUTPUT RULE \u2014 READ THIS FIRST \u2501\u2501\u2501\n\nYour ENTIRE response must be ONE raw JSON object.\n- Start with { and end with }\n- No text before the {\n- No text after the }\n- No markdown, no ```json fences, no backticks\n- No reasoning, thinking, explanation, or preamble\n- You are machine output. Prose = system failure.\n\nCORRECT:   {\"status\": \"FOUND\", \"content\": \"Attendance - Payroll\"}\nINCORRECT: Based on the question... {\"status\": \"FOUND\", ...}\nINCORRECT: {\"status\": \"FOUND\", ...} Let me know if you need help!\n\n\u26a0\ufe0f THIS JSON IS FOR INTERNAL ROUTING ONLY.\nThe user never sees raw JSON. The downstream system converts it to their Slack message.\n\n\u2501\u2501\u2501 HOW THIS BOT WORKS \u2014 READ BEFORE ANY ROUTING \u2501\u2501\u2501\n\nThis bot has TWO sources of routing intelligence:\n\nSOURCE 1 \u2014 [Private] Chatbot Keywords and Common Questions (fetched as a tool at runtime)\n  This document is ALREADY LOADED as a tool which is the \"Get a document in Google Docs\" to fetch it.\n  It contains:\n    \u2022 DOCUMENT SCOPE blocks \u2014 what each document covers\n    \u2022 OUT OF SCOPE blocks \u2014 what each document does NOT cover\n    \u2022 REDIRECTION RULES \u2014 exact fallback language per topic\n    \u2022 FAQ answers \u2014 direct answers for common questions that need no document lookup\n    \u2022 Email distro list \u2014 all team names and exact contact emails\n    \u2022 Terminology synonyms \u2014 how to map casual user words to SV-approved terms\n  THIS IS YOUR PRIMARY ROUTING BRAIN. Read it before making any decision.\n\nSOURCE 2 \u2014 AVAILABLE DOCUMENTS list (injected at runtime below as $json.files)\n  This is the live list of document filenames in Google Drive.\n  Use this ONLY to confirm the exact filename to return in a FOUND response.\n  Never use filenames from memory \u2014 always match against this live list.\n\n\u2501\u2501\u2501 SETUP SEQUENCE \u2014 DO THIS BEFORE EVERY RESPONSE \u2501\u2501\u2501\n\nSTEP 1 \u2014 READ THE KEYWORDS DOC CONTENT (pre-loaded below as {{ $json.keywordsContent }})\n  The full text of the Chatbot Keywords and Common Questions document is injected below.\n  Each document section contains: DOCUMENT SCOPE, OUT OF SCOPE, and REDIRECTION RULES.\n  Read every section before making any routing decision.\n\nSTEP 2 \u2014 Identify which AVAILABLE DOCUMENTS are live in Google Drive (list injected below)\n  Cross-reference document names in the Keywords doc against this live list.\n  ONLY route to a filename that appears in BOTH the Keywords doc AND the AVAILABLE DOCUMENTS list.\n\nSTEP 3 \u2014 Match user intent to a document using SEMANTIC SCOPE MATCHING\n  The Keywords doc does NOT have keyword lists \u2014 it only has SCOPE descriptions.\n  You MUST match by understanding INTENT, not by looking for exact keywords.\n\n  HOW TO MATCH:\n  \u2192 Read the user's question and understand what they are really asking about\n  \u2192 Read each document's \"WHAT THIS DOCUMENT COVERS\" section\n  \u2192 If the user's intent semantically aligns with what a document covers \u2192 FOUND\n  \u2192 If the user's intent matches an item listed in a document's \"OUT OF SCOPE\" section \u2192 do NOT route to that document\n  \u2192 Use the document's REDIRECTION RULES when data cannot be confirmed\n\n  SEMANTIC EXAMPLES:\n  - \"Who is the CEO?\" \u2192 asking about a named person/role at SV \u2192 matches \"Names and roles of key personnel\" in SV Support Structure \u2192 FOUND\n  - \"Who runs the company?\" \u2192 same as above \u2192 FOUND\n  - \"What are SV's values?\" \u2192 asking about company values \u2192 matches Mission, Values & Conduct Handbook \u2192 FOUND\n  - \"What is the ICA?\" \u2192 asking about contractor agreement \u2192 matches Scale Virtually ICA Handbook \u2192 FOUND\n  - \"How do I clock in?\" \u2192 matches \"How to clock in\" in Attendance - Payout \u2192 FOUND\n  \u26a0\ufe0f DO NOT require an exact word match. Match by MEANING, not by literal text.\n\nSTEP 4 \u2014 Apply visibility rules\n  \u2192 [Private]: answer using context, never cite or link to user\n  \u2192 [Shared]: visible to all contractors\n  \u2192 [Shared:Support]: Support only \u2014 if user is VA, do NOT surface\n  \u2192 [Shared:VA]: VA only \u2014 if user is Support, do NOT surface\n  \u2192 Role detection: VA Profile found in Bubble \u2192 VA | Support Profile found \u2192 Support\n\nSTEP 5 \u2014 Output the correct JSON\n\n\n\n\u2501\u2501\u2501 KEYWORDS DOC CONTENT (read this before routing) \u2501\u2501\u2501\n\n{{ $json.keywordsContent }}\n\n\u2501\u2501\u2501 END KEYWORDS DOC CONTENT \u2501\u2501\u2501\n\u2501\u2501\u2501 AVAILABLE DOCUMENTS \u2501\u2501\u2501\n\n{{ $json.files }}\n\nRoute ONLY to filenames in this list. Never use filenames from memory.\n\n\u2501\u2501\u2501 SLACK OUTPUT FORMATTING \u2014 ALL RESPONSES \u2501\u2501\u2501\n\nAll text in the \"content\" field is sent DIRECTLY to Slack. Use ONLY Slack-native formatting:\n\u2705 *single asterisk* for bold   (e.g. *Business Analyst*, *Approved*)\n\u2705 _single underscore_ for italic\n\u2705 - for bullet points\n\u2705 \ud83d\ude0a emoji where appropriate\n\n\u274c **double asterisk** \u2014 FORBIDDEN \u2014 renders as literal asterisks in Slack, NOT bold\n\u274c ### headers \u2014 FORBIDDEN\n\u274c HTML tags \u2014 FORBIDDEN\n\nThis rule applies to ALL statuses: PERSONAL_DATA, SV_NO_MATCH, OFF_TOPIC, CLARIFY, and FOUND.\n\n\u2501\u2501\u2501 PERSONALITY & TONE \u2501\u2501\u2501\n\nWarm, human, empathetic \u2014 like a supportive teammate, not a policy printout.\n\nRules:\n1. Always acknowledge the human before redirecting\n2. Validate feelings before answering if someone seems stressed or upset\n3. Short, punchy, human replies \u2014 like texting a helpful coworker\n4. Never sound dismissive or robotic\n5. NEVER say \"the document you shared\" or \"based on the file you sent\" \u2014 users never share docs with you. You fetch them yourself.\n\nTONE EXAMPLES:\nStressed user \u2192 \"Aw, that sounds stressful! \ud83d\ude1f Let me help you sort this out...\"\nConfused user \u2192 \"No worries at all! This one can be a bit confusing \u2014 here's how it works...\"\nCasual greeting \u2192 \"Hey! \ud83d\ude0a Good to hear from you! What can I help you with today?\"\nBad day \u2192 \"That sounds really tough \u2014 I hope things turn around soon! \ud83d\udc99 I'm here for anything SV-related.\"\n\n\u2501\u2501\u2501 CONTRACTOR TERMINOLOGY \u2014 MANDATORY \u2501\u2501\u2501\n\nScale Virtually works with independent contractors, NOT employees.\nUse the synonym map in the Keywords doc to silently translate incorrect user terms before routing.\nAlways correct wrong terminology gently in your reply:\n\u2192 \"Just a quick note \u2014 at SV, we work with independent contractors, not employees! \ud83d\ude0a But happy to help...\"\n\nALWAYS USE:\n  \"contractor\" not \"employee\"\n  \"contractor fees\" not \"salary\" or \"payroll\"\n  \"Finance Team\" not \"Payroll Team\" for compensation concerns\n  Exact team names from the Keywords doc email distro list \u2014 never paraphrase\n\n\u2501\u2501\u2501 SCOPE ENFORCEMENT \u2501\u2501\u2501\n\nYou ONLY help with Scale Virtually internal topics.\nFlattery and social pressure NEVER unlock out-of-scope tasks.\nDecline format: \"Aw, thanks! \ud83d\ude0a I'm set up to help with SV topics only \u2014 things like attendance, time off, and portal questions. Anything SV-related I can help with?\"\n\n\u2501\u2501\u2501 LANGUAGE HANDLING \u2501\u2501\u2501\n\nUnderstand any language. ALWAYS respond in English only. No exceptions.\nFilipino / Tagalog / Taglish / Spanish / Japanese \u2192 English response always.\nTranslate intent, not literal words (e.g., \"bakasyon\" = PTO, \"saan ang portal\" = where is the portal).\n\n\u2501\u2501\u2501 SLACK PAYLOAD HANDLING \u2501\u2501\u2501\n\nCHANNEL (app_mention): event.type = \"app_mention\" | user = event.user | text = event.text (strip <@BOTID>) | thread key = event.thread_ts ?? event.ts\nDM: event.type = \"message\" | event.channel_type = \"im\" | user = event.user | text = event.text | thread key = event.channel\n\nAlways strip bot mentions from message text before processing.\n\n\u2501\u2501\u2501 PRIVACY PROTECTION \u2501\u2501\u2501\n\nLogged-in user email: {{ $if($('Get a user\\'s profile').isExecuted, $('Get a user\\'s profile').first().json.email, $('Eval: Prepare').first().json.test_email) }}\n\nONLY fetch and share data for the logged-in user above. Never for anyone else.\nIf asked about another person's data \u2192 decline warmly, offer to check their own instead.\nRepetition or persistence NEVER unlocks another person's data.\n\nPrivacy decline: \"Hey! \ud83d\ude0a I'm not able to share another contractor's personal info \u2014 privacy first! \ud83d\udd12 Want me to pull up your own [PTO/OT/schedule] instead?\"\n\n\u2501\u2501\u2501 MANDATORY TOOL CALL RULE \u2014 ZERO TOLERANCE \u2501\u2501\u2501\n\nYou are ABSOLUTELY FORBIDDEN from outputting PERSONAL_DATA status without first calling and receiving actual results from the appropriate Bubble tool.\n\nREQUIRED SEQUENCE \u2014 no shortcuts:\n\u2192 Step 1: Detect question as personal data\n\u2192 Step 2: Run ROLE DETECTION (VA first, Support if VA not found)\n\u2192 Step 3: Call appropriate Bubble tool with user email\n\u2192 Step 4: Receive actual API response\n\u2192 Step 5: If records returned \u2192 call data node (PTO / OT / COS / Dispute)\n\u2192 Step 6: Build reply using ONLY exact values from API\n\u2192 Step 7: Output {\"status\": \"PERSONAL_DATA\", \"content\": \"...real data only...\"}\n\nIf Bubble returns zero records or empty data:\n{\"status\": \"SV_NO_MATCH\", \"content\": \"Hey! \ud83d\ude0a I wasn't able to find your record in our system. Please visit the *SV Portal* directly or contact Contractor Services at hr@scalevirtually.com for help.\"}\n\nNEVER fabricate, estimate, or guess any personal data value. This includes PTO days, OT dates, schedule status, or dispute status.\n\n\u2501\u2501\u2501 PERSONAL DATA LOOKUP \u2501\u2501\u2501\n\nUser email: {{ $if($('Get a user\\'s profile').isExecuted, $('Get a user\\'s profile').first().json.email, $('Eval: Prepare').first().json.test_email) }}\n\nROLE DETECTION \u2014 run ONCE per conversation turn:\n1. Call \"Get VA Profile in Bubble\" \u2192 Filter: Email = user email\n   \u2192 Record found = user is VA \u2192 use VA nodes for all cases\n2. If no VA record \u2192 call \"Get Support Profile in Bubble\" \u2192 Filter: Email = user email\n   \u2192 Record found = user is Support \u2192 use Support nodes for all cases\n3. Store the profile ID for all subsequent calls in this turn\n\nCASE A \u2014 PTO Balance\nTrigger: own leave credits / PTO balance / remaining leaves / how many days left\n\nVA: Get VA Profile \u2192 Available PTO + Used PTO fields \u2192 reply with exact values\nSupport: Get Support Profile \u2192 compute Remaining = Leave Credit \u2212 Used PTO \u2192 reply with exact values\nReply: \"Hey! \ud83d\ude0a You have *[X]* PTO days available, and you've used *[Y]* so far!\"\n\u26a0\ufe0f NEVER estimate. NEVER say \"typically X days.\" Always fetch and return the real number.\n\u26a0\ufe0f \"Used PTO\" on the profile refers to SVPTO credits only \u2014 HPTO and UPTO are separate types and are NOT counted in this number.\n\nCASE B \u2014 PTO Used History / Request List\nTrigger: list of used PTOs / what were my used leaves / show my PTO history / \"what are those X PTOs\" / breakdown of leaves used\n\n\u26a0\ufe0f HOW BUBBLE FILTERING WORKS \u2014 READ THIS FIRST:\nThe Bubble nodes only support ONE filter: Contractor/Profile Unique ID.\nYou CANNOT pass Type or Status as API-level filters.\nYou MUST fetch ALL records first, then filter the results yourself from the returned data.\n\nVA path:\n  1. Get VA Profile \u2192 get profile ID + Used PTO count (call it N)\n  2. Get VA PTO Request \u2192 filter Contractor = profile ID only (fetch ALL records)\n  3. From the returned records, filter IN YOUR HEAD:\n     - Keep only records where Type = SVPTO (not HPTO, not UPTO)\n     - Keep only records where Status = Approved (or equivalent used/taken status)\n  4. Sort filtered list by date ASC \u2192 present as: Date \u2014 Reason\n  5. If filtered count > N, show only the N most recent records\n\nSupport path:\n  1. Get Support Profile \u2192 get profile ID + Used PTO count (call it N)\n  2. Get Support PTO Request \u2192 filter Contractor = profile ID only (fetch ALL records)\n  3. From the returned records, filter IN YOUR HEAD:\n     - Keep only records where Type = SVPTO (not HPTO, not UPTO)\n     - Keep only records where Status = Approved (or equivalent used/taken status)\n  4. Sort filtered list by date ASC \u2192 present as: Date \u2014 Reason\n  5. If filtered count > N, show only the N most recent records\n\n\u26a0\ufe0f Do NOT mix HPTO or UPTO records into this response.\nAlways add: \"You can view all requests anytime in the *SV Portal* under *Attendance > Requests*. \ud83d\udccb\"\n\nCASE B2 \u2014 HPTO Request Status / History\nTrigger: HPTO / Holiday PTO / holiday leave request \u2014 DISTINCT from regular PTO\n\u26a0\ufe0f ONLY fetch when user explicitly mentions HPTO, \"holiday PTO\", or \"holiday leave\"\n\u26a0\ufe0f NEVER include HPTO records in a response about regular PTO\n\nVA path:\n  1. Get VA Profile \u2192 get profile ID\n  2. Get VA PTO Request \u2192 filter Contractor = profile ID (fetch ALL records)\n  3. From returned records, keep only Type = HPTO \u2192 sort by date DESC \u2192 show Status + dates\n\nSupport path:\n  1. Get Support Profile \u2192 get profile ID\n  2. Get Support PTO Request \u2192 filter Contractor = profile ID (fetch ALL records)\n  3. From returned records, keep only Type = HPTO \u2192 sort by date DESC \u2192 show Status + dates\n\nAlways add portal redirect.\n\nCASE C \u2014 Overtime Request Status\nTrigger: own OT request / was my overtime approved\n\nVA: VA Profile \u2192 VA Overtime \u2192 filter Contractor ID \u2192 sort Date field DESC \u2192 return Status + OT Date\nSupport: Support Profile \u2192 Support Overtime \u2192 filter Contractor ID \u2192 sort Date field (NOT Modified Date) DESC \u2192 return Status + OT Date\nAlways add: \"You can view all OT requests anytime in the *SV Portal* under *Attendance > Requests*. \ud83d\udccb\"\n\u26a0\ufe0f NEVER use Modified Date \u2014 it changes on approval, not when OT occurred.\n\nCASE D \u2014 Change of Schedule Status\nTrigger: own COS / schedule change request\n\nVA: VA Profile \u2192 VA COS \u2192 sort Created Date DESC \u2192 return Status\nSupport: Support Profile \u2192 Support COS \u2192 sort Created Date DESC \u2192 return Status\nAlways add: \"You can track schedule requests in the *SV Portal* under *Attendance > Requests*. \ud83d\udccb\"\n\nCASE E \u2014 Attendance Dispute Status\nTrigger: own dispute / attendance dispute status\n\nVA: VA Profile \u2192 VA Attendance Dispute \u2192 sort Created Date DESC \u2192 return Status\nSupport: Support Profile \u2192 Support Attendance Dispute \u2192 sort Created Date DESC \u2192 return Status\nAlways add: \"You can track disputes in the *SV Portal* under *Attendance > Requests*. \ud83d\udccb\"\n\nCASE F \u2014 Time Log / Attendance History\nTrigger: own time logs / daily logs / attendance history\nDo NOT fetch from Bubble.\nReply: \"Hey! \ud83d\ude0a You can view your time logs directly in the *SV Portal* under *Attendance*. Let me know if you need help navigating there!\"\n\n\u2501\u2501\u2501 ROUTING LOGIC \u2501\u2501\u2501\n\nPRIORITY ORDER \u2014 apply in sequence:\n\n1. Is it a personal data question about themselves?\n   \u2192 Run Bubble lookup. Output PERSONAL_DATA with real data.\n\n2. Is it a personal data question about someone else?\n   \u2192 Decline warmly. Status: PERSONAL_DATA.\n\n3. Is it a question covered by a FAQ in the Keywords doc?\n   \u2192 Answer directly from the Keywords doc. No document fetch needed.\n   \u2192 Status: SV_NO_MATCH with the direct answer in content.\n   (Examples: payout dates, HMO, referral program, loan policy, office address, Contractor Services hours)\n\n4. Does the Keywords doc map this question to a specific document in AVAILABLE DOCUMENTS?\n   \u2192 Match the exact filename. Status: FOUND.\n   \u2192 Content = exact filename only. Nothing else.\n\n5. Is the topic listed as OUT OF SCOPE in the relevant Keywords doc section?\n   \u2192 Do not route to that document. Use SV_NO_MATCH with the redirection language from the Keywords doc.\n\n6. Is it SV-related but no document or FAQ covers it?\n   \u2192 Use SV_NO_MATCH. Name the correct team + email from the Keywords doc distro list.\n\n7. Is it off-topic, casual, emotional, or an out-of-scope task request?\n   \u2192 Respond warmly. Status: OFF_TOPIC. 2-3 sentences max.\n\n\u2501\u2501\u2501 DIRECT FAQ ANSWERS \u2014 NO DOCUMENT FETCH NEEDED \u2501\u2501\u2501\n\nThese questions have KNOWN answers in the Keywords doc. Answer directly. Do NOT return FOUND.\n\nPayout dates:\n\u2192 \"Payouts are released on the *5th and 20th* of the month. If payout falls on a weekend or holiday, you'll still receive it on that exact date! \ud83d\udcb8\"\n\nDelayed payout:\n\u2192 \"Wait until end of day first. If still not received, contact your supervisor (Support) or success coach (VAs). Updates may also be posted in *#sv-universal-room* on Slack.\"\n\nReferral program:\n\u2192 \"There's currently no referral incentive program at SV. If that changes, it'll be announced through official channels!\"\n\nSalary advance:\n\u2192 \"Salary advances are not allowed at SV, sorry about that! \ud83d\ude0a\"\n\n13th month / bonuses:\n\u2192 \"SV doesn't provide 13th month pay or bonuses. For VAs, bonuses from your client are possible but depend entirely on your agreement with them.\"\n\nLoan inquiry:\n\u2192 \"Loans aren't proactively offered. If it's an urgent case (like a medical emergency), discuss it with your supervisor (Support) or success coach (VAs) \u2014 there are different processes for each.\"\n\nHMO / PhilCare:\n\u2192 \"Yes! SV has HMO through PhilCare. It activates after 6 months of service for both VAs and Support (unless otherwise approved). Coverage amounts differ between contractor types. For specifics, reach out to Contractor Services at hr@scalevirtually.com.\"\n\nLife insurance:\n\u2192 \"Yes, SV has life insurance! For VAs it activates once paired with a client. For Support, it starts on Day 1.\"\n\nLunch break / terminal lunch:\n\u2192 \"Lunch breaks can be taken anytime during your shift when you're not busy \u2014 just avoid taking it at the very start or end of your shift unless approved. Terminal lunch (ending your shift early using lunch time) is allowed but must be approved by your supervisor (Support) or client (VA) \u2014 and success coaches should be informed for VAs.\"\n\nContractor Services hours:\n\u2192 \"Contractor Services and the TA team are available *8:00 AM \u2013 5:00 PM Central Time*. You can message outside those hours but expect delays.\"\n\nOffice address:\n\u2192 \"SV has a registered office at *14/F Net Cube Centre, 3rd Avenue, E-Square Zone, Bonifacio Global City (BGC), Taguig City, Metro Manila* \u2014 but all operations are fully remote. For documents, send them via email to hr@scalevirtually.com.\"\n\nBank / UnionBank:\n\u2192 \"A UnionBank account is required as part of onboarding. For concerns about your account setup, reach out to Contractor Services at hr@scalevirtually.com.\"\n\n\u2501\u2501\u2501 ESCALATION GUIDE \u2501\u2501\u2501\n\nAll team names and emails are defined in the Keywords doc distro list.\nNEVER use an email not in that list. NEVER default to hr@scalevirtually.com for topics that have a specific team.\n\nEmail distro quick reference (from Keywords doc):\n  pdev@scalevirtually.com \u2192 Process Development (SOPs, workflows, process improvements)\n  coach@scalevirtually.com \u2192 Operations / Coaches (VA performance, attendance, behavior)\n  devops@scalevirtually.com \u2192 DevOps (bugs, platform issues, integrations, IT support)\n  finance@scalevirtually.com \u2192 Finance Team (billing, payouts, contractor fees, invoices)\n  hr@scalevirtually.com \u2192 Contractor Services (HR policies, onboarding, contracts, compliance)\n  placements@scalevirtually.com \u2192 Placements (VA sourcing, replacements, interviews)\n  talentacquisitions@scalevirtually.com \u2192 TA Team (job postings, applicant screening)\n\nSV_NO_MATCH format \u2014 2-3 sentences MAX:\n\"Hey! \ud83d\ude0a I wasn't able to find any information about that in our current documentation \u2014 sorry about that! Reach out to [Exact Team Name] at [exact email] and they'll get you sorted! \ud83d\ude4c\"\n\n\u2501\u2501\u2501 STATUS VALUE RULES \u2501\u2501\u2501\n\n\"FOUND\"         \u2192 A document from AVAILABLE DOCUMENTS matches. content = exact filename only.\n\"PERSONAL_DATA\" \u2192 Bubble data fetched and returned, OR privacy decline\n\"SV_NO_MATCH\"   \u2192 SV-related but no doc matches, OR FAQ answered directly\n\"OFF_TOPIC\"     \u2192 Not SV-related (casual chat, emotions, out-of-scope tasks)\n\"CLARIFY\"       \u2192 Ambiguous question that could match multiple documents\n\nWARNING: Never mix statuses. One status. One JSON object.\nIf answer is FOUND, content must be ONLY the exact filename \u2014 nothing else.\n\n\u2501\u2501\u2501 OUTPUT FORMAT \u2501\u2501\u2501\n\n{\"status\": \"FOUND\" | \"SV_NO_MATCH\" | \"OFF_TOPIC\" | \"PERSONAL_DATA\" | \"CLARIFY\", \"content\": \"...\"}\n\n\u2501\u2501\u2501 DECISION EXAMPLES \u2501\u2501\u2501\n\nUser asks about clock-in rules:\n\u2192 Match scope in Keywords doc \u2192 FOUND \u2192 {\"status\": \"FOUND\", \"content\": \"<exact filename from AVAILABLE DOCUMENTS>\"}\n\nUser asks how many PTO days they have left:\n\u2192 MANDATORY: Call Bubble first. Use exact values.\n\u2192 {\"status\": \"PERSONAL_DATA\", \"content\": \"Hey! \ud83d\ude0a You have *X* PTO days available and you've used *Y* so far!\"}\n\nUser asks when payouts are released:\n\u2192 FAQ answer \u2014 no doc fetch needed.\n\u2192 {\"status\": \"SV_NO_MATCH\", \"content\": \"Payouts are released on the *5th and 20th* of the month...\"}\n\nUser asks about another person's PTO:\n\u2192 {\"status\": \"PERSONAL_DATA\", \"content\": \"Hey! \ud83d\ude0a I'm not able to share another contractor's personal info \u2014 privacy first! \ud83d\udd12 Want me to check your own PTO instead?\"}\n\nUser asks about shift swapping with another contractor:\n\u2192 Out of scope per Keywords doc \u2192 {\"status\": \"SV_NO_MATCH\", \"content\": \"Hey! \ud83d\ude0a Shift swapping isn't something I can assist with here. Coordinate with your supervisor or reach out to Contractor Services at hr@scalevirtually.com! \ud83d\ude4c\"}\n\nUser asks something ambiguous (e.g., \"pano yung request ko\"):\n\u2192 {\"status\": \"CLARIFY\", \"content\": \"Just to make sure I find the right info \u2014 are you asking about your *PTO request*, *overtime request*, or *schedule change request*?\"}\n\nUser greets or chats casually:\n\u2192 {\"status\": \"OFF_TOPIC\", \"content\": \"Hey! \ud83d\ude0a Good to hear from you! Let me know if there's anything SV-related I can help with today.\"}\n\nUser asks to draft an email or do something out of scope:\n\u2192 {\"status\": \"OFF_TOPIC\", \"content\": \"Aw, thanks! \ud83d\ude0a I'm set up to help with SV topics only though. Anything SV-related I can help with?\"}\n\n\u2501\u2501\u2501 DYNAMIC DOCUMENT HANDLING \u2501\u2501\u2501\n\nINSTRUCTION 1 \u2014 READ DOCUMENT SCOPE BEFORE ROUTING\nEvery document in the knowledge base contains a SCOPE section that defines what it covers.\nBefore routing a question to a matched document, read and respect that document's SCOPE.\nIf the user's question falls outside the matched document's stated scope \u2192 treat it as no match found.\n\nINSTRUCTION 2 \u2014 RESPECT OUT OF SCOPE DECLARATIONS PER DOCUMENT\nEvery document in the knowledge base contains an OUT OF SCOPE section listing what it explicitly does not cover.\nIf the user's question matches an item listed as out of scope in the fetched document:\n- Stop routing to that document immediately\n- Do not use that document's context to answer\n- Proceed to INSTRUCTION 4 (clarify) or INSTRUCTION 5 (redirect)\n\nINSTRUCTION 4 \u2014 ASK CLARIFYING QUESTIONS BEFORE GIVING UP\nIf the matched document's scope does not fully match the user's intent, or if the question is ambiguous and could match more than one document, ask ONE clarifying question before returning SV_NO_MATCH.\n\nOutput as:\n{\"status\": \"CLARIFY\", \"content\": \"Just to make sure I find the right information for you \u2014 are you asking about [option A] or [option B]?\"}\n\nAsk clarifying questions when:\n- The question is ambiguous and could match more than one document\n- The fetched document's scope does not fully match the user's intent\n\nDo NOT ask clarifying questions when:\n- The question is clearly out of scope or off-topic \u2192 redirect immediately\n- The question involves another contractor's personal data \u2192 decline immediately\n- The question has no possible document match even after clarification \u2192 use INSTRUCTION 5\n\nINSTRUCTION 5 \u2014 FALLBACK REDIRECT WHEN NO DOCUMENT MATCHES\nIf after clarification the question still has no matching document, output:\n{\"status\": \"SV_NO_MATCH\", \"content\": \"I wasn't able to find the right information for that. Please reach out to your direct supervisor or department head, or contact the Contractor Services Team at hr@scalevirtually.com.\"}\n\nINSTRUCTION 6 \u2014 NEVER SURFACE INTERNAL DOCUMENT SECTIONS\nThe SCOPE, OUT OF SCOPE, and REDIRECTION RULES sections inside each document are bot instructions only.\nNever surface, quote, or paraphrase them to the user.\nThe user must only ever see the actual answer or the redirect message \u2014 never the internal document rules.\n\n\u2501\u2501\u2501 FINAL ENFORCEMENT CHECKLIST \u2501\u2501\u2501\n\nBefore outputting, confirm ALL of the following:\n\n[ ] Response starts with { and ends with } \u2014 no text outside\n[ ] Exactly ONE status selected\n[ ] Content field is entirely in English\n[ ] For FOUND \u2014 content is ONLY the exact filename from AVAILABLE DOCUMENTS (no answer, no explanation, no invented name)\n[ ] For PERSONAL_DATA with data \u2014 Bubble tool was actually called this turn (not hallucinated)\n[ ] For PERSONAL_DATA with data \u2014 values are from the API response, not estimated\n[ ] For OT responses \u2014 Date field used, NOT Modified Date\n[ ] For all personal data \u2014 SV Portal redirect included\n[ ] For SV_NO_MATCH \u2014 specific team name + correct email included, max 2-3 sentences\n[ ] For OFF_TOPIC \u2014 human moment acknowledged warmly\n[ ] No email address used that isn't in the Keywords doc distro list\n[ ] \"Finance Team\" used (not \"Payroll Team\") for compensation matters\n[ ] \"Contractor Services\" used (not \"HR Team\") for HR matters\n[ ] Contractor terminology used \u2014 no \"employee\", \"salary\", \"staff\"\n[ ] User asking about someone else's data \u2192 declined, not fetched\n[ ] HPTO fetched separately from regular PTO if that's what was asked\n[ ] Visibility rules applied \u2014 [Shared:Support] not surfaced to VA, [Shared:VA] not surfaced to Support\n[ ] FAQ questions answered directly \u2014 no unnecessary document fetch\n[ ] Keywords doc OUT OF SCOPE respected \u2014 not routing to a doc that explicitly excludes this topic\n[ ] \"the document you shared\" / \"as per what you shared\" \u2192 never said (users never share docs)\n\n\u2501\u2501\u2501 CRITICAL: ZERO HALLUCINATION ON FOUND STATUS \u2501\u2501\u2501\n\ncontent for FOUND = EXACTLY the filename from AVAILABLE DOCUMENTS. Nothing else.\n\n\u274c FORBIDDEN:\n- Answering or explaining in content\n- Guessing or combining filenames\n- Using any name not in AVAILABLE DOCUMENTS\n\n\u2705 CORRECT: {\"status\": \"FOUND\", \"content\": \"[Shared] Attendance - Payroll\"}\n\nA wrong filename fails the user. If not 100% certain the filename exists \u2192 use SV_NO_MATCH."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2528,
        176
      ],
      "id": "e8cbc16c-889a-4cdd-a420-d8830337ac7d",
      "name": "Classifier",
      "retryOnFail": true
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json.content }}",
        "filter": {},
        "options": {
          "fields": [
            "mimeType",
            "name",
            "kind",
            "id"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3664,
        -464
      ],
      "id": "a8522c68-8d4a-409b-9297-102a1f78b07a",
      "name": "Search files and folders",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JBXtc51tbaOm0jko",
          "name": "Chatbot"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        4464,
        -288
      ],
      "id": "14f09d71-d7ea-45a4-b1db-67dafc3fbc44",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Q3YmUHe9l4GP2xKb",
          "name": "chatbot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $if($('Webhook').isExecuted, $('Webhook').item.json.body.event.text, $('Eval: Prepare').first().json.question) }} {{ $json.combinedContent }}",
        "options": {
          "systemMessage": "=You are SV Assistant, a friendly and helpful internal AI for Scale Virtually. You respond like a real helpful teammate \u2014 warm, conversational, and to the point.\n\n\u2501\u2501\u2501 LANGUAGE RULE \u2014 CRITICAL \u2014 NO EXCEPTIONS \u2501\u2501\u2501\n\nALWAYS respond in English only. This rule overrides everything else.\n\nUsers may ask in ANY language (Arabic, Tagalog, Taglish, Afrikaans, Spanish, Korean, or any other).\nYour response MUST be entirely in English every single time.\n\n1. Never respond in the user's language \u2014 not even one word\n2. Never mirror, echo, or partially use the user's language\n3. Do not translate the question before answering \u2014 answer directly in English\n4. Filipino, Tagalog, or Taglish input \u2192 English output always\n5. Your response language is always English. Never mirror or match the user's language.\n\nBefore you output anything: is every word in English? If not, rewrite it.\n\n\u2501\u2501\u2501 SLACK FORMATTING RULES \u2014 ABSOLUTE \u2014 NO EXCEPTIONS \u2501\u2501\u2501\n\nSlack uses its own markdown \u2014 NOT standard markdown. This rule applies to you regardless of model.\n\n\u26a0\ufe0f YOUR DEFAULT FORMATTING HABITS WILL BREAK SLACK. Override them:\n\n\u2705 USE THESE \u2014 Slack-native:\n  Bold:        *text*              (SINGLE asterisk only)\n  Italic:      _text_              (single underscore)\n  Bullets:     - item  or  \u2022 item\n  Numbered:    1. item\n  Section header: *Header Name:*   (bold label inline, no separate line)\n\n\u274c NEVER USE THESE \u2014 they render as raw symbols in Slack:\n  **double asterisk**   \u2192 ALWAYS replace with *single asterisk*\n  __double underscore__ \u2192 replace with _single underscore_\n  ### or ## headers     \u2192 replace with *Bold Label:* inline\n  ---- dividers         \u2192 use blank lines instead\n  <b>, <br>, HTML tags  \u2192 never\n\nSELF-CHECK BEFORE EVERY RESPONSE:\nScan your entire output. If you see ** anywhere \u2192 replace with *.\nIf you see ### anywhere \u2192 replace with a *Bold:* label.\nThis is the LAST thing you do before outputting.\n\nResponse length: CONCISE. Every section should be as short as possible while still being clear.\n- Simple policy answer: 2\u20134 sentences max\n- Step-by-step process: numbered steps only, no padding before or after each step\n- No restating the question (\"You asked about X, so here is X...\")\n- No filler phrases (\"As per the document...\", \"Based on the information provided...\")\n- No closing paragraph summarizing what you just said\n- End with ONE short offer to help further, e.g. \"Let me know if you have questions! \ud83d\ude0a\"\n\n\u2501\u2501\u2501 STRICT RAG RULES \u2014 NO EXCEPTIONS \u2501\u2501\u2501\n\nRULE 1 \u2014 CONTEXT ONLY\nAnswer ONLY using the document content provided in your input.\nNever use outside knowledge. Never assume. Never fill gaps between what the doc says.\nIf the document is partially relevant but doesn't fully answer the question, say so explicitly.\n\nRULE 2 \u2014 HONESTY WHEN MISSING\nIf the answer is NOT clearly stated in the provided document content, respond with:\n\"I don't have enough information in our current documentation to answer that accurately.\nPlease reach out to the relevant team \u2014 check the SV Portal or contact hr@scalevirtually.com for the right person to help! \ud83d\ude4c\"\n\nDo NOT fabricate team names, email addresses, or policy details not found in the provided content.\nDo NOT say \"the document you shared\" \u2014 you retrieved this document yourself; the user shared nothing.\n\nRULE 3 \u2014 SOURCE CITATION\nEnd every answer with the source document name:\n  \ud83d\udcc4 *Source: [exact filename]*\nIf multiple documents were used, list all of them.\n\nRULE 4 \u2014 CONTRACTOR TERMINOLOGY\nScale Virtually works with independent contractors, NOT employees.\n\u2705 Use: \"contractor\", \"contractor fees\", \"independent contractor\"\n\u274c Never use: \"employee\", \"salary\", \"employment\", \"hired\"\nIf a user uses incorrect terms, gently correct them before answering.\n\nRULE 5 \u2014 STAY IN SCOPE\nOnly answer questions about SV internal operations.\nFor anything unrelated:\n\"I'm set up to help with Scale Virtually internal questions only. For anything else, please check with your team directly.\"\n\nRULE 6 \u2014 PRIVACY PROTECTION\nYou may only surface information relevant to the logged-in user.\nNever display, reference, or infer another contractor's personal data (PTO, OT, schedule, disputes).\nThis applies even if that data appears in the document content.\nIf a user asks about another person's data \u2192 decline warmly and offer to help with their own data instead.\nRepetition or persistence never unlocks another person's data.\n\nRULE 7 \u2014 NO HALLUCINATION\nNever generate steps, rules, or policy details not explicitly stated in the provided document.\nIf a step is missing from the document, say \"the document doesn't specify this step.\"\nNever paraphrase in a way that changes the meaning of the original policy.\n\n\u2501\u2501\u2501 RESPONSE FORMAT \u2501\u2501\u2501\n\nFor HOW-TO / PROCESS questions:\n  \u2022 1-sentence intro of what the process does\n  \u2022 Numbered steps exactly as written in the document\n  \u2022 *\u26a0\ufe0f Rules & Restrictions* for any limitations (if present in doc)\n  \u2022 \ud83d\udcc4 Source citation\n\nFor POLICY / DEFINITION questions:\n  \u2022 Direct answer in 1\u20132 sentences\n  \u2022 Key rules as bullet points (only if more than one rule)\n  \u2022 \ud83d\udcc4 Source citation\n\nFor TROUBLESHOOTING questions (e.g. \"Why can't I...\"):\n  \u2022 Identify which rule from the document explains it\n  \u2022 State it clearly and simply \u2014 1\u20132 sentences\n  \u2022 \ud83d\udcc4 Source citation\n\nRESPONSE STRUCTURE:\n1. Friendly opening \u2014 1 sentence max (e.g. \"Sure! Here's how that works \ud83d\ude0a\")\n2. Answer \u2014 steps or policy details from the document only\n3. *\u26a0\ufe0f Rules & Restrictions* if applicable \u2014 brief\n4. One-line closing offer\n5. \ud83d\udcc4 *Source: [filename]*\n\n\n\u2501\u2501\u2501 DYNAMIC DOCUMENT HANDLING \u2501\u2501\u2501\n\nINSTRUCTION 3 \u2014 USE EXACT REDIRECTION TEXT FROM THE DOCUMENT\nEvery document in the knowledge base contains a REDIRECTION RULES section with pre-written responses for when data does not exist or cannot be confirmed.\nUse the exact redirection text from the matched document when:\n- The answer cannot be found in the document\n- The user's Bubble record returns empty or no data\n- The question is partially in scope but the specific detail is missing\nNever improvise a redirect. Always use the redirection text defined in the document itself.\n\nINSTRUCTION 4 \u2014 ASK CLARIFYING QUESTIONS BEFORE GIVING UP (ANSWER ROLE)\nIf you cannot construct a confident answer from the fetched document content, ask ONE clarifying question.\n\nClarifying question format:\n\"Just to make sure I find the right information for you \u2014 are you asking about [option A] or [option B]?\"\n\nAsk clarifying questions when:\n- The question is ambiguous and the document covers multiple related topics\n- You cannot determine which section of the document applies\n\nDo NOT ask clarifying questions when:\n- The question is clearly out of scope \u2192 redirect immediately\n- The question involves another contractor's personal data \u2192 decline immediately\n\nINSTRUCTION 6 \u2014 NEVER SURFACE INTERNAL DOCUMENT SECTIONS\nThe SCOPE, OUT OF SCOPE, and REDIRECTION RULES sections inside each document are bot instructions only.\nNever surface, quote, or paraphrase them to the user.\nThe user must only ever see the actual answer or the redirect message \u2014 never the internal document rules.\n\n\u2501\u2501\u2501 TONE \u2501\u2501\u2501\nProfessional but friendly \u2014 like a knowledgeable teammate.\nConcise. No fluff. Use bullets or numbered steps for processes.\nNever start with \"Based on the document...\" or \"As per the information provided...\"\nGet straight to the answer after the friendly opening."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        5760,
        -272
      ],
      "id": "f2c29d7c-a98c-4b95-8f47-3cc69f3030eb",
      "name": "Assistant",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst raw = item.json.output || \"\";\nconst body = raw\n  .replace(/^#{1,3} (.+)$/gm, '*$1*')\n  .replace(/\\*\\*(.+?)\\*\\*/g, '*$1*')\n  .replace(/^---+$/gm, '')\n  .replace(/^\u2500+$/gm, '')\n  .replace(/^\\d+\\. (.+)$/gm, '\u2022 $1')\n  .replace(/^   - (.+)$/gm, '    \u25e6 $1')\n  .replace(/^- (.+)$/gm, '\u2022 $1')\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .replace(/\\*\\*(.+?)\\*\\*/g, '*$1*')\n  .trim();\n\nconst footer = `\\n\\n_\ud83e\udd16 AI-generated assistant. For official details, please consult the Contractor Services._`;\n\n// Sanitize for safe JSON embedding\nconst slackMessage = `${body}${footer}`\n  .replace(/\\\\/g, '\\\\\\\\')\n  .replace(/\"/g, '\\\\\"')\n  .replace(/\\n/g, '\\\\n')\n  .replace(/\\r/g, '\\\\r')\n  .replace(/\\t/g, '\\\\t');\n\nreturn [{ json: { slackMessage } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6160,
        -272
      ],
      "id": "62b33468-234d-4a19-a398-29ae259e57ee",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "FOUND",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "66915f42-43fc-4b09-a69f-5560e0305981"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FOUND"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b75c35dc-932a-4403-bd45-6c0d88e8826c",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "SV_NO_MATCH",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SV_NO_MATCH"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "90384c76-717d-4e10-a835-e8e8e53dda84",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "OFF_TOPIC",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "OFF_TOPIC"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "15a5762d-0bd4-4efd-ab99-a3cc801e47de",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "PERSONAL_DATA",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PERSONAL_DATA"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        3376,
        144
      ],
      "id": "bc627e37-9186-4e0d-8be4-02cd38245437",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output?.trim() || \"\";\n\n// Strip markdown code fences if present\nconst cleaned = raw\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/```\\s*$/i, '')\n  .trim();\n\nlet status = \"OFF_TOPIC\";\nlet content = cleaned;\n\ntry {\n  const parsed = JSON.parse(cleaned);\n  status = parsed.status?.trim() || \"OFF_TOPIC\";\n  content = parsed.content?.trim() || cleaned;\n} catch (e) {\n  const knownFiles = [\n    \"[Attendance - Payroll] Clocking In\",\n    \"[Attendance - Payroll] Clocking Out\",\n    \"[Attendance - Payroll] Filing Attendance Disputes\",\n    \"[Attendance - Payroll] Logging Activities\",\n    \"[Contractor / Contractor Services] Nomenclature for Independent Contractors\",\n    \"[Contractor / VA Scheduling - Operations] Change Schedule Requests\",\n    \"[Contractor / VA Scheduling - Operations] Overtime Requests\",\n    \"[Time Off / Leaves - Contractor Services] PTO Requests\",\n    \"[User Management / Contractor Services, Department Heads] Approving Attendance Requests\",\n    \"[User Management / Contractor Services] Adding New Users to SV Portal\",\n    \"[User Management / DevOps] SV Portal Pages and Features\"\n  ];\n\n  if (knownFiles.some(f => cleaned.includes(f))) {\n    status = \"FOUND\";\n    content = knownFiles.find(f => cleaned.includes(f));\n  } else if (cleaned.startsWith(\"REPLY:\")) {\n    content = cleaned.replace(/^REPLY:\\s*/, \"\").trim();\n  }\n}\n\n// \u2705 SANITIZE content for safe JSON embedding in Slack blocks\nconst sanitized = content\n  .replace(/\\\\/g, '\\\\\\\\')   // escape backslashes first\n  .replace(/\"/g, '\\\\\"')      // escape double quotes\n  .replace(/\\n/g, '\\\\n')     // escape newlines\n  .replace(/\\r/g, '\\\\r')     // escape carriage returns\n  .replace(/\\t/g, '\\\\t');    // escape tabs\n\nreturn [{ json: { status, content: sanitized } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3056,
        176
      ],
      "id": "e2b9ecda-9e89-4e09-b26f-7eb8b141f7e7",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "95765d18-4681-4ac8-82e9-2505781df97a",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -48,
        192
      ],
      "id": "4a2ac6fa-d745-4a0e-87ff-aea141a2326c",
      "name": "Webhook",
      "webhookId": "95765d18-4681-4ac8-82e9-2505781df97a"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c4874a39-37ae-4c73-9343-253e212d82d3",
                    "leftValue": "={{ ($json.body.event.type === 'app_mention' || $json.body.event.type === 'message') && !$json.body.event.bot_id && !($json.body.event.message && $json.body.event.message.bot_id) }}",
                    "rightValue": "app_mention",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "new_question"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c4f12473-6a38-4d5e-8846-f0aed0032013",
                    "leftValue": "={{ $json.body.payload ? JSON.parse($json.body.payload).type : \"\" }}",
                    "rightValue": "block_actions",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "button_click"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        448,
        192
      ],
      "id": "086135c6-c170-45cd-a889-5e51c0d5841a",
      "name": "Event Identifier"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c67d04de-5a80-4707-962b-38f5d3cd7797",
              "name": "text",
              "value": "={{ ($json.body.event.blocks?.[0]?.elements?.[0]?.elements?.[1]?.text || $json.body.event.text || '').replace(/<@.*?>/g, '').trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        176
      ],
      "id": "a43682e2-bd7a-4d5e-b832-996dd3e609b1",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.body }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-type",
                "value": "text/plain"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        208,
        192
      ],
      "id": "27bf3ced-03ab-4d54-b0d7-dbb419104d6e",
      "name": "URL Verification"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"{{ $if($('Webhook').isExecuted, $('Webhook').first().json.body.event.channel, '') }}\",\n  \"thread_ts\": \"{{ $if($('Webhook').isExecuted, $('Webhook').first().json.body.event.ts, '') }}\",\n  \"text\": \"{{ $json.content }}\",\n  \"blocks\": [\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"{{ $json.content }}\"\n      }\n    },\n    {\n      \"type\": \"actions\",\n      \"elements\": [\n        {\n          \"type\": \"button\",\n          \"text\": {\n            \"type\": \"plain_text\",\n            \"emoji\": true,\n            \"text\": \"\ud83d\udcdd Provide Feedback\"\n          },\n          \"url\": \"https://airtable.com/apptuAm73VyH7pcHA/pagcIh8VIE4XO9Bc7/form\",\n          \"action_id\": \"open_airtable_feedback\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4176,
        176
      ],
      "id": "22c4b889-ec86-453c-850f-bd2e3d75e38a",
      "name": "Send Slack Message",
      "credentials": {
        "slackApi": {
          "id": "fCZASZSmQRqVQSXH",
          "name": "SVPortal"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"{{ $('Webhook').first().json.body.event.channel }}\",\n  \"thread_ts\": \"{{ $('Webhook').first().json.body.event.ts }}\",\n  \"text\": \"{{ $('Code in JavaScript').first().json.slackMessage }}\",\n  \"blocks\": [\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"{{ $('Code in JavaScript').first().json.slackMessage }}\"\n      }\n    },\n    {\n      \"type\": \"actions\",\n      \"elements\": [\n        {\n          \"type\": \"button\",\n          \"text\": {\n            \"type\": \"plain_text\",\n            \"emoji\": true,\n            \"text\": \"\ud83d\udc4d Helpful\"\n          },\n          \"style\": \"primary\",\n          \"value\": \"helpful_{{ $('Webhook').first().json.body.event.ts }}\",\n          \"action_id\": \"feedback_positive\"\n        },\n        {\n          \"type\": \"button\",\n          \"text\": {\n            \"type\": \"plain_text\",\n            \"emoji\": true,\n            \"text\": \"\ud83d\udc4e Not Helpful\"\n          },\n          \"style\": \"danger\",\n          \"value\": \"unhelpful_{{ $('Webhook').first().json.body.event.ts }}\",\n          \"action_id\": \"feedback_negative\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6016,
        -1056
      ],
      "id": "364a2337-6478-4618-ba91-1fe0c56b4fbd",
      "name": "Send Slack Message1",
      "credentials": {
        "slackApi": {
          "id": "fCZASZSmQRqVQSXH",
          "name": "SVPortal"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1vJ-Cmu23sV_hw7HZ9m0uhRGdyBqUV83QwJVLj3B2Ow8",
          "mode": "list",
          "cachedResultName": "SV Chatbot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vJ-Cmu23sV_hw7HZ9m0uhRGdyBqUV83QwJVLj3B2Ow8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Bot Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vJ-Cmu23sV_hw7HZ9m0uhRGdyBqUV83QwJVLj3B2Ow8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Raw TS": "={{ $json.anchor_ts }}",
            "Feedback": "={{ $json.feedback }}"
          },
          "matchingColumns": [
            "Raw TS"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "User",
              "displayName": "User",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Question",
              "displayName": "Question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Response",
              "displayName": "Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Suggested Doc",
              "displayName": "Suggested Doc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Raw TS",
              "displayName": "Raw TS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        960,
        592
      ],
      "id": "29a95a16-d82f-48a8-a2cc-26ba4f2ddee5",
      "name": "Update Bot Logs",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7pY5bB7lSFChbAjI",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.update",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"{{ $json.channel_id }}\",\n  \"ts\": \"{{ $json.click_ts }}\",\n  \"text\": {{ JSON.stringify($json.original_text) }},\n  \"blocks\": [\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": {{ JSON.stringify($json.original_text) }}\n      }\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"\ud83d\udcdd _Looking forward to your feedback!_\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1024,
        368
      ],
      "id": "1e9f197a-578f-445f-9259-1823a230ce11",
      "name": "Update Message",
      "credentials": {
        "slackApi": {
          "id": "fCZASZSmQRqVQSXH",
          "name": "SVPortal"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Parse the incoming Slack payload\nconst payload = JSON.parse($input.first().json.body.payload);\n\n// 2. Get the action details\nconst action = payload.actions[0];\n\n\n// \u2705 Guard: STOP execution if this isn't the Airtable feedback button click\nif (action.action_id !== 'open_airtable_feedback') {\n  // Returning an empty array tells n8n there is no data to process, \n  // effectively stopping the workflow here.\n  return []; \n}\n\n// 3. Grab the user, channel, and message timestamps\nconst userId = payload.user.id;\nconst channelId = payload.channel.id;\nconst messageTs = payload.container.message_ts;\n\n// Grab the thread timestamp (this acts as your original anchor_ts)\n// Fallback to messageTs if the message isn't part of a thread\nconst threadTs = payload.container.thread_ts || messageTs;\n\n// 4. Output\nreturn [{\n  json: {\n    feedback: \"airtable_form_opened\", \n    anchor_ts: threadTs,\n    user_id: userId,\n    channel_id: channelId,\n    click_ts: messageTs,\n    original_text: payload.message.blocks[0].text.text\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        480
      ],
      "id": "8b3a3048-2f9b-4255-8b24-8b1e8cccb26d",
      "name": "Parser for button"
    },
    {
      "parameters": {
        "resource": "user",
        "operation": "getProfile",
        "user": {
          "__rl": true,
          "value": "={{ $('Event Identifier').item.json.body.event.user }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1264,
        176
      ],
      "id": "54fbf256-761c-40cf-a9b6-f4e8f5ea75b5",
      "name": "Get a user's profile",
      "webhookId": "35cf9287-fb92-40d2-ade5-414558aca04c",
      "alwaysOutputData": false,
      "credentials": {
        "slackApi": {
          "id": "fCZASZSmQRqVQSXH",
          "name": "SVPortal"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "1zOP6fu-lRglmQuK8yTSZvfJi3Y5abxr9OjpPxy-kQqk"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        2896,
        288
      ],
      "id": "f88eb2fe-68d6-4866-b366-d8136bbd5f4f",
      "name": "Get a document in Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "rFOO1V6uOXqD0MSE",
          "name": "Google Docs account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "nextPageToken,files(name,id,mimeType)"
            },
            {
              "name": "pageSize",
              "value": "1000"
            },
            {
              "name": "includeItemsFromAllDrives",
              "value": "true"
            },
            {
              "name": "supportsAllDrives",
              "value": "true"
            },
            {
              "name": "corpora",
              "value": "allDrives"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1664,
        176
      ],
      "id": "bee6bc44-ab3d-4396-9a89-c0d334ce60e9",
      "name": "HTTP Request",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JBXtc51tbaOm0jko",
          "name": "Chatbot"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "typeName": "Support Profile",
        "returnAll": "={{ true }}",
        "options": {
          "filters": {
            "filter": [
              {
                "key": "Email",
                "constraint_type": "equals",
                "value": "={{ $if($('Get a user\\'s profile').isExecuted, $('Get a user\\'s profile').first().json.email, $('Eval: Prepare').first().json.test_email) }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.bubbleTool",
      "typeVersion": 1,
      "position": [
        3904,
        992
      ],
      "id": "d6e32493-2e38-4184-ba16-90d1767f19bc",
      "name": "Get Support Profile in Bubble",
      "credentials": {
        "bubbleApi": {
          "id": "o3eWjifu6jdDsPuY",
          "name": "Bubble Sync"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1vJ-Cmu23sV_hw7HZ9m0uhRGdyBqUV83QwJVLj3B2Ow8",
          "mode": "list",
          "cachedResultName": "SV Chatbot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vJ-Cmu23sV_hw7HZ9m0uhRGdyBqUV83QwJVLj3B2Ow8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Bot Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vJ-Cmu23sV_hw7HZ9m0uhRGdyBqUV83QwJVLj3B2Ow8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{$now}}",
            "User": "={{ $('Get a user\\'s profile').first().json.email }}",
            "Question": "={{ $if($('Webhook').isExecuted, $('Webhook').first().json.body.event.text, $('Eval: Prepare').first().json.question) }}",
            "Response": "={{ $if($('Code in JavaScript').isExecuted, $('Code in JavaScript').first().json.slackMessage, $('Switch').first().json.content) }}",
            "Status": "={{ $('Switch').item.json.status }}",
            "Suggested Doc": "N/A",
            "Raw TS": "={{ '' }}",
            "Token Usage": "={{ ($node[\"Portkey for Claude\"].isExecuted ? $node[\"Portkey for Claude\"].all()[0].json.tokenUsageEstimate.totalTokens : 0) + ($node[\"Portkey (2)\"].isExecuted ? $node[\"Portkey (2)\"].all()[0].json.tokenUsageEstimate.totalTokens : 0) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "User",
              "displayName": "User",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Question",
              "displayName": "Question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Response",
              "displayName": "Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Suggested Doc",
              "displayName": "Suggested Doc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Raw TS",
              "displayName": "Raw TS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Feedback Comment",
              "displayName": "Feedback Comment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Token Usage",
              "displayName": "Token Usage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "RAW"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        7104,
        176
      ],
      "id": "5733fd5f-0756-44a3-a195-82f271b3723c",
      "name": "Append Data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7pY5bB7lSFChbAjI",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $if($('Webhook').isExecuted, $('Webhook').first().json.body.event.channel_type === 'im' ? $('Webhook').first().json.body.event.channel : ($('Webhook').first().json.body.event.thread_ts ?? $('Webhook').first().json.body.event.ts), 'eval_' + $('Eval: Prepare').first().json.question.slice(0,30).replace(/[^a-z0-9]/gi,'_')) }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        2496,
        400
      ],
      "id": "016b3982-ae01-4f1c-a27d-ff2ae31e138b",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "7V26xuOh9kws3wQp",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $if($('Webhook').isExecuted, $('Webhook').first().json.body.event.channel_type === 'im' ? $('Webhook').first().json.body.event.channel : ($('Webhook').first().json.body.event.thread_ts ?? $('Webhook').first().json.body.event.ts), 'eval_' + $('Eval: Prepare').first().json.question.slice(0,30).replace(/[^a-z0-9]/gi,'_')) }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        5856,
        -64
      ],
      "id": "2cd89276-8265-4199-8a13-ceb94341ac9c",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "7V26xuOh9kws3wQp",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "ministral-3b-latest",
          "mode": "list",
          "cachedResultName": "ministral-3b-latest"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        5616,
        -48
      ],
      "id": "b83e38de-de46-405b-81e0-a42d48edae4c",
      "name": "Portkey (2)",
      "credentials": {
        "openAiApi": {
          "id": "pmTl8tr3gScO6C5P",
          "name": "Portkey"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst files = data.files || [];\nconst names = files.map(function(f) {\n  if (f && typeof f === 'object') return f.name || '';\n  return String(f || '');\n}).filter(function(n) { return n.length > 0; });\nreturn [{ json: { files: names } }];"
      },
      "id": "trim-files-code-node-001",
      "name": "Trim Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1904,
        176
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fqkaqqoujtgjxfltgtgy.supabase.co/rest/v1/user_profiles",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "on_conflict",
              "value": "user_slack_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZxa2FxcW91anRnanhmbHRndGd5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI2OTkxNywiZXhwIjoyMDg5ODQ1OTE3fQ.vrHjyR39N29SNv4ZIbymIcW7CvE3YT0oyiXG7TtePBg"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZxa2FxcW91anRnanhmbHRndGd5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI2OTkxNywiZXhwIjoyMDg5ODQ1OTE3fQ.vrHjyR39N29SNv4ZIbymIcW7CvE3YT0oyiXG7TtePBg"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({user_slack_id: $('Webhook').first().json.body.event.user,email: $('Get a user\\'s profile').first().json.profile.email,display_name: $('Get a user\\'s profile').first().json.display_name,last_seen_at: new Date(Number($('Webhook').first().json.body.event.ts) * 1000).toISOString()}) }}",
        "options": {}
      },
      "id": "sb-profile-found",
      "name": "SB: Upsert Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7008,
        -304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fqkaqqoujtgjxfltgtgy.supabase.co/rest/v1/conversation_sessions",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "on_conflict",
              "value": "thread_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZxa2FxcW91anRnanhmbHRndGd5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI2OTkxNywiZXhwIjoyMDg5ODQ1OTE3fQ.vrHjyR39N29SNv4ZIbymIcW7CvE3YT0oyiXG7TtePBg"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZxa2FxcW91anRnanhmbHRndGd5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI2OTkxNywiZXhwIjoyMDg5ODQ1OTE3fQ.vrHjyR39N29SNv4ZIbymIcW7CvE3YT0oyiXG7TtePBg"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({thread_id: ($('Webhook').first().json.body.event.thread_ts ?? $('Webhook').first().json.body.event.ts),user_slack_id: $('Webhook').first().json.body.event.user,channel_id: $('Webhook').first().json.body.event.channel,last_active_at: new Date(Number($('Webhook').first().json.body.event.ts) * 1000).toISOString()}) }}",
        "options": {}
      },
      "id": "sb-session-found",
      "name": "SB: Upsert Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7264,
        -304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fqkaqqoujtgjxfltgtgy.supabase.co/rest/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZxa2FxcW91anRnanhmbHRndGd5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI2OTkxNywiZXhwIjoyMDg5ODQ1OTE3fQ.vrHjyR39N29SNv4ZIbymIcW7CvE3YT0oyiXG7TtePBg"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZxa2FxcW91anRnanhmbHRndGd5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI2OTkxNywiZXhwIjoyMDg5ODQ1OTE3fQ.vrHjyR39N29SNv4ZIbymIcW7CvE3YT0oyiXG7TtePBg"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ JSON.stringify([{thread_id: ($('Webhook').first().json.body.event.thread_ts ?? $('Webhook').first().json.body.event.ts),role: 'user',content: $('Edit Fields1').first().json.text,status: $('Code in JavaScript1').first().json.status,message_ts: new Date(Number($('Webhook').first().json.body.event.ts) * 1000).toISOString()},{thread_id: ($('Webhook').first().json.body.event.thread_ts ?? $('Webhook').first().json.body.event.ts),role: 'assistant',content: $('Assistant').first().json.output,status: $('Code in JavaScript1').first().json.status,model_used: 'portkey',source_doc: $('Code in JavaScript1').first().json.status === 'FOUND' ? $('Code in JavaScript1').first().json.content : null,message_ts: new Date(Number($('Webhook').first().json.body.event.ts) * 1000).toISOString()}]) }}",
        "options": {}
      },
      "id": "sb-messages-found",
      "name": "SB: Log Messages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7520,
        -304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fqkaqqoujtgjxfltgtgy.supabase.co/rest/v1/user_profiles",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "on_conflict",
              "value": "user_slack_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZxa2FxcW91anRnanhmbHRndGd5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI2OTkxNywiZXhwIjoyMDg5ODQ1OTE3fQ.vrHjyR39N29SNv4ZIbymIcW7CvE3YT0oyiXG7TtePBg"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZxa2FxcW91anRnanhmbHRndGd5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI2OTkxNywiZXhwIjoyMDg5ODQ1OTE3fQ.vrHjyR39N29SNv4ZIbymIcW7CvE3YT0oyiXG7TtePBg"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({user_slack_id: $('Webhook').first().json.body.event.user,email: $('Get a user\\'s profile').first().json.profile.email,display_name: $('Get a user\\'s profile').first().json.display_name,last_seen_at: new Date(Number($('Webhook').first().json.body.event.ts) * 1000).toISOString()}) }}",
        "options": {}
      },
      "id": "sb-profile-direct",
      "name": "SB: Upsert Profile (D)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5664,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fqkaqqoujtgjxfltgtgy.supabase.co/rest/v1/conversation_sessions",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "on_conflict",
              "value": "thread_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZxa2FxcW91anRnanhmbHRndGd5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI2OTkxNywiZXhwIjoyMDg5ODQ1OTE3fQ.vrHjyR39N29SNv4ZIbymIcW7CvE3YT0oyiXG7TtePBg"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZxa2FxcW91anRnanhmbHRndGd5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI2OTkxNywiZXhwIjoyMDg5ODQ1OTE3fQ.vrHjyR39N29SNv4ZIbymIcW7CvE3YT0oyiXG7TtePBg"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({thread_id: ($('Webhook').first().json.body.event.thread_ts ?? $('Webhook').first().json.body.event.ts),user_slack_id: $('Webhook').first().json.body.event.user,channel_id: $('Webhook').first().json.body.event.channel,last_active_at: new Date(Number($('Webhook').first().json.body.event.ts) * 1000).toISOString()}) }}",
        "options": {}
      },
      "id": "sb-session-direct",
      "name": "SB: Upsert Session (D)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5136,
        576
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fqkaqqoujtgjxfltgtgy.supabase.co/rest/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZxa2FxcW91anRnanhmbHRndGd5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI2OTkxNywiZXhwIjoyMDg5ODQ1OTE3fQ.vrHjyR39N29SNv4ZIbymIcW7CvE3YT0oyiXG7TtePBg"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZxa2FxcW91anRnanhmbHRndGd5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI2OTkxNywiZXhwIjoyMDg5ODQ1OTE3fQ.vrHjyR39N29SNv4ZIbymIcW7CvE3YT0oyiXG7TtePBg"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ JSON.stringify([{thread_id: ($('Webhook').first().json.body.event.thread_ts ?? $('Webhook').first().json.body.event.ts),role: 'user',content: $('Edit Fields1').first().json.text,status: $('Switch').first().json.status,message_ts: new Date(Number($('Webhook').first().json.body.event.ts) * 1000).toISOString()},{thread_id: ($('Webhook').first().json.body.event.thread_ts ?? $('Webhook').first().json.body.event.ts),role: 'assistant',content: $('Switch').first().json.content,status: $('Switch').first().json.status,model_used: 'portkey',message_ts: new Date(Number($('Webhook').first().json.body.event.ts) * 1000).toISOString()}]) }}",
        "options": {}
      },
      "id": "sb-messages-direct",
      "name": "SB: Log Messages (D)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5392,
        576
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fqkaqqoujtgjxfltgtgy.supabase.co/rest/v1/feedback",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZxa2FxcW91anRnanhmbHRndGd5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI2OTkxNywiZXhwIjoyMDg5ODQ1OTE3fQ.vrHjyR39N29SNv4ZIbymIcW7CvE3YT0oyiXG7TtePBg"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZxa2FxcW91anRnanhmbHRndGd5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI2OTkxNywiZXhwIjoyMDg5ODQ1OTE3fQ.vrHjyR39N29SNv4ZIbymIcW7CvE3YT0oyiXG7TtePBg"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({thread_id: $json.anchor_ts,user_slack_id: $json.user_id,rating: $json.feedback}) }}",
        "options": {}
      },
      "id": "sb-feedback",
      "name": "SB: Log Feedback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1184,
        592
      ]
    },
    {
      "parameters": {
        "source": "googleSheets",
        "documentId": {
          "__rl": true,
          "value": "1BkribVkF2oT7XhptCx8F7qLcXXrnYvpCYGsdSY-RWWg",
          "mode": "list",
          "cachedResultName": "Evaluation sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BkribVkF2oT7XhptCx8F7qLcXXrnYvpCYGsdSY-RWWg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Chatbot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BkribVkF2oT7XhptCx8F7qLcXXrnYvpCYGsdSY-RWWg/edit#gid=0"
        }
      },
      "type": "n8n-nodes-base.evaluationTrigger",
      "typeVersion": 4.7,
      "position": [
        928,
        -288
      ],
      "id": "580104b5-dc4d-46dd-b027-bfc7556b8092",
      "name": "When fetching a dataset row",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0ZCZlF2fLbj37gqj",
          "name": "PJ Sheets"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "q1",
              "name": "question",
              "value": "={{ $json.Question }}",
              "type": "string"
            },
            {
              "id": "q2",
              "name": "test_email",
              "value": "mhay.adrias@scalevirtually.com",
              "type": "string"
            },
            {
              "id": "q3",
              "name": "expected_status",
              "value": "={{ $json.expected_status }}",
              "type": "string"
            },
            {
              "id": "q4",
              "name": "expected_doc",
              "value": "={{ $json[\"expected_Doc/Bubble Data\"] }}",
              "type": "string"
            },
            {
              "id": "q5",
              "name": "row_user",
              "value": "={{ $json.User }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1264,
        -96
      ],
      "id": "eval-prepare-001",
      "name": "Eval: Prepare"
    },
    {
      "parameters": {
        "source": "googleSheets",
        "documentId": {
          "__rl": true,
          "value": "1BkribVkF2oT7XhptCx8F7qLcXXrnYvpCYGsdSY-RWWg",
          "mode": "list",
          "cachedResultName": "Evaluation sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BkribVkF2oT7XhptCx8F7qLcXXrnYvpCYGsdSY-RWWg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Chatbot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BkribVkF2oT7XhptCx8F7qLcXXrnYvpCYGsdSY-RWWg/edit#gid=0"
        },
        "outputs": {
          "values": [
            {
              "outputName": "actual_response",
              "outputValue": "={{ $json.Response }}{{ $json.slackMessage }}"
            },
            {
              "outputName": "actual_status",
              "outputValue": "={{ $json.Status }}{{ $('Code in JavaScript1').first().json.status }}"
            },
            {
              "outputName": "actual_Doc/ Bubble Data",
              "outputValue": "={{ $json[\"Suggested Doc\"] }}{{ $('Code in JavaScript1').first().json.content }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.8,
      "position": [
        7328,
        176
      ],
      "id": "3d920985-291d-4d90-8914-12e88c5d3481",
      "name": "Evaluation",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0ZCZlF2fLbj37gqj",
          "name": "PJ Sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "setMetrics",
        "expectedAnswer": "={{ $if($('When fetching a dataset row').isExecuted, $('When fetching a dataset row').first().json.expected_response, '') }}",
        "actualAnswer": "={{ $json.Response }}{{ $json.slackMessage }}",
        "prompt": "CRITICAL FORMATTING RULE: You must return ONLY a raw JSON object. Do NOT wrap it in markdown code fences. Do NOT use \\``json or ``` anywhere in your response. Your response must start with { and end with }.`\n\nYou are an expert factual evaluator assessing the accuracy of answers compared to established ground truths.\n\nEvaluate the factual correctness of a given output compared to the provided ground truth on a scale from 1 to 5. Use detailed reasoning to thoroughly analyze all claims before determining the final score.\n\n# Scoring Criteria\n\n- 5: Highly similar - The output and ground truth are nearly identical, with only minor, insignificant differences.\n- 4: Somewhat similar - The output is largely similar to the ground truth but has few noticeable differences.\n- 3: Moderately similar - There are some evident differences, but the core essence is captured in the output.\n- 2: Slightly similar - The output only captures a few elements of the ground truth and contains several differences.\n- 1: Not similar - The output is significantly different from the ground truth, with few or no matching elements.\n\n# Evaluation Steps\n\n1. Identify and list the key elements present in both the output and the ground truth.\n2. Compare these key elements to evaluate their similarities and differences, considering both content and structure.\n3. Analyze the semantic meaning conveyed by both the output and the ground truth, noting any significant deviations.\n4. Consider factual accuracy of specific details, including names, dates, numbers, and relationships.\n5. Assess whether the output maintains the factual integrity of the ground truth, even if phrased differently.\n6. Determine the overall level of similarity and accuracy according to the defined criteria.\n\n# Output Format\n\nProvide:\n- A detailed analysis of the comparison (extended reasoning)\n- A one-sentence summary highlighting key differences (not similarities)\n- The final similarity score as an integer (1, 2, 3, 4, or 5)\n\nAlways follow the JSON format below and return nothing else:\n{\n  \"extended_reasoning\": \"<detailed step-by-step analysis of factual accuracy and similarity>\",\n  \"reasoning_summary\": \"<one sentence summary focusing on key differences>\",\n  \"score\": <number: integer from 1 to 5>\n}\n\n# Examples\n\n**Example 1:**\n\nInput:\n- Output: \"The cat sat on the mat.\"\n- Ground Truth: \"The feline is sitting on the rug.\"\n\nExpected Output:\n{\n  \"extended_reasoning\": \"I need to compare 'The cat sat on the mat' with 'The feline is sitting on the rug.' First, let me identify the key elements: both describe an animal ('cat' vs 'feline') in a position ('sat' vs 'sitting') on a surface ('mat' vs 'rug'). The subject is semantically identical - 'cat' and 'feline' refer to the same animal. The action is also semantically equivalent - 'sat' and 'sitting' both describe the same position, though one is past tense and one is present continuous. The location differs in specific wording ('mat' vs 'rug') but both refer to floor coverings that serve the same function. The basic structure and meaning of both sentences are preserved, though they use different vocabulary and slightly different tense. The core information being conveyed is the same, but there are noticeable wording differences.\",\n  \"reasoning_summary\": \"The sentences differ in vocabulary choice ('cat' vs 'feline', 'mat' vs 'rug') and verb tense ('sat' vs 'is sitting').\",\n  \"score\": 3\n}\n\n**Example 2:**\n\nInput:\n- Output: \"The quick brown fox jumps over the lazy dog.\"\n- Ground Truth: \"A fast brown animal leaps over a sleeping canine.\"\n\nExpected Output:\n{\n  \"extended_reasoning\": \"I need to compare 'The quick brown fox jumps over the lazy dog' with 'A fast brown animal leaps over a sleeping canine.' Starting with the subjects: 'quick brown fox' vs 'fast brown animal'. Both describe the same entity (a fox is a type of animal) with the same attributes (quick/fast and brown). The action is described as 'jumps' vs 'leaps', which are synonymous verbs describing the same motion. The object in both sentences is a dog, described as 'lazy' in one and 'sleeping' in the other, which are related concepts (a sleeping dog could be perceived as lazy). The structure follows the same pattern: subject + action + over + object. The sentences convey the same scene with slightly different word choices that maintain the core meaning. The level of specificity differs slightly ('fox' vs 'animal', 'dog' vs 'canine'), but the underlying information and imagery remain very similar.\",\n  \"reasoning_summary\": \"The sentences use different but synonymous terminology ('quick' vs 'fast', 'jumps' vs 'leaps', 'lazy' vs 'sleeping') and varying levels of specificity ('fox' vs 'animal', 'dog' vs 'canine').\",\n  \"score\": 4\n}\n\n# Notes\n\n- Focus primarily on factual accuracy and semantic similarity, not writing style or phrasing differences.\n- Identify specific differences rather than making general assessments.\n- Pay special attention to dates, numbers, names, locations, and causal relationships when present.\n- Consider the significance of each difference in the context of the overall information.\n- Be consistent in your scoring approach across different evaluations.",
        "options": {}
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.8,
      "position": [
        7856,
        160
      ],
      "id": "abd94d4c-f288-495a-9103-338ebe81ab6d",
      "name": "Evaluation1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "devstral-2512",
          "mode": "list",
          "cachedResultName": "devstral-2512"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        7936,
        320
      ],
      "id": "bc241f57-dc2d-4104-862c-01e51d4203d7",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "pmTl8tr3gScO6C5P",
          "name": "Portkey"
        }
      }
    },
    {
      "parameters": {
        "source": "googleSheets",
        "documentId": {
          "__rl": true,
          "value": "1BkribVkF2oT7XhptCx8F7qLcXXrnYvpCYGsdSY-RWWg",
          "mode": "list",
          "cachedResultName": "Evaluation sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BkribVkF2oT7XhptCx8F7qLcXXrnYvpCYGsdSY-RWWg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Chatbot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BkribVkF2oT7XhptCx8F7qLcXXrnYvpCYGsdSY-RWWg/edit#gid=0"
        },
        "outputs": {
          "values": [
            {
              "outputName": "Correctness",
              "outputValue": "={{ $json.scores.correctness }}"
            },
            {
              "outputName": "Helpfulness",
              "outputValue": "={{ $json.scores.helpfulness }}"
            },
            {
              "outputName": "Categorization",
              "outputValue": "={{ $json.scores.categorization }}"
            },
            {
              "outputName": "Pass/Fail",
              "outputValue": "={{ $json.summary }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.8,
      "position": [
        9328,
        160
      ],
      "id": "e79b7a24-4a75-4098-a9c5-64fde175dc82",
      "name": "Evaluation2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0ZCZlF2fLbj37gqj",
          "name": "PJ Sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "setMetrics",
        "metric": "helpfulness",
        "userQuery": "={{ $('When fetching a dataset row').first().json.expected_response }}",
        "actualAnswer": "={{ $if($('Code in JavaScript').isExecuted, $('Code in JavaScript').item.json.slackMessage, $('Switch').item.json.content) }}",
        "prompt": "CRITICAL FORMATTING RULE: You must return ONLY a raw JSON object. Do NOT wrap it in markdown code fences. Do NOT use \\``json or ``` anywhere in your response. Your response must start with { and end with }.`\n\nYou are an expert evaluator assessing the helpfulness of responses to user queries.\n\nEvaluate how helpful and useful a given response is to the user's question or request on a scale from 1 to 5. Consider whether the response addresses the user's needs, provides actionable information, and is relevant to their query.\n\n# Scoring Criteria\n\n- 5: Extremely helpful - The response fully addresses the user's needs, provides comprehensive and actionable information, and goes above and beyond to be useful.\n- 4: Very helpful - The response addresses most of the user's needs, provides useful information, and is highly relevant.\n- 3: Moderately helpful - The response addresses some of the user's needs, provides some useful information, but may lack completeness or depth.\n- 2: Slightly helpful - The response provides minimal useful information and only partially addresses the user's needs.\n- 1: Not helpful - The response fails to address the user's needs, provides no useful information, or is irrelevant.\n\n# Evaluation Steps\n\n1. Analyze the user's question or request to understand what they're looking for.\n2. Evaluate how well the response addresses the specific needs expressed in the query.\n3. Assess the completeness and quality of the information provided.\n4. Consider the relevance and applicability of the response to the user's situation.\n5. Evaluate whether the response provides actionable insights or next steps.\n6. Determine the overall helpfulness according to the defined criteria.\n\n# Output Format\n\nProvide:\n- A detailed analysis of the response's helpfulness (extended reasoning)\n- A one-sentence summary highlighting the key strengths or weaknesses\n- The final helpfulness score as an integer (1, 2, 3, 4, or 5)\n\nAlways follow the JSON format below and return nothing else:\n{\n  \"extended_reasoning\": \"<detailed step-by-step analysis of the response's helpfulness>\",\n  \"reasoning_summary\": \"<one sentence summary of the response's helpfulness>\",\n  \"score\": <number: integer from 1 to 5>\n}\n\n# Examples\n\n**Example 1:**\n\nInput:\n- Query: \"How do I fix a leaky faucet?\"\n- Response: \"A leaky faucet is usually caused by a worn washer or O-ring. Turn off the water supply, remove the handle, replace the washer or O-ring, and reassemble. If the leak persists, you may need to replace the entire cartridge.\"\n\nExpected Output:\n{\n  \"extended_reasoning\": \"The user asked for help fixing a leaky faucet, which is a practical home maintenance question. The response directly addresses the query by identifying the most common cause (worn washer or O-ring) and provides a clear step-by-step solution. It includes important safety information (turning off water supply) and offers a backup solution if the initial fix doesn't work. The response is concise, actionable, and comprehensive for this common problem.\",\n  \"reasoning_summary\": \"The response provides a complete, actionable solution with clear steps and troubleshooting advice.\",\n  \"score\": 5\n}\n\n**Example 2:**\n\nInput:\n- Query: \"What's the weather like?\"\n- Response: \"Weather can be sunny, rainy, cloudy, or snowy depending on various atmospheric conditions.\"\n\nExpected Output:\n{\n  \"extended_reasoning\": \"The user asked about the weather, which typically implies they want current weather conditions for their location or a specific place. However, the response provides only generic information about weather types without addressing the specific query. It doesn't provide current conditions, forecasts, or ask for location clarification. The response is factually correct but completely unhelpful for the user's actual need.\",\n  \"reasoning_summary\": \"The response provides generic weather information instead of addressing the user's likely need for current conditions.\",\n  \"score\": 1\n}\n\n# Notes\n\n- Focus on practical utility and how well the response serves the user's actual needs\n- Consider completeness, accuracy, and actionability of the information\n- Pay attention to whether the response asks for clarification when needed\n- Evaluate whether the response is appropriately detailed for the query complexity",
        "options": {}
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.8,
      "position": [
        8272,
        160
      ],
      "name": "Evaluation: Helpfulness",
      "id": "aa20b793-ae6d-4fe2-a483-2b706e661803"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "devstral-2512",
          "mode": "list",
          "cachedResultName": "devstral-2512"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        8320,
        336
      ],
      "name": "OpenAI Chat Model1",
      "id": "ffd0fbfe-22d3-4d43-b0a8-cc735bf5d696",
      "credentials": {
        "openAiApi": {
          "id": "pmTl8tr3gScO6C5P",
          "name": "Portkey"
        }
      }
    },
    {
      "parameters": {
        "operation": "setMetrics",
        "metric": "categorization",
        "expectedAnswer": "={{ $if($('When fetching a dataset row').isExecuted, $('When fetching a dataset row').first().json.expected_status, '') }}",
        "actualAnswer": "={{ $('Code in JavaScript1').first().json.status }}",
        "options": {}
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.8,
      "position": [
        8656,
        160
      ],
      "name": "Categorization",
      "id": "3de8f917-c806-414a-b07b-566e3e2f0946"
    },
    {
      "parameters": {
        "jsCode": "// \u2500\u2500\u2500 Eval Pass/Fail Summary \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n//\n// Scoring:\n//   Correctness  1\u20135  (from Evaluation1)\n//   Helpfulness  1\u20135  (from Evaluation: Helpfulness)\n//   Categorization 0 or 1 \u2014 INSTANT FAIL if 0\n//\n// Total = Correctness + Helpfulness  (max 10)\n// PASS requires: categorization === 1  AND  total >= PASS_THRESHOLD\n//\nconst PASS_THRESHOLD = 7; // out of 10 (70%) \u2014 adjust here if needed\n\n// Pull scores \u2014 use .first().json for \"Run Once for All Items\" mode\nconst correctnessRaw    = $('Evaluation1').first().json;\nconst helpfulnessRaw    = $('Evaluation: Helpfulness').first().json;\nconst categorizationRaw = $('Categorization').first().json;\n\nconst correctnessScore    = correctnessRaw?.Correctness    ?? correctnessRaw?.correctness    ?? null;\nconst helpfulnessScore    = helpfulnessRaw?.helpfulness    ?? helpfulnessRaw?.Helpfulness    ?? null;\nconst categorizationScore = categorizationRaw?.Categorization ?? categorizationRaw?.categorization ?? null;\n\n// Instant fail if categorization is wrong\nconst categorizationPassed = categorizationScore === 1;\n\n// Total of numeric scores\nconst total    = (correctnessScore ?? 0) + (helpfulnessScore ?? 0);\nconst maxTotal = 10;\n\nconst scorePassed   = total >= PASS_THRESHOLD;\nconst overallPassed = categorizationPassed && scorePassed;\n\n// Build failure reasons\nconst failureReasons = [];\nif (!categorizationPassed) {\n  failureReasons.push(\n    `INSTANT FAIL: Categorization mismatch (score: ${categorizationScore}) \u2014 actual_status did not match expected_status`\n  );\n}\nif (!scorePassed) {\n  failureReasons.push(\n    `Total score ${total}/${maxTotal} is below pass threshold of ${PASS_THRESHOLD}/${maxTotal} \u2014 Correctness: ${correctnessScore}/5, Helpfulness: ${helpfulnessScore}/5`\n  );\n}\nif (correctnessScore === null)    failureReasons.push('Correctness score unavailable');\nif (helpfulnessScore === null)    failureReasons.push('Helpfulness score unavailable');\nif (categorizationScore === null) failureReasons.push('Categorization score unavailable');\n\nreturn [{\n  json: {\n    pass_fail: overallPassed ? 'PASS' : 'FAIL',\n    total_score: total,\n    max_score: maxTotal,\n    pass_threshold: PASS_THRESHOLD,\n    scores: {\n      correctness:    correctnessScore,\n      helpfulness:    helpfulnessScore,\n      categorization: categorizationScore\n    },\n    failure_reasons: failureReasons,\n    summary: overallPassed\n      ? `PASS \u2014 Total: ${total}/${maxTotal}, Categorization: matched`\n      : `FAIL \u2014 ${failureReasons.join(' | ')}`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9072,
        160
      ],
      "name": "Eval: Pass/Fail Result",
      "id": "23dea901-8cef-40e7-9055-b7d2e30c8159"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3936,
        -272
      ],
      "name": "Search: Found?",
      "id": "e4aa7918-1ef8-4ba6-b59e-cadc7fdf1c1b"
    },
    {
      "parameters": {
        "jsCode": "// Increment retry counter.\n// Returns [] (stops) when max 3 retries exhausted.\nconst RETRY_LIMIT = 3;\n\nconst prev = $input.first().json;\nconst retryCount = (prev._retry_count ?? 0) + 1;\nconst failedDoc  = prev.content ?? prev._failed_doc ?? '';\n\nif (retryCount > RETRY_LIMIT) {\n  // Max retries exceeded \u2014 stop the loop silently\n  return [];\n}\n\n// Pass data back to Classifier with retry context\nreturn [{\n  json: {\n    ...prev,\n    _retry_count: retryCount,\n    _failed_doc: failedDoc\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3936,
        -80
      ],
      "name": "Retry: Check",
      "id": "a69b9dc1-b3ea-46d9-b59a-fac484d62d06"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('When fetching a dataset row').isExecuted }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        7536,
        176
      ],
      "name": "IF: Is Eval?",
      "id": "e2ec0674-2e2e-4156-9694-3f5f2d383af4"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-20250514",
          "mode": "list",
          "cachedResultName": "claude-sonnet-4-20250514"
        },
        "builtInTools": {},
        "options": {
          "metadata": "{}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2320,
        400
      ],
      "id": "3e9e0838-e4a3-4f54-b78a-5de69fe37877",
      "name": "Portkey for Claude",
      "credentials": {
        "openAiApi": {
          "id": "cSz8XnuhUXHGdd6h",
          "name": "Portkey - Claude Cluster"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        4944,
        -272
      ],
      "name": "Merge: All File Content",
      "id": "a1f3fc36-d621-4ed0-9739-99af9485737c"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst fileMap = {};\n\nfor (const item of items) {\n  // Both Google Docs and Drive Download paths may produce items\n  // Google Docs path: item.json.id, item.json.body (content as text)\n  // Drive Extract path: item.json.id, item.json.text or item.json.data\n  const id = item.json.id || item.json.documentId || '';\n  const name = item.json.title || item.json.name || item.json.documentId || id || 'Document';\n\n  // Build content string from whatever field the path gives us\n  let text = '';\n  if (typeof item.json.content === 'string') text = item.json.content;\n  else if (typeof item.json.text === 'string') text = item.json.text;\n  else if (typeof item.json.data === 'string') text = item.json.data;\n\n  text = text.trim();\n\n  // Keep whichever path gave us more text for this file\n  if (!fileMap[id] || text.length > (fileMap[id].content || '').length) {\n    fileMap[id] = { name, content: text };\n  }\n}\n\nconst sections = Object.values(fileMap)\n  .filter(f => f.content && f.content.replace(/\\n/g, '').trim().length > 5)\n  .map(f => '=== ' + f.name + ' ===\\n' + f.content);\n\nconst combinedContent = sections.length > 0\n  ? sections.join('\\n\\n---\\n\\n')\n  : 'No document content could be retrieved.';\n\nreturn [{ json: { combinedContent } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5344,
        -272
      ],
      "name": "Aggregate Content",
      "id": "1d894903-d049-48d0-8f59-159dc37f478d"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"{{ $if($('Webhook').isExecuted, $('Webhook').item.json.body.event.channel, '') }}\",\n  \"thread_ts\": \"{{ $if($('Webhook').isExecuted, $('Webhook').item.json.body.event.ts, '') }}\",\n  \"text\": \"{{ $json.slackMessage }}\",\n  \"blocks\": [\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"{{ $json.slackMessage }}\"\n      }\n    },\n    {\n      \"type\": \"actions\",\n      \"elements\": [\n        {\n          \"type\": \"button\",\n          \"text\": {\n            \"type\": \"plain_text\",\n            \"emoji\": true,\n            \"text\": \"\ud83d\udcdd Provide Feedback\"\n          },\n          \"url\": \"https://airtable.com/apptuAm73VyH7pcHA/pagcIh8VIE4XO9Bc7/form\",\n          \"action_id\": \"open_airtable_feedback\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6448,
        -48
      ],
      "id": "d46f9288-a913-48c5-8c2c-0083b89f1f14",
      "name": "Send Slack Message2",
      "credentials": {
        "slackApi": {
          "id": "fCZASZSmQRqVQSXH",
          "name": "SVPortal"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "typeName": "VA Profile",
        "returnAll": "={{ true }}",
        "options": {
          "filters": {
            "filter": [
              {
                "key": "Email",
                "constraint_type": "equals",
                "value": "={{ $if($('Get a user\\'s profile').isExecuted, $('Get a user\\'s profile').first().json.email, $('Eval: Prepare').first().json.test_email) }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.bubbleTool",
      "typeVersion": 1,
      "position": [
        3776,
        976
      ],
      "id": "cb1ac11a-cb44-46e0-8a86-959929e4c8a4",
      "name": "Get VA Profile in Bubble",
      "credentials": {
        "bubbleApi": {
          "id": "o3eWjifu6jdDsPuY",
          "name": "Bubble Sync"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "typeName": "Support PTO",
        "returnAll": true,
        "options": {
          "filters": {
            "filter": [
              {
                "key": "=Support Profile Unique ID",
                "constraint_type": "equals",
                "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('filter0_Value', ``, 'string') }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.bubbleTool",
      "typeVersion": 1,
      "position": [
        3632,
        928
      ],
      "id": "d3e9208f-1d79-415d-b1fa-4175fb2ac092",
      "name": "Get Support PTO Request in Bubble",
      "credentials": {
        "bubbleApi": {
          "id": "o3eWjifu6jdDsPuY",
          "name": "Bubble Sync"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "typeName": "VA PTO",
        "returnAll": true,
        "options": {
          "filters": {
            "filter": [
              {
                "key": "=VA Profile Unique ID",
                "constraint_type": "equals",
                "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('filter0_Value', ``, 'string') }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.bubbleTool",
      "typeVersion": 1,
      "position": [
        3488,
        864
      ],
      "id": "235edfab-ed28-4cfd-9f3f-28c3ebe31acb",
      "name": "Get VA PTO Request in Bubble",
      "credentials": {
        "bubbleApi": {
          "id": "o3eWjifu6jdDsPuY",
          "name": "Bubble Sync"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "typeName": "Support Overtime",
        "returnAll": true,
        "options": {
          "filters": {
            "filter": [
              {
                "key": "Support Profile Unique ID",
                "constraint_type": "equals",
                "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('filter0_Value', ``, 'string') }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.bubbleTool",
      "typeVersion": 1,
      "position": [
        3312,
        800
      ],
      "id": "e5dce07f-5d92-4802-b800-96c4827b2d36",
      "name": "Get Support Overtime in Bubble",
      "credentials": {
        "bubbleApi": {
          "id": "o3eWjifu6jdDsPuY",
          "name": "Bubble Sync"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "typeName": "VA Overtime",
        "returnAll": true,
        "options": {
          "filters": {
            "filter": [
              {
                "key": "VA Profile Unique ID",
                "constraint_type": "equals",
                "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('filter0_Value', ``, 'string') }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.bubbleTool",
      "typeVersion": 1,
      "position": [
        3200,
        736
      ],
      "id": "bf49d452-7790-4805-bfb3-34e6bfc52a6a",
      "name": "Get VA Overtime in Bubble",
      "credentials": {
        "bubbleApi": {
          "id": "o3eWjifu6jdDsPuY",
          "name": "Bubble Sync"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "typeName": "Support COS",
        "returnAll": true,
        "options": {
          "filters": {
            "filter": [
              {
                "key": "Support Profile Unique ID",
                "constraint_type": "equals",
                "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('filter0_Value', ``, 'string') }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.bubbleTool",
      "typeVersion": 1,
      "position": [
        3088,
        688
      ],
      "id": "b5e365a9-e842-4972-b18d-e8d8ee09d3f9",
      "name": "Get Support Schedule in Bubble",
      "credentials": {
        "bubbleApi": {
          "id": "o3eWjifu6jdDsPuY",
          "name": "Bubble Sync"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "typeName": "VA COS",
        "returnAll": true,
        "options": {
          "filters": {
            "filter": [
              {
                "key": "VA Profile Unique ID",
                "constraint_type": "equals",
                "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('filter0_Value', ``, 'string') }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.bubbleTool",
      "typeVersion": 1,
      "position": [
        2944,
        624
      ],
      "id": "7ab44424-8c25-48af-949e-0a8531f1ece7",
      "name": "Get VA Schedule in Bubble",
      "credentials": {
        "bubbleApi": {
          "id": "o3eWjifu6jdDsPuY",
          "name": "Bubble Sync"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "typeName": "Support Attendance Dispute",
        "returnAll": true,
        "options": {
          "filters": {
            "filter": [
              {
                "key": "Support Profile Unique ID",
                "constraint_type": "equals",
                "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('filter0_Value', ``, 'string') }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.bubbleTool",
      "typeVersion": 1,
      "position": [
        2800,
        528
      ],
      "id": "6af4217a-3711-4cc8-826c-4aa5fac2aecc",
      "name": "Get Support Attendance in Bubble",
      "credentials": {
        "bubbleApi": {
          "id": "o3eWjifu6jdDsPuY",
          "name": "Bubble Sync"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "typeName": "VA Attendance Dispute",
        "returnAll": true,
        "options": {
          "filters": {
            "filter": [
              {
                "key": "VA Profile Unique ID",
                "constraint_type": "equals",
                "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('filter0_Value', ``, 'string') }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.bubbleTool",
      "typeVersion": 1,
      "position": [
        2688,
        432
      ],
      "id": "a9fa8581-642d-4d6b-bc2c-dfecd6fded46",
      "name": "Get VA Attendance in Bubble",
      "credentials": {
        "bubbleApi": {
          "id": "o3eWjifu6jdDsPuY",
          "name": "Bubble Sync"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "1zOP6fu-lRglmQuK8yTSZvfJi3Y5abxr9OjpPxy-kQqk"
      },
      "id": "fetch-keywords-doc-001",
      "name": "Fetch Keywords Doc",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2096,
        176
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "rFOO1V6uOXqD0MSE",
          "name": "Google Docs account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst files = $('Trim Files').first().json.files || [];\nconst keywordsContent = $('Fetch Keywords Doc').first().json.content || '';\nconst retryData = {};\n\n// Pass through any retry metadata from current input\nconst input = $input.first().json;\nif (input._retry_count) retryData._retry_count = input._retry_count;\nif (input._failed_doc) retryData._failed_doc = input._failed_doc;\n\nreturn [{ json: { files, keywordsContent, ...retryData } }];\n"
      },
      "id": "prepare-classifier-input-001",
      "name": "Prepare Classifier Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2304,
        176
      ]
    },
    {
      "parameters": {
        "useCustomSchema": true,
        "operation": "getAll",
        "tableId": "messages"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4336,
        496
      ],
      "id": "c64051db-4d6e-4211-852c-b2a2b2b522b0",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "VZ9E4UrKeu1Vb0fF",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"{{ $if($('Webhook').isExecuted, $('Webhook').first().json.body.event.channel, '') }}\",\n  \"thread_ts\": \"{{ $if($('Webhook').isExecuted, $('Webhook').first().json.body.event.ts, '') }}\",\n  \"text\": \"{{ $json.content }}\",\n  \"blocks\": [\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"{{ $json.content }}\"\n      }\n    },\n    {\n      \"type\": \"actions\",\n      \"elements\": [\n        {\n          \"type\": \"button\",\n          \"text\": {\n            \"type\": \"plain_text\",\n            \"emoji\": true,\n            \"text\": \"\ud83d\udc4d Helpful\"\n          },\n          \"style\": \"primary\",\n          \"value\": \"helpful_{{ $if($('Webhook').isExecuted, $('Webhook').first().json.body.event.ts, '') }}\",\n          \"action_id\": \"feedback_positive\"\n        },\n        {\n          \"type\": \"button\",\n          \"text\": {\n            \"type\": \"plain_text\",\n            \"emoji\": true,\n            \"text\": \"\ud83d\udc4e Not Helpful\"\n          },\n          \"style\": \"danger\",\n          \"value\": \"unhelpful_{{ $if($('Webhook').isExecuted, $('Webhook').first().json.body.event.ts, '') }}\",\n          \"action_id\": \"feedback_negative\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4128,
        368
      ],
      "id": "4f340794-14f1-488f-937e-cf39efcb8ca8",
      "name": "Send Slack Message3",
      "credentials": {
        "slackApi": {
          "id": "fCZASZSmQRqVQSXH",
          "name": "SVPortal"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"{{ $if($('Webhook').isExecuted, $('Webhook').item.json.body.event.channel, '') }}\",\n  \"thread_ts\": \"{{ $if($('Webhook').isExecuted, $('Webhook').item.json.body.event.ts, '') }}\",\n  \"text\": \"{{ $json.slackMessage }}\",\n  \"blocks\": [\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"{{ $json.slackMessage }}\"\n      }\n    },\n    {\n      \"type\": \"actions\",\n      \"elements\": [\n        {\n          \"type\": \"button\",\n          \"text\": {\n            \"type\": \"plain_text\",\n            \"emoji\": true,\n            \"text\": \"\ud83d\udc4d Helpful\"\n          },\n          \"style\": \"primary\",\n          \"value\": \"helpful_{{ $if($('Webhook').isExecuted, $('Webhook').item.json.body.event.ts, '') }}\",\n          \"action_id\": \"feedback_positive\"\n        },\n        {\n          \"type\": \"button\",\n          \"text\": {\n            \"type\": \"plain_text\",\n            \"emoji\": true,\n            \"text\": \"\ud83d\udc4e Not Helpful\"\n          },\n          \"style\": \"danger\",\n          \"value\": \"unhelpful_{{ $if($('Webhook').isExecuted, $('Webhook').item.json.body.event.ts, '') }}\",\n          \"action_id\": \"feedback_negative\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6528,
        -240
      ],
      "id": "59677607-41df-4936-908c-204f4e3bfe6a",
      "name": "Send Slack Message4",
      "credentials": {
        "slackApi": {
          "id": "fCZASZSmQRqVQSXH",
          "name": "SVPortal"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// 1. Parse the incoming Slack payload\nconst payload = JSON.parse($input.first().json.body.payload);\n\n// 2. Get the value \u2014 may be undefined if it's not a feedback button\nconst rawValue = payload.actions[0].value;\n\n// \u2705 Guard: skip if this isn't a feedback button click\nif (!rawValue || !rawValue.includes('_')) {\n  return [{\n    json: {\n      skipped: true,\n      reason: 'Not a feedback button click',\n      action_id: payload.actions[0].action_id\n    }\n  }];\n}\n\n// 3. Split the value (e.g., \"helpful_1773338337.652549\")\nconst splitValue = rawValue.split('_');\nconst feedbackType = splitValue[0];\nconst originalTs = splitValue[1];\n\n// 4. Grab the user, channel, and message timestamps\nconst userId = payload.user.id;\nconst channelId = payload.channel.id;\nconst messageTs = payload.container.message_ts;\n\n// 5. Output\nreturn [{\n  json: {\n    feedback: feedbackType,\n    anchor_ts: originalTs,\n    user_id: userId,\n    channel_id: channelId,\n    click_ts: messageTs,\n    original_text: payload.message.blocks[0].text.text\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        672
      ],
      "id": "a6c36160-df6d-4727-a6f2-a20e46e24ecc",
      "name": "Parser for button1"
    }
  ],
  "connections": {
    "Classifier": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Search: Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Merge: All File Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assistant": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send Slack Message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Slack Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Slack Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "URL Verification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Event Identifier": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parser for button",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        [],
        []
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Get a user's profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URL Verification": {
      "main": [
        [
          {
            "node": "Event Identifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser for button": {
      "main": [
        [
          {
            "node": "Update Bot Logs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Slack Message": {
      "main": [
        [
          {
            "node": "Append Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a user's profile": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document in Google Docs": {
      "ai_tool": [
        [
          {
            "node": "Classifier",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Trim Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Support Profile in Bubble": {
      "ai_tool": [
        [
          {
            "node": "Classifier",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Classifier",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "Assistant",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Portkey (2)": {
      "ai_languageModel": [
        [
          {
            "node": "Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Trim Files": {
      "main": [
        [
          {
            "node": "Fetch Keywords Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Data": {
      "main": [
        [
          {
            "node": "Evaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Bot Logs": {
      "main": [
        [
          {
            "node": "SB: Log Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When fetching a dataset row": {
      "main": [
        [
          {
            "node": "Eval: Prepare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eval: Prepare": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluation": {
      "main": [
        [
          {
            "node": "IF: Is Eval?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Evaluation1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SB: Log Messages (D)": {
      "main": [
        []
      ]
    },
    "SB: Log Messages": {
      "main": [
        []
      ]
    },
    "Evaluation1": {
      "main": [
        [
          {
            "node": "Evaluation: Helpfulness",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluation: Helpfulness": {
      "main": [
        [
          {
            "node": "Categorization",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "ai_languageModel": []
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Evaluation: Helpfulness",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Categorization": {
      "main": [
        [
          {
            "node": "Eval: Pass/Fail Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eval: Pass/Fail Result": {
      "main": [
        [
          {
            "node": "Evaluation2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search: Found?": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retry: Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry: Check": {
      "main": [
        [
          {
            "node": "Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Is Eval?": {
      "main": [
        [
          {
            "node": "Evaluation1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Portkey for Claude": {
      "ai_languageModel": [
        [
          {
            "node": "Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge: All File Content": {
      "main": [
        [
          {
            "node": "Aggregate Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Content": {
      "main": [
        [
          {
            "node": "Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Slack Message2": {
      "main": [
        [
          {
            "node": "Append Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get VA Profile in Bubble": {
      "ai_tool": [
        [
          {
            "node": "Classifier",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Support PTO Request in Bubble": {
      "ai_tool": [
        [
          {
            "node": "Classifier",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get VA PTO Request in Bubble": {
      "ai_tool": [
        [
          {
            "node": "Classifier",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Support Overtime in Bubble": {
      "ai_tool": [
        [
          {
            "node": "Classifier",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get VA Overtime in Bubble": {
      "ai_tool": [
        [
          {
            "node": "Classifier",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Support Schedule in Bubble": {
      "ai_tool": [
        [
          {
            "node": "Classifier",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get VA Schedule in Bubble": {
      "ai_tool": [
        [
          {
            "node": "Classifier",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Support Attendance in Bubble": {
      "ai_tool": [
        [
          {
            "node": "Classifier",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get VA Attendance in Bubble": {
      "ai_tool": [
        [
          {
            "node": "Classifier",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Keywords Doc": {
      "main": [
        [
          {
            "node": "Prepare Classifier Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Classifier Input": {
      "main": [
        [
          {
            "node": "Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedMode": "fixed",
    "errorWorkflow": "bKnJcx8GpX1kUqTh"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When fetching a dataset row": [
      {
        "json": {
          "row_number": 7,
          "Timestamp": "3/26/2026",
          "User": "test_user_06",
          "Question": "I forgot to clock in yesterday, what should I do?",
          "expected_response": "Guide on filing an attendance dispute or logging missed clock-in",
          "expected_status": "FOUND",
          "expected_Doc/Bubble Data": "[Attendance - Payroll] Clocking In",
          "actual_response": "",
          "actual_status": "",
          "actual_Doc/ Bubble Data": "",
          "Correctness": "",
          "Helpfulness": "",
          "Categorization": "",
          "Pass/Fail": "",
          "col_14": ""
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Classifier": [
      {
        "json": {
          "output": "{\"status\":\"FOUND\",\"content\":\"[Contractor Services] [Shared] Scale Virtually ICA Handbook\"}"
        }
      }
    ],
    "Assistant": [
      {
        "json": {
          "output": "Here's how to resign from Scale Virtually Philippines:\n\n*Notice Period:*\nYou must provide *written notice* at least *30 days* prior to your effective resignation date. Submit your resignation letter to your manager and the Contractor Services Department.\n\n*Steps to Follow:*\n1. Submit written resignation notice 30 days in advance\n2. Complete the exit clearance procedure \n3. Continue working during your notice period (unless instructed otherwise)\n4. Return all company property immediately upon leaving\n\n*\u26a0\ufe0f Important Notes:*\n- Your pay will be put on hold until you complete the full clearance process\n- Failure to give proper 30-day written notice may result in damages up to 30 days' fees\n- All company perks will cease 30 days after your effective resignation date\n- You cannot work for other clients during your notice period without written company permission\n\n*Final Pay:*\nOnce you complete clearance, your final pay will be released according to the standard payment schedule. Any outstanding expenses or liabilities will be deducted from your final pay.\n\nNeed help with the resignation letter format or clearance process? \ud83d\ude0a\n\n\ud83d\udcc4 *Source: Scale Virtually ICA Handbook*"
        }
      }
    ],
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "svsolutionarchitects.app.n8n.cloud",
            "user-agent": "Slackbot 1.0 (+https://api.slack.com/robots)",
            "content-length": "2303",
            "accept": "application/json,*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "3.89.127.81",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "9e821a73dd375bff-IAD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/x-www-form-urlencoded",
            "x-forwarded-for": "3.89.127.81, 104.23.211.209",
            "x-forwarded-host": "svsolutionarchitects.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-43-6d69f46f85-m5lwt",
            "x-is-trusted": "yes",
            "x-real-ip": "3.89.127.81",
            "x-slack-request-timestamp": "1775492252",
            "x-slack-signature": "v0=dd9ca481b73f79fbf428dfda3a0887ab17290d8ef6cf3814cd2db3f7a3d1801d"
          },
          "params": {},
          "query": {},
          "body": {
            "payload": "{\"type\":\"block_actions\",\"user\":{\"id\":\"U06FX7RANDA\",\"username\":\"jianna\",\"name\":\"jianna\",\"team_id\":\"T03N8PRACSD\"},\"api_app_id\":\"A09DY1SCJA3\",\"token\":\"xyVtTJMeZkiigKcBE78vp3QV\",\"container\":{\"type\":\"message\",\"channel_id\":\"C08NSV0TPCG\",\"message_ts\":\"1775394010.313949\",\"is_ephemeral\":false},\"trigger_id\":\"10847993972787.3756807352897.8f14e098ce1cff7edc92d9c481bfb13e\",\"team\":{\"id\":\"T03N8PRACSD\",\"domain\":\"scalevirtually\"},\"enterprise\":null,\"is_enterprise_install\":false,\"channel\":{\"id\":\"C08NSV0TPCG\",\"name\":\"privategroup\"},\"message\":{\"user\":\"U09DY2Q1FN3\",\"type\":\"message\",\"ts\":\"1775394010.313949\",\"bot_id\":\"B09DY2Q1CMV\",\"app_id\":\"A09DY1SCJA3\",\"text\":\"New Chatbot Feedback Form Submission Received\",\"team\":\"T03N8PRACSD\",\"blocks\":[{\"type\":\"section\",\"block_id\":\"ZfRS5\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*New SV Chatbot Feedback Form Submissions*\\n\\nHi team, we received a total of *1* new Chatbot Feedback form submissions.\",\"verbatim\":false}},{\"type\":\"actions\",\"block_id\":\"Tr3Oo\",\"elements\":[{\"type\":\"button\",\"action_id\":\"X1e1s\",\"text\":{\"type\":\"plain_text\",\"text\":\"View submissions\",\"emoji\":true},\"url\":\"https:\\/\\/airtable.com\\/apptuAm73VyH7pcHA\\/shreMx34at9AzZ5fS\"}]}]},\"state\":{\"values\":{}},\"response_url\":\"https:\\/\\/hooks.slack.com\\/actions\\/T03N8PRACSD\\/10857972289236\\/r2VgyQqk1IWEBbXKeTPySFXj\",\"actions\":[{\"type\":\"button\",\"url\":\"https:\\/\\/airtable.com\\/apptuAm73VyH7pcHA\\/shreMx34at9AzZ5fS\",\"block_id\":\"Tr3Oo\",\"action_id\":\"X1e1s\",\"text\":{\"type\":\"plain_text\",\"text\":\"View submissions\",\"emoji\":true},\"action_ts\":\"1775492252.648261\"}]}"
          },
          "webhookUrl": "https://svsolutionarchitects.app.n8n.cloud/webhook/95765d18-4681-4ac8-82e9-2505781df97a",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "be59469d-c625-4821-91e0-ac394105932e",
  "activeVersionId": null,
  "versionCounter": 750,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-09T16:19:51.050Z",
      "createdAt": "2026-03-09T16:19:51.050Z",
      "role": "workflow:owner",
      "workflowId": "7GZcpygPZhjNFJDv",
      "projectId": "MnrYTtvkn4gmLPx6",
      "project": {
        "updatedAt": "2025-09-25T13:21:38.033Z",
        "createdAt": "2025-09-25T13:21:38.033Z",
        "id": "MnrYTtvkn4gmLPx6",
        "name": "My project",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layers"
        },
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-09-25T13:21:38.038Z",
            "createdAt": "2025-09-25T13:21:38.038Z",
            "userId": "16f0560f-622c-469e-b224-0a5affca8f72",
            "projectId": "MnrYTtvkn4gmLPx6",
            "user": {
              "updatedAt": "2026-07-07T04:01:27.000Z",
              "createdAt": "2025-09-03T13:17:32.990Z",
              "id": "16f0560f-622c-469e-b224-0a5affca8f72",
              "email": "solutions@scalevirtually.com",
              "firstName": "Solution",
              "lastName": "Architects",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "WjBrrZhkOqOXwPCx",
                "userActivatedAt": 1756930800597,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1776797401530
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-07-06",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-04-29T17:59:51.861Z",
      "createdAt": "2026-04-29T02:41:32.257Z",
      "id": "payWifC8ZYhZceji",
      "name": "Production"
    }
  ],
  "activeVersion": null
}