va-resume-parser-v5__GMQg55V6VA0czFUQ.json
{
  "updatedAt": "2026-05-29T19:40:05.299Z",
  "createdAt": "2026-05-28T18:30:35.357Z",
  "id": "GMQg55V6VA0czFUQ",
  "name": "VA Resume Parser v5",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "7c30d97e-6446-45fd-8568-3429e35f62ab",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -6528,
        1432
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "=appP8k55JCcXRAIPh",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tbl5uteWre548NeMZ",
          "mode": "list",
          "cachedResultName": "Virtual Assistants"
        },
        "filterByFormula": "AND({Parse status} = '', {SV Resume} != '')",
        "options": {
          "fields": [
            "Virtual Assistant",
            "SV Resume",
            "Parse status"
          ],
          "view": {
            "__rl": true,
            "value": "viwi854gts3oQbTHT",
            "mode": "list",
            "cachedResultName": "VA Marketplace",
            "cachedResultUrl": "https://airtable.com/appP8k55JCcXRAIPh/tbl5uteWre548NeMZ/viwi854gts3oQbTHT"
          }
        }
      },
      "id": "c6dffb9f-81c4-4694-9992-edf589f1df70",
      "name": "Airtable - List unprocessed VAs",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -6304,
        1432
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "q8BmWZk7OfzNINR9",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "2d6d356a-8f3d-413b-8176-ccd3eb34f79f",
      "name": "Split VAs - one at a time",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -6080,
        1432
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "=appP8k55JCcXRAIPh",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tbl5uteWre548NeMZ",
          "mode": "list",
          "cachedResultName": "Virtual Assistants"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Parse status": "Processing",
            "id": "={{ $json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Parse status",
              "displayName": "Parse status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "6ace7eab-05a3-40d8-bdae-983ed2176907",
      "name": "Airtable - Mark as Processing",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -5856,
        1192
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "q8BmWZk7OfzNINR9",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.fields[\"SV Resume\"][0].url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "53eeb3cb-ef5c-44d0-a481-29af601cfbbf",
      "name": "HTTP - Download Resume",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5632,
        1192
      ]
    },
    {
      "parameters": {
        "jsCode": "const binaryData = await this.helpers.getBinaryDataBuffer(0, 'data');\n  const base64 = binaryData.toString('base64');\n  const body = {\n    model: \"claude-sonnet-4-6\",\n    max_tokens: 2048,\n    messages: [{\n      role: \"user\",\n      content: [\n        { type: \"document\", source: { type: \"base64\", media_type: \"application/pdf\", data: base64 } },\n        { type: \"text\", text: `Extract information from this VA resume. Return ONLY a valid JSON object. No markdown, no code fences, no \n  backticks, no explanation. Start your response with { and end with }.\n\n  RULES \u2014 follow exactly:\n  1. Use WORK EXPERIENCE entries as the primary source of truth. Ignore the Objective section entirely.\n  2. \"Scale Virtually Certified Virtual Assistant\" is a training program, NOT a certification or title. Do not mention it anywhere in the \n  output.\n  3. years_of_experience: subtract the year of the EARLIEST work experience entry from 2026. Round to the nearest whole number.\n  4. title: a concise, accurate professional title derived from the actual job roles held (e.g. \"Property Management & Operations VA\", \n  \"Executive Virtual Assistant\", \"Content Operations Specialist\", \"Real Estate Transaction Coordinator\"). Never use \"Certified VA\" unless \n  a real third-party certification is explicitly listed.\n  5. summary: 2-3 sentences written from work history only. Mention specific industries, core responsibilities, and total years. Do not \n  use \"certified virtual assistant.\" Do not copy the Objective section.\n  6. industries: list every distinct industry sector found in work history. Be specific (e.g. \"Government administration\", \"Property \n  management\", \"BPO / Customer service\", \"Real estate valuation\", \"Insurance\"). Do not merge or omit any.\n  7. certifications: include ONLY real named certifications (e.g. \"Avaya Certification\"). Leave the array empty if none exist.\n  8. skills: use precise labels that match what the candidate actually did. Examples \u2014 use \"Project Coordination\" not \"Project Management\"\n  unless they owned full project delivery; use \"Basic Website Management\" not \"Website Building\" unless they built sites from scratch; \n  use \"Executive Support\" not \"Operations Management\" if the role was EA-level.\n  9. skill categories must be one of: Admin & ops | Communication | Content writing | Research | Customer support | Compliance | Sales | \n  Government & public sector\n  10. tool categories must be one of: Project management | CRM | Design | Communication | Accounting | AI tools | Data & reporting\n\n  Use exactly this schema:\n  {\n    \"years_of_experience\": <integer>,\n    \"title\": \"<concise professional title>\",\n    \"english_proficiency\": \"Native | Fluent | Intermediate | Basic | Unknown\",\n    \"summary\": \"<2-3 sentence professional summary based on work history>\",\n    \"industries\": [\"<industry 1>\", \"<industry 2>\"],\n    \"certifications\": [\"<certification name>\"],\n    \"skills\": [\n      { \"name\": \"<skill name>\", \"category\": \"<see rule 9>\", \"proficiency\": \"<Beginner | Intermediate | Advanced | Expert>\" }\n    ],\n    \"tools\": [\n      { \"name\": \"<tool name>\", \"category\": \"<see rule 10>\", \"proficiency\": \"<Beginner | Intermediate | Advanced | Expert>\" }\n    ]\n  }` }\n      ]\n    }]\n  };\n  return [{ json: { vaId: $('Split VAs - one at a time').item.json.id, claudeBody: JSON.stringify(body) } }];"
      },
      "id": "bc82da37-58a0-49e3-91d7-ca3002235222",
      "name": "Code - Build Claude Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5408,
        1192
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.claudeBody }}",
        "options": {}
      },
      "id": "72c46c6b-e24d-470f-aff9-861c48dd7da9",
      "name": "HTTP - Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5184,
        1192
      ],
      "credentials": {
        "anthropicApi": {
          "id": "eQfzvn3izR7ec2J1",
          "name": "Solutions Anthropic"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let raw = $json.content[0].text.trim();\nif (raw.startsWith('```')) {\n  raw = raw.replace(/^```(?:json)?\\n?/, '').replace(/\\n?```$/, '').trim();\n}\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch (e) {\n  throw new Error('Claude returned invalid JSON: ' + raw.substring(0, 200));\n}\nconst vaId = $('Split VAs - one at a time').item.json.id;\nreturn [{ json: { vaId, years_of_experience: parsed.years_of_experience ?? null, english_proficiency: parsed.english_proficiency ?? 'Unknown', summary: parsed.summary ?? '', skills: parsed.skills ?? [], tools: parsed.tools ?? [] } }];"
      },
      "id": "4a20c21e-f5e2-4edb-8faf-794ca10f39c4",
      "name": "Code - Parse Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4960,
        1192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-vaid",
              "leftValue": "={{ $json.vaId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d74c7e2e-3e30-4cfa-a9cd-d83d7e2856a6",
      "name": "If - Parse OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -4736,
        1192
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;\nconst skills = data.skills || [];\nif (skills.length === 0) return [{ json: { _skip: true, vaId: data.vaId } }];\nreturn skills.map(s => ({\n  json: { vaId: data.vaId, name: s.name, category: s.category, proficiency: s.proficiency }\n}));"
      },
      "id": "9ea6d058-167a-4c6e-ac4b-2ba3723958f9",
      "name": "Code - Prepare Skills",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4512,
        1096
      ]
    },
    {
      "parameters": {
        "jsCode": "const categoryItems = $input.all();\nconst skillItems = $('Code - Build Skill Category Upsert').all();\n\nreturn categoryItems.map((categoryItem, index) => {\n  const skill = skillItems[index]?.json;\n  const categoryRecord = categoryItem.json.records?.[0];\n\n  if (!skill) {\n    throw new Error(`No matching skill item found for index ${index}`);\n  }\n\n  if (!categoryRecord?.id) {\n    throw new Error(`No category record ID found for index ${index}`);\n  }\n\n  return {\n    json: {\n      ...skill,\n      categoryRecordId: categoryRecord.id,\n      requestBody: JSON.stringify({\n        performUpsert: {\n          fieldsToMergeOn: [\"Skill Name\"],\n        },\n        records: [\n          {\n            fields: {\n              \"Skill Name\": skill.name,\n              \"Skill Category\": [categoryRecord.id],\n            },\n          },\n        ],\n      }),\n    },\n    pairedItem: {\n      item: index,\n    },\n  };\n});"
      },
      "id": "665cbf03-7bff-4f7d-a3ec-b6043f8e53d8",
      "name": "Code - Build Skill Upsert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3616,
        1024
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://api.airtable.com/v0/appP8k55JCcXRAIPh/tblJW2iYsGMaFAxS6",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.requestBody }}",
        "options": {}
      },
      "id": "1d2ccffc-3a10-4c21-bbd3-67c6859eaacd",
      "name": "HTTP - Upsert Skill",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3392,
        1024
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "q8BmWZk7OfzNINR9",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const skillUpsertResponses = $input.all();\nconst originalSkillItems = $('Code - Build Skill Upsert').all();\n\nreturn skillUpsertResponses.map((skillResponseItem, index) => {\n  const original = originalSkillItems[index]?.json;\n  const record = skillResponseItem.json.records?.[0];\n\n  if (!original) {\n    throw new Error(`No matching original skill item found for index ${index}`);\n  }\n\n  if (!record?.id) {\n    throw new Error(`No skill record ID found for index ${index}`);\n  }\n\n  return {\n    json: {\n      vaId: original.vaId,\n      skillName: original.name,\n      skillRecordId: record.id,\n      proficiency: original.proficiency,\n      requestBody: JSON.stringify({\n        records: [\n          {\n            fields: {\n              VA: [original.vaId],\n              Skill: [record.id],\n              Proficiency: original.proficiency,\n            },\n          },\n        ],\n      }),\n    },\n    pairedItem: {\n      item: index,\n    },\n  };\n});"
      },
      "id": "bd96600a-bbd0-48e3-a1da-af146f66e548",
      "name": "Code - Prepare VA Skill",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3168,
        1024
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.airtable.com/v0/appP8k55JCcXRAIPh/tblFi2lzsnndSln42",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.requestBody }}",
        "options": {}
      },
      "id": "d1ea59fb-e79a-42fa-a3fc-2dd76363a8e6",
      "name": "HTTP - Create VA Skill",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2944,
        1024
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "q8BmWZk7OfzNINR9",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const parsed = $('Code - Parse Claude Response').item.json;\nreturn [{ json: {\n  vaId: parsed.vaId,\n  years_of_experience: parsed.years_of_experience,\n  english_proficiency: parsed.english_proficiency,\n  summary: parsed.summary,\n  tools: parsed.tools || []\n} }];"
      },
      "id": "2fad9094-3097-4570-abb3-4d116f5b1a54",
      "name": "Code - Skills Done",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2720,
        1096
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;\nconst tools = data.tools || [];\nif (tools.length === 0) return [{ json: { _skip: true, vaId: data.vaId, years_of_experience: data.years_of_experience, english_proficiency: data.english_proficiency, summary: data.summary } }];\nreturn tools.map(t => ({\n  json: { vaId: data.vaId, years_of_experience: data.years_of_experience, english_proficiency: data.english_proficiency, summary: data.summary, name: t.name, category: t.category, proficiency: t.proficiency }\n}));"
      },
      "id": "6523c1b1-66f5-4f5c-8bbf-5c26ab286912",
      "name": "Code - Prepare Tools",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2496,
        1096
      ]
    },
    {
      "parameters": {
        "jsCode": "const categoryResponses = $input.all();\nconst toolItems = $('Code - Build Tool Category Upsert').all();\n\nreturn categoryResponses.map((categoryResponseItem, index) => {\n  const tool = toolItems[index]?.json;\n  const categoryRecord = categoryResponseItem.json.records?.[0];\n\n  if (!tool) {\n    throw new Error(`No matching tool item found for index ${index}`);\n  }\n\n  if (!categoryRecord?.id) {\n    throw new Error(`No category record ID found for index ${index}`);\n  }\n\n  return {\n    json: {\n      ...tool,\n      toolCategoryRecordId: categoryRecord.id,\n      requestBody: JSON.stringify({\n        performUpsert: {\n          fieldsToMergeOn: [\"Tool name\"],\n        },\n        records: [\n          {\n            fields: {\n              \"Tool name\": tool.name,\n              \"Tool Category\": [categoryRecord.id],\n            },\n          },\n        ],\n      }),\n    },\n    pairedItem: {\n      item: index,\n    },\n  };\n});"
      },
      "id": "167fde13-b130-44b0-a093-6ca198efd188",
      "name": "Code - Build Tool Upsert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1600,
        1024
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://api.airtable.com/v0/appP8k55JCcXRAIPh/tbllwuNajOqU6nKal",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.requestBody }}",
        "options": {}
      },
      "id": "abb56d77-f119-4ec6-bf72-67f973a19023",
      "name": "HTTP - Upsert Tool",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1376,
        1024
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "q8BmWZk7OfzNINR9",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const toolUpsertResponses = $input.all();\nconst originalToolItems = $('Code - Build Tool Upsert').all();\n\nreturn toolUpsertResponses.map((toolResponseItem, index) => {\n  const original = originalToolItems[index]?.json;\n  const record = toolResponseItem.json.records?.[0];\n\n  if (!original) {\n    throw new Error(`No matching original tool item found for index ${index}`);\n  }\n\n  if (!record?.id) {\n    throw new Error(`No tool record ID found for index ${index}`);\n  }\n\n  return {\n    json: {\n      vaId: original.vaId,\n      toolName: original.name,\n      toolRecordId: record.id,\n      proficiency: original.proficiency,\n      requestBody: JSON.stringify({\n        records: [\n          {\n            fields: {\n              VA: [original.vaId],\n              Tool: [record.id],\n              Proficiency: original.proficiency,\n            },\n          },\n        ],\n      }),\n    },\n    pairedItem: {\n      item: index,\n    },\n  };\n});"
      },
      "id": "114f66bc-745e-4e66-ad46-2a4429cdcfe9",
      "name": "Code - Prepare VA Tool",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1152,
        1024
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.airtable.com/v0/appP8k55JCcXRAIPh/tblQjjbfDjrrc3DlP",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.requestBody }}",
        "options": {}
      },
      "id": "0a93699e-b38d-4b57-8762-ed8c0ecaed0f",
      "name": "HTTP - Create VA Tool",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -928,
        1024
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "q8BmWZk7OfzNINR9",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const parsed = $('Code - Parse Claude Response').all()[0].json;\n\nreturn [\n  {\n    json: {\n      vaId: parsed.vaId,\n      years_of_experience: parsed.years_of_experience,\n      english_proficiency: parsed.english_proficiency,\n      summary: parsed.summary,\n    },\n  },\n];"
      },
      "id": "ce384e6d-1ffa-44c3-9083-093272992f9e",
      "name": "Code - Build VA Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -704,
        1096
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "=appP8k55JCcXRAIPh",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tbl5uteWre548NeMZ",
          "mode": "list",
          "cachedResultName": "Virtual Assistants"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.vaId }}",
            "Years of experience": "={{ $json.years_of_experience }}",
            "English proficiency": "={{ $json.english_proficiency }}",
            "Summary": "={{ $json.summary }}",
            "Parse status": "Done"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Virtual Assistant",
              "displayName": "Virtual Assistant",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Contractor ID",
              "displayName": "Contractor ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "VA Source",
              "displayName": "VA Source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Training",
                  "value": "Training"
                },
                {
                  "name": "Straight-To-Placements",
                  "value": "Straight-To-Placements"
                },
                {
                  "name": "Bilingual - Mexico (Spanish)",
                  "value": "Bilingual - Mexico (Spanish)"
                },
                {
                  "name": "Bilingual - Egypt (Arabic)",
                  "value": "Bilingual - Egypt (Arabic)"
                },
                {
                  "name": "Bilingual - South Africa",
                  "value": "Bilingual - South Africa"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "VA Status",
              "displayName": "VA Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Bench",
                  "value": "Bench"
                },
                {
                  "name": "Bench - On Call",
                  "value": "Bench - On Call"
                },
                {
                  "name": "Bench - PT",
                  "value": "Bench - PT"
                },
                {
                  "name": "Placed",
                  "value": "Placed"
                },
                {
                  "name": "Internal",
                  "value": "Internal"
                },
                {
                  "name": "Limbo",
                  "value": "Limbo"
                },
                {
                  "name": "HR Processing",
                  "value": "HR Processing"
                },
                {
                  "name": "On Training",
                  "value": "On Training"
                },
                {
                  "name": "Inactive",
                  "value": "Inactive"
                },
                {
                  "name": "STP Rejected",
                  "value": "STP Rejected"
                },
                {
                  "name": "Paused",
                  "value": "Paused"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Latest Client",
              "displayName": "Latest Client",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Latest Client Name",
              "displayName": "Latest Client Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "SV Base Rate",
              "displayName": "SV Base Rate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Endorsed to Placements",
              "displayName": "Endorsed to Placements",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Training Batch #",
              "displayName": "Training Batch #",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Client History",
              "displayName": "Client History",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "MVA Cancellation",
              "displayName": "MVA Cancellation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Limbo Duration (from MVA Cancellation)",
              "displayName": "Limbo Duration (from MVA Cancellation)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Back-To-Placements",
              "displayName": "Back-To-Placements",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Most Recent B2P",
              "displayName": "Most Recent B2P",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Overall Bench Duration",
              "displayName": "Overall Bench Duration",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Bench Duration",
              "displayName": "Bench Duration",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "VA Plus Duration",
              "displayName": "VA Plus Duration",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "VA Tenure",
              "displayName": "VA Tenure",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "B2P Bench Duration",
              "displayName": "B2P Bench Duration",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Endorsed to OPS (from VA Placements)",
              "displayName": "Endorsed to OPS (from VA Placements)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Current MVA",
              "displayName": "Current MVA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "SV Hire Date",
              "displayName": "SV Hire Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Client Rate",
              "displayName": "Client Rate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Created Time",
              "displayName": "Created Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Resume",
              "displayName": "Resume",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SV Resume",
              "displayName": "SV Resume",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Tools",
              "displayName": "Tools",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Resume [Link]",
              "displayName": "Resume [Link]",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Count (Back-To-Placements)",
              "displayName": "Count (Back-To-Placements)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "MVA Threshold",
              "displayName": "MVA Threshold",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Current Client",
              "displayName": "Current Client",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Reason for MVA Cancellation (from Back-To-Placements)",
              "displayName": "Reason for MVA Cancellation (from Back-To-Placements)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "VA Placements",
              "displayName": "VA Placements",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Intro Video",
              "displayName": "Intro Video",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "PI - Behavioral [Link]",
              "displayName": "PI - Behavioral [Link]",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "PI - Cognitive [Link]",
              "displayName": "PI - Cognitive [Link]",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "PI - Cognitive",
              "displayName": "PI - Cognitive",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DISC",
              "displayName": "DISC",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DISC [Link]",
              "displayName": "DISC [Link]",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Personal Email",
              "displayName": "Personal Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SV Email",
              "displayName": "SV Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "PI - Behavioral",
              "displayName": "PI - Behavioral",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Analyzer",
                  "value": "Analyzer"
                },
                {
                  "name": "Controller",
                  "value": "Controller"
                },
                {
                  "name": "Specialist",
                  "value": "Specialist"
                },
                {
                  "name": "Strategist",
                  "value": "Strategist"
                },
                {
                  "name": "Altruist",
                  "value": "Altruist"
                },
                {
                  "name": "Captain",
                  "value": "Captain"
                },
                {
                  "name": "Collaborator",
                  "value": "Collaborator"
                },
                {
                  "name": "Maverick",
                  "value": "Maverick"
                },
                {
                  "name": "Promoter",
                  "value": "Promoter"
                },
                {
                  "name": "Adapter",
                  "value": "Adapter"
                },
                {
                  "name": "Craftsman",
                  "value": "Craftsman"
                },
                {
                  "name": "Guardian",
                  "value": "Guardian"
                },
                {
                  "name": "Operator",
                  "value": "Operator"
                },
                {
                  "name": "Individualist",
                  "value": "Individualist"
                },
                {
                  "name": "Scholar",
                  "value": "Scholar"
                },
                {
                  "name": "Venturer",
                  "value": "Venturer"
                },
                {
                  "name": "Persuader",
                  "value": "Persuader"
                },
                {
                  "name": "Kristy Ann Manuel",
                  "value": "Kristy Ann Manuel"
                },
                {
                  "name": "Artisan",
                  "value": "Artisan"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Predictive Index",
              "displayName": "Predictive Index",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Photo",
              "displayName": "Photo",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "B2P Email",
              "displayName": "B2P Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Current Role",
              "displayName": "Current Role",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "System Sweep",
              "displayName": "System Sweep",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Endorsed to OPS",
              "displayName": "Endorsed to OPS",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "VA Endorser",
              "displayName": "VA Endorser",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "VA Readiness Check",
              "displayName": "VA Readiness Check",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "PL - Shortlisting",
              "displayName": "PL - Shortlisting",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "PL - Status",
              "displayName": "PL - Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Endorsed to OPS from VAP",
              "displayName": "Endorsed to OPS from VAP",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Is Placed",
              "displayName": "Is Placed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Is Inactive",
              "displayName": "Is Inactive",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Is Bench",
              "displayName": "Is Bench",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Is HR Processing",
              "displayName": "Is HR Processing",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "TA STP Requests",
              "displayName": "TA STP Requests",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Created By",
              "displayName": "Created By",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "PL - Shortlisting Batches",
              "displayName": "PL - Shortlisting Batches",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Priority Role",
              "displayName": "Priority Role",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "E-commerce Support Specialist",
                  "value": "E-commerce Support Specialist"
                },
                {
                  "name": "Accounting",
                  "value": "Accounting"
                },
                {
                  "name": "Accounts Payable Specialist",
                  "value": "Accounts Payable Specialist"
                },
                {
                  "name": "Accounts Receivable Specialist",
                  "value": "Accounts Receivable Specialist"
                },
                {
                  "name": "Administrative VA",
                  "value": "Administrative VA"
                },
                {
                  "name": "Airline Customer Service Representative",
                  "value": "Airline Customer Service Representative"
                },
                {
                  "name": "Appointment Setting",
                  "value": "Appointment Setting"
                },
                {
                  "name": "Pharmacist",
                  "value": "Pharmacist"
                },
                {
                  "name": "Bookkeeping",
                  "value": "Bookkeeping"
                },
                {
                  "name": "Business Development and Sales",
                  "value": "Business Development and Sales"
                },
                {
                  "name": "Client Success Manager",
                  "value": "Client Success Manager"
                },
                {
                  "name": "Cold Calling",
                  "value": "Cold Calling"
                },
                {
                  "name": "Collections Specialist",
                  "value": "Collections Specialist"
                },
                {
                  "name": "Compliance VA",
                  "value": "Compliance VA"
                },
                {
                  "name": "Computer Technology Instructor",
                  "value": "Computer Technology Instructor"
                },
                {
                  "name": "Copywriter",
                  "value": "Copywriter"
                },
                {
                  "name": "Customer Service Representative",
                  "value": "Customer Service Representative"
                },
                {
                  "name": "Customer Support Team Lead",
                  "value": "Customer Support Team Lead"
                },
                {
                  "name": "Data Entry",
                  "value": "Data Entry"
                },
                {
                  "name": "Digital Marketing",
                  "value": "Digital Marketing"
                },
                {
                  "name": "English Teacher ",
                  "value": "English Teacher "
                },
                {
                  "name": "Environmental Officer (Community Development)",
                  "value": "Environmental Officer (Community Development)"
                },
                {
                  "name": "Events Coordinator",
                  "value": "Events Coordinator"
                },
                {
                  "name": "Events Host",
                  "value": "Events Host"
                },
                {
                  "name": "Executive Assistant",
                  "value": "Executive Assistant"
                },
                {
                  "name": "Executive Virtual Assistant",
                  "value": "Executive Virtual Assistant"
                },
                {
                  "name": "Financial Advisor",
                  "value": "Financial Advisor"
                },
                {
                  "name": "Financial Analyst",
                  "value": "Financial Analyst"
                },
                {
                  "name": "Financial Auditor",
                  "value": "Financial Auditor"
                },
                {
                  "name": "Graphic Designer",
                  "value": "Graphic Designer"
                },
                {
                  "name": "Hotel Front Desk",
                  "value": "Hotel Front Desk"
                },
                {
                  "name": "Hotel Manager",
                  "value": "Hotel Manager"
                },
                {
                  "name": "Human Resources and Talent Acquisitions",
                  "value": "Human Resources and Talent Acquisitions"
                },
                {
                  "name": "Insurance Representative",
                  "value": "Insurance Representative"
                },
                {
                  "name": "Inventory Manager",
                  "value": "Inventory Manager"
                },
                {
                  "name": "IT Support",
                  "value": "IT Support"
                },
                {
                  "name": "Junior Civil Engineer",
                  "value": "Junior Civil Engineer"
                },
                {
                  "name": "Lead Generation Specialist",
                  "value": "Lead Generation Specialist"
                },
                {
                  "name": "Legal Admin Support",
                  "value": "Legal Admin Support"
                },
                {
                  "name": "Logistics Coordinator",
                  "value": "Logistics Coordinator"
                },
                {
                  "name": "Market Research Analyst",
                  "value": "Market Research Analyst"
                },
                {
                  "name": "Marketing Assistant",
                  "value": "Marketing Assistant"
                },
                {
                  "name": "Marketing Coordinator",
                  "value": "Marketing Coordinator"
                },
                {
                  "name": "Marketing Manager",
                  "value": "Marketing Manager"
                },
                {
                  "name": "Marketing VA",
                  "value": "Marketing VA"
                },
                {
                  "name": "Medical Interpreter [Spanish/English]",
                  "value": "Medical Interpreter [Spanish/English]"
                },
                {
                  "name": "Medical Sales Representative",
                  "value": "Medical Sales Representative"
                },
                {
                  "name": "Onboarding Specialist",
                  "value": "Onboarding Specialist"
                },
                {
                  "name": "Procurement Specialist",
                  "value": "Procurement Specialist"
                },
                {
                  "name": "Product Researcher",
                  "value": "Product Researcher"
                },
                {
                  "name": "Project Coordinator",
                  "value": "Project Coordinator"
                },
                {
                  "name": "Project Manager",
                  "value": "Project Manager"
                },
                {
                  "name": "Property Manager",
                  "value": "Property Manager"
                },
                {
                  "name": "Property Marketing",
                  "value": "Property Marketing"
                },
                {
                  "name": "Public Relations Officer",
                  "value": "Public Relations Officer"
                },
                {
                  "name": "QA/QC Engineer",
                  "value": "QA/QC Engineer"
                },
                {
                  "name": "Realtime Analyst",
                  "value": "Realtime Analyst"
                },
                {
                  "name": "Receptionist VA",
                  "value": "Receptionist VA"
                },
                {
                  "name": "Recruitment Specialist",
                  "value": "Recruitment Specialist"
                },
                {
                  "name": "Restaurant Receptionist",
                  "value": "Restaurant Receptionist"
                },
                {
                  "name": "Risk Assessor",
                  "value": "Risk Assessor"
                },
                {
                  "name": "Sales Representative",
                  "value": "Sales Representative"
                },
                {
                  "name": "SEO Specialist ",
                  "value": "SEO Specialist "
                },
                {
                  "name": "Social Media Content Creator",
                  "value": "Social Media Content Creator"
                },
                {
                  "name": "Social Media Content Moderator",
                  "value": "Social Media Content Moderator"
                },
                {
                  "name": "Social Media Manager",
                  "value": "Social Media Manager"
                },
                {
                  "name": "Social Media Marketing",
                  "value": "Social Media Marketing"
                },
                {
                  "name": "Supply Chain VAVE",
                  "value": "Supply Chain VAVE"
                },
                {
                  "name": "Team Management",
                  "value": "Team Management"
                },
                {
                  "name": "Tech Support",
                  "value": "Tech Support"
                },
                {
                  "name": "Tenant Relations Assistant",
                  "value": "Tenant Relations Assistant"
                },
                {
                  "name": "Training Specialist",
                  "value": "Training Specialist"
                },
                {
                  "name": "Transaction Coordinator",
                  "value": "Transaction Coordinator"
                },
                {
                  "name": "Healthcare Customer Service",
                  "value": "Healthcare Customer Service"
                },
                {
                  "name": "Executive Virtual Assistant (EVA)",
                  "value": "Executive Virtual Assistant (EVA)"
                },
                {
                  "name": "Real Estate Assistant",
                  "value": "Real Estate Assistant"
                },
                {
                  "name": "Sales",
                  "value": "Sales"
                },
                {
                  "name": "Admin / Operations Support",
                  "value": "Admin / Operations Support"
                },
                {
                  "name": "Admin / Customer Service",
                  "value": "Admin / Customer Service"
                },
                {
                  "name": "Real Estate Admin",
                  "value": "Real Estate Admin"
                },
                {
                  "name": "Admin / Research",
                  "value": "Admin / Research"
                },
                {
                  "name": "Admin / Operations",
                  "value": "Admin / Operations"
                },
                {
                  "name": "Admin / Bookkeeping",
                  "value": "Admin / Bookkeeping"
                },
                {
                  "name": "Admin / Technical Support",
                  "value": "Admin / Technical Support"
                },
                {
                  "name": "Sales Leadership",
                  "value": "Sales Leadership"
                },
                {
                  "name": "Operations Manager",
                  "value": "Operations Manager"
                },
                {
                  "name": "Customer Service Agent",
                  "value": "Customer Service Agent"
                },
                {
                  "name": "Property Management VA",
                  "value": "Property Management VA"
                },
                {
                  "name": "Digital Marketing VA",
                  "value": "Digital Marketing VA"
                },
                {
                  "name": "Sales Specialist",
                  "value": "Sales Specialist"
                },
                {
                  "name": "General Administrative VA",
                  "value": "General Administrative VA"
                },
                {
                  "name": "Account Specialist",
                  "value": "Account Specialist"
                },
                {
                  "name": "Multimedia Designer",
                  "value": "Multimedia Designer"
                },
                {
                  "name": "Marketing Director",
                  "value": "Marketing Director"
                },
                {
                  "name": "Real Estate VA",
                  "value": "Real Estate VA"
                },
                {
                  "name": "Sales Manager",
                  "value": "Sales Manager"
                },
                {
                  "name": "Production Specialist",
                  "value": "Production Specialist"
                },
                {
                  "name": "Appointment Setter",
                  "value": "Appointment Setter"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Secondary Role",
              "displayName": "Secondary Role",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "E-commerce Support Specialist",
                  "value": "E-commerce Support Specialist"
                },
                {
                  "name": "Accounting",
                  "value": "Accounting"
                },
                {
                  "name": "Accounts Payable Specialist",
                  "value": "Accounts Payable Specialist"
                },
                {
                  "name": "Accounts Receivable Specialist",
                  "value": "Accounts Receivable Specialist"
                },
                {
                  "name": "Administrative VA",
                  "value": "Administrative VA"
                },
                {
                  "name": "Airline Customer Service Representative",
                  "value": "Airline Customer Service Representative"
                },
                {
                  "name": "Appointment Setting",
                  "value": "Appointment Setting"
                },
                {
                  "name": "Pharmacist",
                  "value": "Pharmacist"
                },
                {
                  "name": "Bookkeeping",
                  "value": "Bookkeeping"
                },
                {
                  "name": "Business Development and Sales",
                  "value": "Business Development and Sales"
                },
                {
                  "name": "Client Success Manager",
                  "value": "Client Success Manager"
                },
                {
                  "name": "Cold Calling",
                  "value": "Cold Calling"
                },
                {
                  "name": "Collections Specialist",
                  "value": "Collections Specialist"
                },
                {
                  "name": "Compliance VA",
                  "value": "Compliance VA"
                },
                {
                  "name": "Computer Technology Instructor",
                  "value": "Computer Technology Instructor"
                },
                {
                  "name": "Copywriter",
                  "value": "Copywriter"
                },
                {
                  "name": "Customer Service Representative",
                  "value": "Customer Service Representative"
                },
                {
                  "name": "Customer Support Team Lead",
                  "value": "Customer Support Team Lead"
                },
                {
                  "name": "Data Entry",
                  "value": "Data Entry"
                },
                {
                  "name": "Digital Marketing",
                  "value": "Digital Marketing"
                },
                {
                  "name": "English Teacher ",
                  "value": "English Teacher "
                },
                {
                  "name": "Environmental Officer (Community Development)",
                  "value": "Environmental Officer (Community Development)"
                },
                {
                  "name": "Events Coordinator",
                  "value": "Events Coordinator"
                },
                {
                  "name": "Events Host",
                  "value": "Events Host"
                },
                {
                  "name": "Executive Assistant",
                  "value": "Executive Assistant"
                },
                {
                  "name": "Executive Virtual Assistant",
                  "value": "Executive Virtual Assistant"
                },
                {
                  "name": "Financial Advisor",
                  "value": "Financial Advisor"
                },
                {
                  "name": "Financial Analyst",
                  "value": "Financial Analyst"
                },
                {
                  "name": "Financial Auditor",
                  "value": "Financial Auditor"
                },
                {
                  "name": "Graphic Designer",
                  "value": "Graphic Designer"
                },
                {
                  "name": "Hotel Front Desk",
                  "value": "Hotel Front Desk"
                },
                {
                  "name": "Hotel Manager",
                  "value": "Hotel Manager"
                },
                {
                  "name": "Human Resources and Talent Acquisitions",
                  "value": "Human Resources and Talent Acquisitions"
                },
                {
                  "name": "Insurance Representative",
                  "value": "Insurance Representative"
                },
                {
                  "name": "Inventory Manager",
                  "value": "Inventory Manager"
                },
                {
                  "name": "IT Support",
                  "value": "IT Support"
                },
                {
                  "name": "Junior Civil Engineer",
                  "value": "Junior Civil Engineer"
                },
                {
                  "name": "Lead Generation Specialist",
                  "value": "Lead Generation Specialist"
                },
                {
                  "name": "Legal Admin Support",
                  "value": "Legal Admin Support"
                },
                {
                  "name": "Logistics Coordinator",
                  "value": "Logistics Coordinator"
                },
                {
                  "name": "Market Research Analyst",
                  "value": "Market Research Analyst"
                },
                {
                  "name": "Marketing Assistant",
                  "value": "Marketing Assistant"
                },
                {
                  "name": "Marketing Coordinator",
                  "value": "Marketing Coordinator"
                },
                {
                  "name": "Marketing Manager",
                  "value": "Marketing Manager"
                },
                {
                  "name": "Marketing VA",
                  "value": "Marketing VA"
                },
                {
                  "name": "Medical Interpreter [Spanish/English]",
                  "value": "Medical Interpreter [Spanish/English]"
                },
                {
                  "name": "Medical Sales Representative",
                  "value": "Medical Sales Representative"
                },
                {
                  "name": "Onboarding Specialist",
                  "value": "Onboarding Specialist"
                },
                {
                  "name": "Procurement Specialist",
                  "value": "Procurement Specialist"
                },
                {
                  "name": "Product Researcher",
                  "value": "Product Researcher"
                },
                {
                  "name": "Project Coordinator",
                  "value": "Project Coordinator"
                },
                {
                  "name": "Project Manager",
                  "value": "Project Manager"
                },
                {
                  "name": "Property Manager",
                  "value": "Property Manager"
                },
                {
                  "name": "Property Marketing",
                  "value": "Property Marketing"
                },
                {
                  "name": "Public Relations Officer",
                  "value": "Public Relations Officer"
                },
                {
                  "name": "QA/QC Engineer",
                  "value": "QA/QC Engineer"
                },
                {
                  "name": "Realtime Analyst",
                  "value": "Realtime Analyst"
                },
                {
                  "name": "Receptionist VA",
                  "value": "Receptionist VA"
                },
                {
                  "name": "Recruitment Specialist",
                  "value": "Recruitment Specialist"
                },
                {
                  "name": "Restaurant Receptionist",
                  "value": "Restaurant Receptionist"
                },
                {
                  "name": "Risk Assessor",
                  "value": "Risk Assessor"
                },
                {
                  "name": "Sales Representative",
                  "value": "Sales Representative"
                },
                {
                  "name": "SEO Specialist ",
                  "value": "SEO Specialist "
                },
                {
                  "name": "Social Media Content Creator",
                  "value": "Social Media Content Creator"
                },
                {
                  "name": "Social Media Content Moderator",
                  "value": "Social Media Content Moderator"
                },
                {
                  "name": "Social Media Manager",
                  "value": "Social Media Manager"
                },
                {
                  "name": "Social Media Marketing",
                  "value": "Social Media Marketing"
                },
                {
                  "name": "Supply Chain VAVE",
                  "value": "Supply Chain VAVE"
                },
                {
                  "name": "Team Management",
                  "value": "Team Management"
                },
                {
                  "name": "Tech Support",
                  "value": "Tech Support"
                },
                {
                  "name": "Tenant Relations Assistant",
                  "value": "Tenant Relations Assistant"
                },
                {
                  "name": "Training Specialist",
                  "value": "Training Specialist"
                },
                {
                  "name": "Transaction Coordinator",
                  "value": "Transaction Coordinator"
                },
                {
                  "name": "Healthcare Customer Service",
                  "value": "Healthcare Customer Service"
                },
                {
                  "name": "lea",
                  "value": "lea"
                },
                {
                  "name": "cold",
                  "value": "cold"
                },
                {
                  "name": "Admin / Operations Support",
                  "value": "Admin / Operations Support"
                },
                {
                  "name": "Admin / Research",
                  "value": "Admin / Research"
                },
                {
                  "name": "Admin / Data Entry",
                  "value": "Admin / Data Entry"
                },
                {
                  "name": "Customer Support",
                  "value": "Customer Support"
                },
                {
                  "name": "Dispatch / Operations",
                  "value": "Dispatch / Operations"
                },
                {
                  "name": "Customer Service",
                  "value": "Customer Service"
                },
                {
                  "name": "Recruitment",
                  "value": "Recruitment"
                },
                {
                  "name": "Sales Support",
                  "value": "Sales Support"
                },
                {
                  "name": "Executive Virtual Assistant (EVA)",
                  "value": "Executive Virtual Assistant (EVA)"
                },
                {
                  "name": "Real Estate Admin",
                  "value": "Real Estate Admin"
                },
                {
                  "name": "Admin / Technical Support",
                  "value": "Admin / Technical Support"
                },
                {
                  "name": "Admin / Bookkeeping",
                  "value": "Admin / Bookkeeping"
                },
                {
                  "name": "Technical Support",
                  "value": "Technical Support"
                },
                {
                  "name": "Admin / Operations",
                  "value": "Admin / Operations"
                },
                {
                  "name": "BPO Operations",
                  "value": "BPO Operations"
                },
                {
                  "name": "Administrative Assistant",
                  "value": "Administrative Assistant"
                },
                {
                  "name": "Dispatcher",
                  "value": "Dispatcher"
                },
                {
                  "name": "Event Coordinator",
                  "value": "Event Coordinator"
                },
                {
                  "name": "Sales Specialist",
                  "value": "Sales Specialist"
                },
                {
                  "name": "Team Leader",
                  "value": "Team Leader"
                },
                {
                  "name": "Claims Support Specialist",
                  "value": "Claims Support Specialist"
                },
                {
                  "name": "Bookkeeper",
                  "value": "Bookkeeper"
                },
                {
                  "name": "Operations Assistant",
                  "value": "Operations Assistant"
                },
                {
                  "name": "Digital Marketing Specialist",
                  "value": "Digital Marketing Specialist"
                },
                {
                  "name": "Business Development Manager",
                  "value": "Business Development Manager"
                },
                {
                  "name": "Product Manager",
                  "value": "Product Manager"
                },
                {
                  "name": "CRM Manager",
                  "value": "CRM Manager"
                },
                {
                  "name": "Property Management VA",
                  "value": "Property Management VA"
                },
                {
                  "name": "Bilingual Customer Service",
                  "value": "Bilingual Customer Service"
                },
                {
                  "name": "Leasing VA",
                  "value": "Leasing VA"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Tertiary Role",
              "displayName": "Tertiary Role",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "E-commerce Support Specialist",
                  "value": "E-commerce Support Specialist"
                },
                {
                  "name": "Accounting",
                  "value": "Accounting"
                },
                {
                  "name": "Accounts Payable Specialist",
                  "value": "Accounts Payable Specialist"
                },
                {
                  "name": "Accounts Receivable Specialist",
                  "value": "Accounts Receivable Specialist"
                },
                {
                  "name": "Administrative VA",
                  "value": "Administrative VA"
                },
                {
                  "name": "Airline Customer Service Representative",
                  "value": "Airline Customer Service Representative"
                },
                {
                  "name": "Appointment Setting",
                  "value": "Appointment Setting"
                },
                {
                  "name": "Pharmacist",
                  "value": "Pharmacist"
                },
                {
                  "name": "Bookkeeping",
                  "value": "Bookkeeping"
                },
                {
                  "name": "Business Development and Sales",
                  "value": "Business Development and Sales"
                },
                {
                  "name": "Client Success Manager",
                  "value": "Client Success Manager"
                },
                {
                  "name": "Cold Calling",
                  "value": "Cold Calling"
                },
                {
                  "name": "Collections Specialist",
                  "value": "Collections Specialist"
                },
                {
                  "name": "Compliance VA",
                  "value": "Compliance VA"
                },
                {
                  "name": "Computer Technology Instructor",
                  "value": "Computer Technology Instructor"
                },
                {
                  "name": "Copywriter",
                  "value": "Copywriter"
                },
                {
                  "name": "Customer Service Representative",
                  "value": "Customer Service Representative"
                },
                {
                  "name": "Customer Support Team Lead",
                  "value": "Customer Support Team Lead"
                },
                {
                  "name": "Data Entry",
                  "value": "Data Entry"
                },
                {
                  "name": "Digital Marketing",
                  "value": "Digital Marketing"
                },
                {
                  "name": "English Teacher ",
                  "value": "English Teacher "
                },
                {
                  "name": "Environmental Officer (Community Development)",
                  "value": "Environmental Officer (Community Development)"
                },
                {
                  "name": "Events Coordinator",
                  "value": "Events Coordinator"
                },
                {
                  "name": "Events Host",
                  "value": "Events Host"
                },
                {
                  "name": "Executive Assistant",
                  "value": "Executive Assistant"
                },
                {
                  "name": "Executive Virtual Assistant",
                  "value": "Executive Virtual Assistant"
                },
                {
                  "name": "Financial Advisor",
                  "value": "Financial Advisor"
                },
                {
                  "name": "Financial Analyst",
                  "value": "Financial Analyst"
                },
                {
                  "name": "Financial Auditor",
                  "value": "Financial Auditor"
                },
                {
                  "name": "Graphic Designer",
                  "value": "Graphic Designer"
                },
                {
                  "name": "Hotel Front Desk",
                  "value": "Hotel Front Desk"
                },
                {
                  "name": "Hotel Manager",
                  "value": "Hotel Manager"
                },
                {
                  "name": "Human Resources and Talent Acquisitions",
                  "value": "Human Resources and Talent Acquisitions"
                },
                {
                  "name": "Insurance Representative",
                  "value": "Insurance Representative"
                },
                {
                  "name": "Inventory Manager",
                  "value": "Inventory Manager"
                },
                {
                  "name": "IT Support",
                  "value": "IT Support"
                },
                {
                  "name": "Junior Civil Engineer",
                  "value": "Junior Civil Engineer"
                },
                {
                  "name": "Lead Generation Specialist",
                  "value": "Lead Generation Specialist"
                },
                {
                  "name": "Legal Admin Support",
                  "value": "Legal Admin Support"
                },
                {
                  "name": "Logistics Coordinator",
                  "value": "Logistics Coordinator"
                },
                {
                  "name": "Market Research Analyst",
                  "value": "Market Research Analyst"
                },
                {
                  "name": "Marketing Assistant",
                  "value": "Marketing Assistant"
                },
                {
                  "name": "Marketing Coordinator",
                  "value": "Marketing Coordinator"
                },
                {
                  "name": "Marketing Manager",
                  "value": "Marketing Manager"
                },
                {
                  "name": "Marketing VA",
                  "value": "Marketing VA"
                },
                {
                  "name": "Medical Interpreter [Spanish/English]",
                  "value": "Medical Interpreter [Spanish/English]"
                },
                {
                  "name": "Medical Sales Representative",
                  "value": "Medical Sales Representative"
                },
                {
                  "name": "Onboarding Specialist",
                  "value": "Onboarding Specialist"
                },
                {
                  "name": "Procurement Specialist",
                  "value": "Procurement Specialist"
                },
                {
                  "name": "Product Researcher",
                  "value": "Product Researcher"
                },
                {
                  "name": "Project Coordinator",
                  "value": "Project Coordinator"
                },
                {
                  "name": "Project Manager",
                  "value": "Project Manager"
                },
                {
                  "name": "Property Manager",
                  "value": "Property Manager"
                },
                {
                  "name": "Property Marketing",
                  "value": "Property Marketing"
                },
                {
                  "name": "Public Relations Officer",
                  "value": "Public Relations Officer"
                },
                {
                  "name": "QA/QC Engineer",
                  "value": "QA/QC Engineer"
                },
                {
                  "name": "Realtime Analyst",
                  "value": "Realtime Analyst"
                },
                {
                  "name": "Receptionist VA",
                  "value": "Receptionist VA"
                },
                {
                  "name": "Recruitment Specialist",
                  "value": "Recruitment Specialist"
                },
                {
                  "name": "Restaurant Receptionist",
                  "value": "Restaurant Receptionist"
                },
                {
                  "name": "Risk Assessor",
                  "value": "Risk Assessor"
                },
                {
                  "name": "Sales Representative",
                  "value": "Sales Representative"
                },
                {
                  "name": "SEO Specialist ",
                  "value": "SEO Specialist "
                },
                {
                  "name": "Social Media Content Creator",
                  "value": "Social Media Content Creator"
                },
                {
                  "name": "Social Media Content Moderator",
                  "value": "Social Media Content Moderator"
                },
                {
                  "name": "Social Media Manager",
                  "value": "Social Media Manager"
                },
                {
                  "name": "Social Media Marketing",
                  "value": "Social Media Marketing"
                },
                {
                  "name": "Supply Chain VAVE",
                  "value": "Supply Chain VAVE"
                },
                {
                  "name": "Team Management",
                  "value": "Team Management"
                },
                {
                  "name": "Tech Support",
                  "value": "Tech Support"
                },
                {
                  "name": "Tenant Relations Assistant",
                  "value": "Tenant Relations Assistant"
                },
                {
                  "name": "Training Specialist",
                  "value": "Training Specialist"
                },
                {
                  "name": "Transaction Coordinator",
                  "value": "Transaction Coordinator"
                },
                {
                  "name": "Healthcare Customer Service",
                  "value": "Healthcare Customer Service"
                },
                {
                  "name": "lea",
                  "value": "lea"
                },
                {
                  "name": "cold",
                  "value": "cold"
                },
                {
                  "name": "Real Estate Assistant",
                  "value": "Real Estate Assistant"
                },
                {
                  "name": "Customer Support",
                  "value": "Customer Support"
                },
                {
                  "name": "Social Media Management",
                  "value": "Social Media Management"
                },
                {
                  "name": "Admin / Research",
                  "value": "Admin / Research"
                },
                {
                  "name": "Healthcare Support",
                  "value": "Healthcare Support"
                },
                {
                  "name": "Social Media / Digital Marketing",
                  "value": "Social Media / Digital Marketing"
                },
                {
                  "name": "Appointment Setter",
                  "value": "Appointment Setter"
                },
                {
                  "name": "Receptionist",
                  "value": "Receptionist"
                },
                {
                  "name": "Executive Virtual Assistant (EVA)",
                  "value": "Executive Virtual Assistant (EVA)"
                },
                {
                  "name": "Real Estate Admin",
                  "value": "Real Estate Admin"
                },
                {
                  "name": "Customer Service",
                  "value": "Customer Service"
                },
                {
                  "name": "Admin / Data Entry",
                  "value": "Admin / Data Entry"
                },
                {
                  "name": "Dispatch / Scheduling",
                  "value": "Dispatch / Scheduling"
                },
                {
                  "name": "Client & Account Management",
                  "value": "Client & Account Management"
                },
                {
                  "name": "Lead Generation",
                  "value": "Lead Generation"
                },
                {
                  "name": "Technical Support",
                  "value": "Technical Support"
                },
                {
                  "name": "Data Entry Specialist",
                  "value": "Data Entry Specialist"
                },
                {
                  "name": "Front Desk Coordinator",
                  "value": "Front Desk Coordinator"
                },
                {
                  "name": "Communications Specialist",
                  "value": "Communications Specialist"
                },
                {
                  "name": "Property Lead Manager",
                  "value": "Property Lead Manager"
                },
                {
                  "name": "Technical Support Representative",
                  "value": "Technical Support Representative"
                },
                {
                  "name": "Workforce Manager",
                  "value": "Workforce Manager"
                },
                {
                  "name": "Administrative Assistant",
                  "value": "Administrative Assistant"
                },
                {
                  "name": "Operations Supervisor",
                  "value": "Operations Supervisor"
                },
                {
                  "name": "Account Manager",
                  "value": "Account Manager"
                },
                {
                  "name": "Administrative Officer",
                  "value": "Administrative Officer"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Any Potential Conflicts with availability",
              "displayName": "Any Potential Conflicts with availability",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "PLACEMENTS Requirements (from PL - Shortlisting Batches)",
              "displayName": "PLACEMENTS Requirements (from PL - Shortlisting Batches)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Sales QA",
              "displayName": "Sales QA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SHORT - Status (from PL - Shortlisting)",
              "displayName": "SHORT - Status (from PL - Shortlisting)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Virtual Assistant ID",
              "displayName": "Virtual Assistant ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "PL - Client Interviews",
              "displayName": "PL - Client Interviews",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Count (PL - Shortlisting)",
              "displayName": "Count (PL - Shortlisting)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Placed VA (from VA Placements)",
              "displayName": "Placed VA (from VA Placements)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Created By 2",
              "displayName": "Created By 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Endorsement Summary",
              "displayName": "Endorsement Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "STP Role",
              "displayName": "STP Role",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Endorser's email",
              "displayName": "Endorser's email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "PL - CI Batches",
              "displayName": "PL - CI Batches",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Placement End Date",
              "displayName": "Placement End Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Client Interview Count",
              "displayName": "Client Interview Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Portfolio",
              "displayName": "Portfolio",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "PLACEMENTS Requirements",
              "displayName": "PLACEMENTS Requirements",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Resume fx",
              "displayName": "Resume fx",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Intro Video URL fx",
              "displayName": "Intro Video URL fx",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "DISC fx",
              "displayName": "DISC fx",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Portfolio fx",
              "displayName": "Portfolio fx",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Placement Count",
              "displayName": "Placement Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Candidates' Email",
              "displayName": "Candidates' Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Latest Role",
              "displayName": "Latest Role",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Last Modified By",
              "displayName": "Last Modified By",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "REQUIRED MVA",
              "displayName": "REQUIRED MVA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "VA Plus?",
              "displayName": "VA Plus?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "For Scrubbing?",
              "displayName": "For Scrubbing?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Fields with Missing Data",
              "displayName": "Fields with Missing Data",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last Scrubbed At",
              "displayName": "Last Scrubbed At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Link to Requirements",
              "displayName": "Link to Requirements",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Current Requirement",
              "displayName": "Current Requirement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "MVA Change",
              "displayName": "MVA Change",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Most Recent Endorsed to OPS",
              "displayName": "Most Recent Endorsed to OPS",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Potential Client Rate",
              "displayName": "Potential Client Rate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Estimated Profit",
              "displayName": "Estimated Profit",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Estimated Profit Indicator",
              "displayName": "Estimated Profit Indicator",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Final SV Base Rate from VAP",
              "displayName": "Final SV Base Rate from VAP",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Bench Removal Date",
              "displayName": "Bench Removal Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "With Profit",
              "displayName": "With Profit",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "VAR Count",
              "displayName": "VAR Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Availability (from VA Readiness Check)",
              "displayName": "Availability (from VA Readiness Check)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Latest Availability",
              "displayName": "Latest Availability",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Week Commencing",
              "displayName": "Week Commencing",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "B2P Amendment",
              "displayName": "B2P Amendment",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Record ID",
              "displayName": "Record ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Average VA Tenure w/ Client",
              "displayName": "Average VA Tenure w/ Client",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "STP Status",
              "displayName": "STP Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "STP - Received",
                  "value": "STP - Received"
                },
                {
                  "name": "STP - Accepted",
                  "value": "STP - Accepted"
                },
                {
                  "name": "STP - Rejected",
                  "value": "STP - Rejected"
                },
                {
                  "name": "STP - Endorsed to TA",
                  "value": "STP - Endorsed to TA"
                },
                {
                  "name": "STP - For Backfill",
                  "value": "STP - For Backfill"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "STP Status Reason",
              "displayName": "STP Status Reason",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "VA Resignation Summary (CRF)",
              "displayName": "VA Resignation Summary (CRF)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "VA Resignation Reason (MVA Cancel)",
              "displayName": "VA Resignation Reason (MVA Cancel)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "VA Replacement Reason",
              "displayName": "VA Replacement Reason",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Success Coach (from VAP)",
              "displayName": "Success Coach (from VAP)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Success Coach",
              "displayName": "Success Coach",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Success Coach Name",
              "displayName": "Success Coach Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "JD + C",
              "displayName": "JD + C",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Limbo Removal",
              "displayName": "Limbo Removal",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Primary Role (1)",
              "displayName": "Primary Role (1)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Account Manager",
                  "value": "Account Manager"
                },
                {
                  "name": "Account Specialist",
                  "value": "Account Specialist"
                },
                {
                  "name": "Accounting",
                  "value": "Accounting"
                },
                {
                  "name": "Accounts Payable Specialist",
                  "value": "Accounts Payable Specialist"
                },
                {
                  "name": "Accounts Receivable Specialist",
                  "value": "Accounts Receivable Specialist"
                },
                {
                  "name": "Admin / Bookkeeping",
                  "value": "Admin / Bookkeeping"
                },
                {
                  "name": "Admin / Customer Service",
                  "value": "Admin / Customer Service"
                },
                {
                  "name": "Admin / Data Entry",
                  "value": "Admin / Data Entry"
                },
                {
                  "name": "Admin / Operations",
                  "value": "Admin / Operations"
                },
                {
                  "name": "Admin / Operations Support",
                  "value": "Admin / Operations Support"
                },
                {
                  "name": "Admin / Research",
                  "value": "Admin / Research"
                },
                {
                  "name": "Admin / Technical Support",
                  "value": "Admin / Technical Support"
                },
                {
                  "name": "BPO Operations",
                  "value": "BPO Operations"
                },
                {
                  "name": "Bilingual Customer Service",
                  "value": "Bilingual Customer Service"
                },
                {
                  "name": "Business Development Manager",
                  "value": "Business Development Manager"
                },
                {
                  "name": "Business Development and Sales",
                  "value": "Business Development and Sales"
                },
                {
                  "name": "Cashier",
                  "value": "Cashier"
                },
                {
                  "name": "Client Account Manager",
                  "value": "Client Account Manager"
                },
                {
                  "name": "Client Experience Specialist",
                  "value": "Client Experience Specialist"
                },
                {
                  "name": "Client Relations Specialist",
                  "value": "Client Relations Specialist"
                },
                {
                  "name": "Client Success Manager",
                  "value": "Client Success Manager"
                },
                {
                  "name": "Cold Calling",
                  "value": "Cold Calling"
                },
                {
                  "name": "Collections Specialist",
                  "value": "Collections Specialist"
                },
                {
                  "name": "Compliance VA",
                  "value": "Compliance VA"
                },
                {
                  "name": "Computer Technology Instructor",
                  "value": "Computer Technology Instructor"
                },
                {
                  "name": "Copywriter",
                  "value": "Copywriter"
                },
                {
                  "name": "Customer Support Team Lead",
                  "value": "Customer Support Team Lead"
                },
                {
                  "name": "Data Entry",
                  "value": "Data Entry"
                },
                {
                  "name": "E-commerce Support Specialist",
                  "value": "E-commerce Support Specialist"
                },
                {
                  "name": "English Teacher",
                  "value": "English Teacher"
                },
                {
                  "name": "Environmental Officer (Community Development)",
                  "value": "Environmental Officer (Community Development)"
                },
                {
                  "name": "Events Coordinator",
                  "value": "Events Coordinator"
                },
                {
                  "name": "Events Host",
                  "value": "Events Host"
                },
                {
                  "name": "Financial Advisor",
                  "value": "Financial Advisor"
                },
                {
                  "name": "Financial Analyst",
                  "value": "Financial Analyst"
                },
                {
                  "name": "Financial Auditor",
                  "value": "Financial Auditor"
                },
                {
                  "name": "Front Desk Receptionist",
                  "value": "Front Desk Receptionist"
                },
                {
                  "name": "Graphic Designer",
                  "value": "Graphic Designer"
                },
                {
                  "name": "Hotel Front Desk",
                  "value": "Hotel Front Desk"
                },
                {
                  "name": "Hotel Manager",
                  "value": "Hotel Manager"
                },
                {
                  "name": "Human Resources and Talent Acquisitions",
                  "value": "Human Resources and Talent Acquisitions"
                },
                {
                  "name": "Insurance Representative",
                  "value": "Insurance Representative"
                },
                {
                  "name": "Inventory Manager",
                  "value": "Inventory Manager"
                },
                {
                  "name": "IT Support",
                  "value": "IT Support"
                },
                {
                  "name": "Junior Civil Engineer",
                  "value": "Junior Civil Engineer"
                },
                {
                  "name": "Lead Generation Specialist",
                  "value": "Lead Generation Specialist"
                },
                {
                  "name": "Legal Admin Support",
                  "value": "Legal Admin Support"
                },
                {
                  "name": "Logistics Coordinator",
                  "value": "Logistics Coordinator"
                },
                {
                  "name": "Market Research Analyst",
                  "value": "Market Research Analyst"
                },
                {
                  "name": "Marketing Assistant",
                  "value": "Marketing Assistant"
                },
                {
                  "name": "Marketing Coordinator",
                  "value": "Marketing Coordinator"
                },
                {
                  "name": "Marketing Director",
                  "value": "Marketing Director"
                },
                {
                  "name": "Marketing Manager",
                  "value": "Marketing Manager"
                },
                {
                  "name": "Marketing VA",
                  "value": "Marketing VA"
                },
                {
                  "name": "Medical Interpreter [Spanish/English]",
                  "value": "Medical Interpreter [Spanish/English]"
                },
                {
                  "name": "Medical Sales Representative",
                  "value": "Medical Sales Representative"
                },
                {
                  "name": "Multimedia Designer",
                  "value": "Multimedia Designer"
                },
                {
                  "name": "Onboarding Specialist",
                  "value": "Onboarding Specialist"
                },
                {
                  "name": "Operations Manager",
                  "value": "Operations Manager"
                },
                {
                  "name": "Pharmacist",
                  "value": "Pharmacist"
                },
                {
                  "name": "Procurement Specialist",
                  "value": "Procurement Specialist"
                },
                {
                  "name": "Product Researcher",
                  "value": "Product Researcher"
                },
                {
                  "name": "Production Specialist",
                  "value": "Production Specialist"
                },
                {
                  "name": "Project Coordinator",
                  "value": "Project Coordinator"
                },
                {
                  "name": "Project Manager",
                  "value": "Project Manager"
                },
                {
                  "name": "Property Marketing",
                  "value": "Property Marketing"
                },
                {
                  "name": "Public Relations Officer",
                  "value": "Public Relations Officer"
                },
                {
                  "name": "QA/QC Engineer",
                  "value": "QA/QC Engineer"
                },
                {
                  "name": "Real Estate VA",
                  "value": "Real Estate VA"
                },
                {
                  "name": "Realtime Analyst",
                  "value": "Realtime Analyst"
                },
                {
                  "name": "Receptionist VA",
                  "value": "Receptionist VA"
                },
                {
                  "name": "Recruitment Specialist",
                  "value": "Recruitment Specialist"
                },
                {
                  "name": "Restaurant Receptionist",
                  "value": "Restaurant Receptionist"
                },
                {
                  "name": "Risk Assessor",
                  "value": "Risk Assessor"
                },
                {
                  "name": "Sales Leadership",
                  "value": "Sales Leadership"
                },
                {
                  "name": "Sales Manager",
                  "value": "Sales Manager"
                },
                {
                  "name": "SEO Specialist",
                  "value": "SEO Specialist"
                },
                {
                  "name": "Secretary",
                  "value": "Secretary"
                },
                {
                  "name": "Social Media Content Creator",
                  "value": "Social Media Content Creator"
                },
                {
                  "name": "Social Media Content Moderator",
                  "value": "Social Media Content Moderator"
                },
                {
                  "name": "Team Management",
                  "value": "Team Management"
                },
                {
                  "name": "Tech Support",
                  "value": "Tech Support"
                },
                {
                  "name": "Tenant Relations Assistant",
                  "value": "Tenant Relations Assistant"
                },
                {
                  "name": "Training Specialist",
                  "value": "Training Specialist"
                },
                {
                  "name": "Transaction Coordinator",
                  "value": "Transaction Coordinator"
                },
                {
                  "name": "Maintenance VA",
                  "value": "Maintenance VA"
                },
                {
                  "name": "General Admin VA",
                  "value": "General Admin VA"
                },
                {
                  "name": "Appointment setter",
                  "value": "Appointment setter"
                },
                {
                  "name": "Bookkeeper",
                  "value": "Bookkeeper"
                },
                {
                  "name": "Customer Service Representative",
                  "value": "Customer Service Representative"
                },
                {
                  "name": "Digital Marketing VA",
                  "value": "Digital Marketing VA"
                },
                {
                  "name": "Executive Virtual Assistant",
                  "value": "Executive Virtual Assistant"
                },
                {
                  "name": "General Virtual Assistant",
                  "value": "General Virtual Assistant"
                },
                {
                  "name": "Property Management VA",
                  "value": "Property Management VA"
                },
                {
                  "name": "General Real Estate VA",
                  "value": "General Real Estate VA"
                },
                {
                  "name": "Sales VA",
                  "value": "Sales VA"
                },
                {
                  "name": "Social Media Manager",
                  "value": "Social Media Manager"
                },
                {
                  "name": "Social Media Marketing",
                  "value": "Social Media Marketing"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Secondary Role (1)",
              "displayName": "Secondary Role (1)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Account Manager",
                  "value": "Account Manager"
                },
                {
                  "name": "Account Specialist",
                  "value": "Account Specialist"
                },
                {
                  "name": "Accounting",
                  "value": "Accounting"
                },
                {
                  "name": "Accounts Payable Specialist",
                  "value": "Accounts Payable Specialist"
                },
                {
                  "name": "Accounts Receivable Specialist",
                  "value": "Accounts Receivable Specialist"
                },
                {
                  "name": "Admin / Bookkeeping",
                  "value": "Admin / Bookkeeping"
                },
                {
                  "name": "Admin / Customer Service",
                  "value": "Admin / Customer Service"
                },
                {
                  "name": "Admin / Data Entry",
                  "value": "Admin / Data Entry"
                },
                {
                  "name": "Admin / Operations",
                  "value": "Admin / Operations"
                },
                {
                  "name": "Admin / Operations Support",
                  "value": "Admin / Operations Support"
                },
                {
                  "name": "Admin / Research",
                  "value": "Admin / Research"
                },
                {
                  "name": "Admin / Technical Support",
                  "value": "Admin / Technical Support"
                },
                {
                  "name": "BPO Operations",
                  "value": "BPO Operations"
                },
                {
                  "name": "Bilingual Customer Service",
                  "value": "Bilingual Customer Service"
                },
                {
                  "name": "Business Development Manager",
                  "value": "Business Development Manager"
                },
                {
                  "name": "Business Development and Sales",
                  "value": "Business Development and Sales"
                },
                {
                  "name": "Cashier",
                  "value": "Cashier"
                },
                {
                  "name": "Client Account Manager",
                  "value": "Client Account Manager"
                },
                {
                  "name": "Client Experience Specialist",
                  "value": "Client Experience Specialist"
                },
                {
                  "name": "Client Relations Specialist",
                  "value": "Client Relations Specialist"
                },
                {
                  "name": "Client Success Manager",
                  "value": "Client Success Manager"
                },
                {
                  "name": "Cold Calling",
                  "value": "Cold Calling"
                },
                {
                  "name": "Collections Specialist",
                  "value": "Collections Specialist"
                },
                {
                  "name": "Compliance VA",
                  "value": "Compliance VA"
                },
                {
                  "name": "Computer Technology Instructor",
                  "value": "Computer Technology Instructor"
                },
                {
                  "name": "Copywriter",
                  "value": "Copywriter"
                },
                {
                  "name": "Customer Support Team Lead",
                  "value": "Customer Support Team Lead"
                },
                {
                  "name": "Data Entry",
                  "value": "Data Entry"
                },
                {
                  "name": "E-commerce Support Specialist",
                  "value": "E-commerce Support Specialist"
                },
                {
                  "name": "English Teacher",
                  "value": "English Teacher"
                },
                {
                  "name": "Environmental Officer (Community Development)",
                  "value": "Environmental Officer (Community Development)"
                },
                {
                  "name": "Events Coordinator",
                  "value": "Events Coordinator"
                },
                {
                  "name": "Events Host",
                  "value": "Events Host"
                },
                {
                  "name": "Financial Advisor",
                  "value": "Financial Advisor"
                },
                {
                  "name": "Financial Analyst",
                  "value": "Financial Analyst"
                },
                {
                  "name": "Financial Auditor",
                  "value": "Financial Auditor"
                },
                {
                  "name": "Front Desk Receptionist",
                  "value": "Front Desk Receptionist"
                },
                {
                  "name": "Graphic Designer",
                  "value": "Graphic Designer"
                },
                {
                  "name": "Hotel Front Desk",
                  "value": "Hotel Front Desk"
                },
                {
                  "name": "Hotel Manager",
                  "value": "Hotel Manager"
                },
                {
                  "name": "Human Resources and Talent Acquisitions",
                  "value": "Human Resources and Talent Acquisitions"
                },
                {
                  "name": "Insurance Representative",
                  "value": "Insurance Representative"
                },
                {
                  "name": "Inventory Manager",
                  "value": "Inventory Manager"
                },
                {
                  "name": "IT Support",
                  "value": "IT Support"
                },
                {
                  "name": "Junior Civil Engineer",
                  "value": "Junior Civil Engineer"
                },
                {
                  "name": "Lead Generation Specialist",
                  "value": "Lead Generation Specialist"
                },
                {
                  "name": "Legal Admin Support",
                  "value": "Legal Admin Support"
                },
                {
                  "name": "Logistics Coordinator",
                  "value": "Logistics Coordinator"
                },
                {
                  "name": "Market Research Analyst",
                  "value": "Market Research Analyst"
                },
                {
                  "name": "Marketing Assistant",
                  "value": "Marketing Assistant"
                },
                {
                  "name": "Marketing Coordinator",
                  "value": "Marketing Coordinator"
                },
                {
                  "name": "Marketing Director",
                  "value": "Marketing Director"
                },
                {
                  "name": "Marketing Manager",
                  "value": "Marketing Manager"
                },
                {
                  "name": "Marketing VA",
                  "value": "Marketing VA"
                },
                {
                  "name": "Medical Interpreter [Spanish/English]",
                  "value": "Medical Interpreter [Spanish/English]"
                },
                {
                  "name": "Medical Sales Representative",
                  "value": "Medical Sales Representative"
                },
                {
                  "name": "Multimedia Designer",
                  "value": "Multimedia Designer"
                },
                {
                  "name": "Onboarding Specialist",
                  "value": "Onboarding Specialist"
                },
                {
                  "name": "Operations Manager",
                  "value": "Operations Manager"
                },
                {
                  "name": "Pharmacist",
                  "value": "Pharmacist"
                },
                {
                  "name": "Procurement Specialist",
                  "value": "Procurement Specialist"
                },
                {
                  "name": "Product Researcher",
                  "value": "Product Researcher"
                },
                {
                  "name": "Production Specialist",
                  "value": "Production Specialist"
                },
                {
                  "name": "Project Coordinator",
                  "value": "Project Coordinator"
                },
                {
                  "name": "Project Manager",
                  "value": "Project Manager"
                },
                {
                  "name": "Property Marketing",
                  "value": "Property Marketing"
                },
                {
                  "name": "Public Relations Officer",
                  "value": "Public Relations Officer"
                },
                {
                  "name": "QA/QC Engineer",
                  "value": "QA/QC Engineer"
                },
                {
                  "name": "Realtime Analyst",
                  "value": "Realtime Analyst"
                },
                {
                  "name": "Receptionist VA",
                  "value": "Receptionist VA"
                },
                {
                  "name": "Recruitment Specialist",
                  "value": "Recruitment Specialist"
                },
                {
                  "name": "Restaurant Receptionist",
                  "value": "Restaurant Receptionist"
                },
                {
                  "name": "Risk Assessor",
                  "value": "Risk Assessor"
                },
                {
                  "name": "Sales Leadership",
                  "value": "Sales Leadership"
                },
                {
                  "name": "Sales Manager",
                  "value": "Sales Manager"
                },
                {
                  "name": "SEO Specialist",
                  "value": "SEO Specialist"
                },
                {
                  "name": "Secretary",
                  "value": "Secretary"
                },
                {
                  "name": "Social Media Content Creator",
                  "value": "Social Media Content Creator"
                },
                {
                  "name": "Social Media Content Moderator",
                  "value": "Social Media Content Moderator"
                },
                {
                  "name": "Team Management",
                  "value": "Team Management"
                },
                {
                  "name": "Tech Support",
                  "value": "Tech Support"
                },
                {
                  "name": "Tenant Relations Assistant",
                  "value": "Tenant Relations Assistant"
                },
                {
                  "name": "Training Specialist",
                  "value": "Training Specialist"
                },
                {
                  "name": "Transaction Coordinator",
                  "value": "Transaction Coordinator"
                },
                {
                  "name": "Maintenance VA",
                  "value": "Maintenance VA"
                },
                {
                  "name": "General Admin VA",
                  "value": "General Admin VA"
                },
                {
                  "name": "Appointment setter",
                  "value": "Appointment setter"
                },
                {
                  "name": "Bookkeeper",
                  "value": "Bookkeeper"
                },
                {
                  "name": "Customer Service Representative",
                  "value": "Customer Service Representative"
                },
                {
                  "name": "Digital Marketing VA",
                  "value": "Digital Marketing VA"
                },
                {
                  "name": "Executive Virtual Assistant",
                  "value": "Executive Virtual Assistant"
                },
                {
                  "name": "General Virtual Assistant",
                  "value": "General Virtual Assistant"
                },
                {
                  "name": "Property Management VA",
                  "value": "Property Management VA"
                },
                {
                  "name": "General Real Estate VA",
                  "value": "General Real Estate VA"
                },
                {
                  "name": "Sales VA",
                  "value": "Sales VA"
                },
                {
                  "name": "Social Media Manager",
                  "value": "Social Media Manager"
                },
                {
                  "name": "Social Media Marketing",
                  "value": "Social Media Marketing"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Tertiary Role (1)",
              "displayName": "Tertiary Role (1)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Account Manager",
                  "value": "Account Manager"
                },
                {
                  "name": "Account Specialist",
                  "value": "Account Specialist"
                },
                {
                  "name": "Accounting",
                  "value": "Accounting"
                },
                {
                  "name": "Accounts Payable Specialist",
                  "value": "Accounts Payable Specialist"
                },
                {
                  "name": "Accounts Receivable Specialist",
                  "value": "Accounts Receivable Specialist"
                },
                {
                  "name": "Admin / Bookkeeping",
                  "value": "Admin / Bookkeeping"
                },
                {
                  "name": "Admin / Customer Service",
                  "value": "Admin / Customer Service"
                },
                {
                  "name": "Admin / Data Entry",
                  "value": "Admin / Data Entry"
                },
                {
                  "name": "Admin / Operations",
                  "value": "Admin / Operations"
                },
                {
                  "name": "Admin / Operations Support",
                  "value": "Admin / Operations Support"
                },
                {
                  "name": "Admin / Research",
                  "value": "Admin / Research"
                },
                {
                  "name": "Admin / Technical Support",
                  "value": "Admin / Technical Support"
                },
                {
                  "name": "BPO Operations",
                  "value": "BPO Operations"
                },
                {
                  "name": "Bilingual Customer Service",
                  "value": "Bilingual Customer Service"
                },
                {
                  "name": "Business Development Manager",
                  "value": "Business Development Manager"
                },
                {
                  "name": "Business Development and Sales",
                  "value": "Business Development and Sales"
                },
                {
                  "name": "Cashier",
                  "value": "Cashier"
                },
                {
                  "name": "Client Account Manager",
                  "value": "Client Account Manager"
                },
                {
                  "name": "Client Experience Specialist",
                  "value": "Client Experience Specialist"
                },
                {
                  "name": "Client Relations Specialist",
                  "value": "Client Relations Specialist"
                },
                {
                  "name": "Client Success Manager",
                  "value": "Client Success Manager"
                },
                {
                  "name": "Cold Calling",
                  "value": "Cold Calling"
                },
                {
                  "name": "Collections Specialist",
                  "value": "Collections Specialist"
                },
                {
                  "name": "Compliance VA",
                  "value": "Compliance VA"
                },
                {
                  "name": "Computer Technology Instructor",
                  "value": "Computer Technology Instructor"
                },
                {
                  "name": "Copywriter",
                  "value": "Copywriter"
                },
                {
                  "name": "Customer Support Team Lead",
                  "value": "Customer Support Team Lead"
                },
                {
                  "name": "Data Entry",
                  "value": "Data Entry"
                },
                {
                  "name": "E-commerce Support Specialist",
                  "value": "E-commerce Support Specialist"
                },
                {
                  "name": "English Teacher",
                  "value": "English Teacher"
                },
                {
                  "name": "Environmental Officer (Community Development)",
                  "value": "Environmental Officer (Community Development)"
                },
                {
                  "name": "Events Coordinator",
                  "value": "Events Coordinator"
                },
                {
                  "name": "Events Host",
                  "value": "Events Host"
                },
                {
                  "name": "Financial Advisor",
                  "value": "Financial Advisor"
                },
                {
                  "name": "Financial Analyst",
                  "value": "Financial Analyst"
                },
                {
                  "name": "Financial Auditor",
                  "value": "Financial Auditor"
                },
                {
                  "name": "Front Desk Receptionist",
                  "value": "Front Desk Receptionist"
                },
                {
                  "name": "Graphic Designer",
                  "value": "Graphic Designer"
                },
                {
                  "name": "Hotel Front Desk",
                  "value": "Hotel Front Desk"
                },
                {
                  "name": "Hotel Manager",
                  "value": "Hotel Manager"
                },
                {
                  "name": "Human Resources and Talent Acquisitions",
                  "value": "Human Resources and Talent Acquisitions"
                },
                {
                  "name": "Insurance Representative",
                  "value": "Insurance Representative"
                },
                {
                  "name": "Inventory Manager",
                  "value": "Inventory Manager"
                },
                {
                  "name": "IT Support",
                  "value": "IT Support"
                },
                {
                  "name": "Junior Civil Engineer",
                  "value": "Junior Civil Engineer"
                },
                {
                  "name": "Lead Generation Specialist",
                  "value": "Lead Generation Specialist"
                },
                {
                  "name": "Legal Admin Support",
                  "value": "Legal Admin Support"
                },
                {
                  "name": "Logistics Coordinator",
                  "value": "Logistics Coordinator"
                },
                {
                  "name": "Market Research Analyst",
                  "value": "Market Research Analyst"
                },
                {
                  "name": "Marketing Assistant",
                  "value": "Marketing Assistant"
                },
                {
                  "name": "Marketing Coordinator",
                  "value": "Marketing Coordinator"
                },
                {
                  "name": "Marketing Director",
                  "value": "Marketing Director"
                },
                {
                  "name": "Marketing Manager",
                  "value": "Marketing Manager"
                },
                {
                  "name": "Marketing VA",
                  "value": "Marketing VA"
                },
                {
                  "name": "Medical Interpreter [Spanish/English]",
                  "value": "Medical Interpreter [Spanish/English]"
                },
                {
                  "name": "Medical Sales Representative",
                  "value": "Medical Sales Representative"
                },
                {
                  "name": "Multimedia Designer",
                  "value": "Multimedia Designer"
                },
                {
                  "name": "Onboarding Specialist",
                  "value": "Onboarding Specialist"
                },
                {
                  "name": "Operations Manager",
                  "value": "Operations Manager"
                },
                {
                  "name": "Pharmacist",
                  "value": "Pharmacist"
                },
                {
                  "name": "Procurement Specialist",
                  "value": "Procurement Specialist"
                },
                {
                  "name": "Product Researcher",
                  "value": "Product Researcher"
                },
                {
                  "name": "Production Specialist",
                  "value": "Production Specialist"
                },
                {
                  "name": "Project Coordinator",
                  "value": "Project Coordinator"
                },
                {
                  "name": "Project Manager",
                  "value": "Project Manager"
                },
                {
                  "name": "Property Marketing",
                  "value": "Property Marketing"
                },
                {
                  "name": "Public Relations Officer",
                  "value": "Public Relations Officer"
                },
                {
                  "name": "QA/QC Engineer",
                  "value": "QA/QC Engineer"
                },
                {
                  "name": "Realtime Analyst",
                  "value": "Realtime Analyst"
                },
                {
                  "name": "Receptionist VA",
                  "value": "Receptionist VA"
                },
                {
                  "name": "Recruitment Specialist",
                  "value": "Recruitment Specialist"
                },
                {
                  "name": "Restaurant Receptionist",
                  "value": "Restaurant Receptionist"
                },
                {
                  "name": "Risk Assessor",
                  "value": "Risk Assessor"
                },
                {
                  "name": "Sales Leadership",
                  "value": "Sales Leadership"
                },
                {
                  "name": "Sales Manager",
                  "value": "Sales Manager"
                },
                {
                  "name": "SEO Specialist",
                  "value": "SEO Specialist"
                },
                {
                  "name": "Secretary",
                  "value": "Secretary"
                },
                {
                  "name": "Social Media Content Creator",
                  "value": "Social Media Content Creator"
                },
                {
                  "name": "Social Media Content Moderator",
                  "value": "Social Media Content Moderator"
                },
                {
                  "name": "Team Management",
                  "value": "Team Management"
                },
                {
                  "name": "Tech Support",
                  "value": "Tech Support"
                },
                {
                  "name": "Tenant Relations Assistant",
                  "value": "Tenant Relations Assistant"
                },
                {
                  "name": "Training Specialist",
                  "value": "Training Specialist"
                },
                {
                  "name": "Transaction Coordinator",
                  "value": "Transaction Coordinator"
                },
                {
                  "name": "Maintenance VA",
                  "value": "Maintenance VA"
                },
                {
                  "name": "General Admin VA",
                  "value": "General Admin VA"
                },
                {
                  "name": "Appointment setter",
                  "value": "Appointment setter"
                },
                {
                  "name": "Bookkeeper",
                  "value": "Bookkeeper"
                },
                {
                  "name": "Customer Service Representative",
                  "value": "Customer Service Representative"
                },
                {
                  "name": "Digital Marketing VA",
                  "value": "Digital Marketing VA"
                },
                {
                  "name": "Executive Virtual Assistant",
                  "value": "Executive Virtual Assistant"
                },
                {
                  "name": "General Virtual Assistant",
                  "value": "General Virtual Assistant"
                },
                {
                  "name": "Property Management VA",
                  "value": "Property Management VA"
                },
                {
                  "name": "General Real Estate VA",
                  "value": "General Real Estate VA"
                },
                {
                  "name": "Sales VA",
                  "value": "Sales VA"
                },
                {
                  "name": "Social Media Manager",
                  "value": "Social Media Manager"
                },
                {
                  "name": "Social Media Marketing",
                  "value": "Social Media Marketing"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Philippines",
                  "value": "Philippines"
                },
                {
                  "name": "Mexico",
                  "value": "Mexico"
                },
                {
                  "name": "Egypt",
                  "value": "Egypt"
                },
                {
                  "name": "South Africa",
                  "value": "South Africa"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Primary",
              "displayName": "Primary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Secondary",
              "displayName": "Secondary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Tertiary",
              "displayName": "Tertiary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Hiring Manager Notes",
              "displayName": "Hiring Manager Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Final Client Rate from VAP",
              "displayName": "Final Client Rate from VAP",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Initial Client Rate from VAP",
              "displayName": "Initial Client Rate from VAP",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "SV Current Rate",
              "displayName": "SV Current Rate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Slack User ID",
              "displayName": "Slack User ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Primary Name",
              "displayName": "Primary Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Secondary Name",
              "displayName": "Secondary Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Tertiary Name",
              "displayName": "Tertiary Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Tools Name",
              "displayName": "Tools Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Rationale",
              "displayName": "Rationale",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Schedule for VA (from VA Placements)",
              "displayName": "Schedule for VA (from VA Placements)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "VA Marketplace Ready?",
              "displayName": "VA Marketplace Ready?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Years of experience",
              "displayName": "Years of experience",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "English proficiency",
              "displayName": "English proficiency",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Native",
                  "value": "Native"
                },
                {
                  "name": "Fluent",
                  "value": "Fluent"
                },
                {
                  "name": "Intermediate",
                  "value": "Intermediate"
                },
                {
                  "name": "Basic",
                  "value": "Basic"
                },
                {
                  "name": "Unknown",
                  "value": "Unknown"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Parse status",
              "displayName": "Parse status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Processing",
                  "value": "Processing"
                },
                {
                  "name": "Done",
                  "value": "Done"
                },
                {
                  "name": "Failed",
                  "value": "Failed"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Parse error",
              "displayName": "Parse error",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "VA Skills",
              "displayName": "VA Skills",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "VA Tools",
              "displayName": "VA Tools",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "6b909bd2-c6c0-44ba-9c29-19505c719e8f",
      "name": "Airtable - Update VA",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -480,
        1264
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "q8BmWZk7OfzNINR9",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "=appP8k55JCcXRAIPh",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tbl5uteWre548NeMZ",
          "mode": "list",
          "cachedResultName": "Virtual Assistants"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Split VAs - one at a time').item.json.id }}",
            "Parse status": "Failed"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Parse status",
              "displayName": "Parse status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f99b6342-536c-4d30-9c3a-0f1921883186",
      "name": "Airtable - Mark as Failed",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -4512,
        1288
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "q8BmWZk7OfzNINR9",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2d16599d-596d-43ac-86ce-3fdc4c8edfe2",
              "leftValue": "={{ $json.vaId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -4288,
        1096
      ],
      "id": "73ddd94f-6cc5-4402-9e49-b81ce7eba68c",
      "name": "If - Has Skills?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2d16599d-596d-43ac-86ce-3fdc4c8edfe2",
              "leftValue": "={{ $json.vaId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2272,
        1096
      ],
      "id": "c1d2ba0e-94d7-48ac-914d-e23f5af8126d",
      "name": "If - Has Tools?"
    },
    {
      "parameters": {
        "jsCode": "const binaryData = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst base64 = binaryData.toString('base64');\nconst body = {\n  model: \"claude-sonnet-4-5\",\n  max_tokens: 2048,\n  messages: [{\n    role: \"user\",\n    content: [\n      { type: \"document\", source: { type: \"base64\", media_type: \"application/pdf\", data: base64 } },\n      { type: \"text\", text: `Extract information from this VA resume. Return ONLY a valid JSON object. No markdown, no code fences, no backticks, no explanation. Start your response with { and end with }.\n\nUse exactly this schema:\n{\n  \"years_of_experience\": <integer>,\n  \"english_proficiency\": \"Native | Fluent | Intermediate | Basic | Unknown\",\n  \"summary\": \"<2-3 sentence professional summary>\",\n  \"skills\": [\n    { \"name\": \"<skill name>\", \"category\": \"<Admin & ops | Communication | Content writing | Research | Customer support>\", \"proficiency\": \"<Beginner | Intermediate | Advanced | Expert>\" }\n  ],\n  \"tools\": [\n    { \"name\": \"<tool name>\", \"category\": \"<Project management | CRM | Design | Communication | Accounting | AI tools>\", \"proficiency\": \"<Beginner | Intermediate | Advanced | Expert>\" }\n  ]\n}` }\n    ]\n  }]\n};\nreturn [{ json: { vaId: $('Split VAs - one at a time').item.json.id, claudeBody: JSON.stringify(body) } }];"
      },
      "id": "2fc259f7-a700-47ae-8953-8fdd7ca2f376",
      "name": "Code - Build Claude Request1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6528,
        1656
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map((item, index) => {\n  return {\n    json: {\n      ...item.json,\n      requestBody: JSON.stringify({\n        performUpsert: {\n          fieldsToMergeOn: [\"Category Name\"],\n        },\n        records: [\n          {\n            fields: {\n              \"Category Name\": item.json.category,\n            },\n          },\n        ],\n      }),\n    },\n    pairedItem: {\n      item: index,\n    },\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4064,
        1024
      ],
      "id": "70df82af-c18f-48e3-a766-1010f3107524",
      "name": "Code - Build Skill Category Upsert"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://api.airtable.com/v0/appP8k55JCcXRAIPh/tblPhRyH7JraMP6op",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.requestBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3840,
        1024
      ],
      "id": "f192b397-c736-47f0-a850-38d50392598d",
      "name": "HTTP - Upsert Skill Category",
      "credentials": {
        "airtableTokenApi": {
          "id": "cHANqvXsE4Fgk1Fq",
          "name": "Airtable Personal Access Token account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map((item, index) => {\n  return {\n    json: {\n      ...item.json,\n      requestBody: JSON.stringify({\n        performUpsert: {\n          fieldsToMergeOn: [\"Category Name\"],\n        },\n        records: [\n          {\n            fields: {\n              \"Category Name\": item.json.category,\n            },\n          },\n        ],\n      }),\n    },\n    pairedItem: {\n      item: index,\n    },\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2048,
        1024
      ],
      "id": "c4dc9535-1747-49e0-9ddc-ac2e16ebad34",
      "name": "Code - Build Tool Category Upsert"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://api.airtable.com/v0/appP8k55JCcXRAIPh/tblxWGvMzb9XrUMid",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.requestBody }}",
        "options": {}
      },
      "id": "4cf97e65-616c-48f5-a80d-5b89750f0e74",
      "name": "HTTP - Upsert Tool Category",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1824,
        1024
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "q8BmWZk7OfzNINR9",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Airtable - List unprocessed VAs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable - List unprocessed VAs": {
      "main": [
        [
          {
            "node": "Split VAs - one at a time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split VAs - one at a time": {
      "main": [
        [],
        [
          {
            "node": "Airtable - Mark as Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable - Mark as Processing": {
      "main": [
        [
          {
            "node": "HTTP - Download Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Download Resume": {
      "main": [
        [
          {
            "node": "Code - Build Claude Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build Claude Request": {
      "main": [
        [
          {
            "node": "HTTP - Claude API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Claude API": {
      "main": [
        [
          {
            "node": "Code - Parse Claude Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Parse Claude Response": {
      "main": [
        [
          {
            "node": "If - Parse OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If - Parse OK?": {
      "main": [
        [
          {
            "node": "Code - Prepare Skills",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Airtable - Mark as Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Prepare Skills": {
      "main": [
        [
          {
            "node": "If - Has Skills?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build Skill Upsert": {
      "main": [
        [
          {
            "node": "HTTP - Upsert Skill",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Upsert Skill": {
      "main": [
        [
          {
            "node": "Code - Prepare VA Skill",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Prepare VA Skill": {
      "main": [
        [
          {
            "node": "HTTP - Create VA Skill",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Create VA Skill": {
      "main": [
        [
          {
            "node": "Code - Skills Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Skills Done": {
      "main": [
        [
          {
            "node": "Code - Prepare Tools",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Prepare Tools": {
      "main": [
        [
          {
            "node": "If - Has Tools?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build Tool Upsert": {
      "main": [
        [
          {
            "node": "HTTP - Upsert Tool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Upsert Tool": {
      "main": [
        [
          {
            "node": "Code - Prepare VA Tool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Prepare VA Tool": {
      "main": [
        [
          {
            "node": "HTTP - Create VA Tool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Create VA Tool": {
      "main": [
        [
          {
            "node": "Code - Build VA Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build VA Update": {
      "main": [
        [
          {
            "node": "Airtable - Update VA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable - Update VA": {
      "main": [
        [
          {
            "node": "Split VAs - one at a time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable - Mark as Failed": {
      "main": [
        [
          {
            "node": "Split VAs - one at a time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If - Has Skills?": {
      "main": [
        [
          {
            "node": "Code - Build Skill Category Upsert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code - Skills Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If - Has Tools?": {
      "main": [
        [
          {
            "node": "Code - Build Tool Category Upsert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code - Build VA Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build Skill Category Upsert": {
      "main": [
        [
          {
            "node": "HTTP - Upsert Skill Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Upsert Skill Category": {
      "main": [
        [
          {
            "node": "Code - Build Skill Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build Tool Category Upsert": {
      "main": [
        [
          {
            "node": "HTTP - Upsert Tool Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Upsert Tool Category": {
      "main": [
        [
          {
            "node": "Code - Build Tool Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "c85e2d77-c964-4094-b5ab-a30df5523574",
  "activeVersionId": null,
  "versionCounter": 90,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-28T18:30:35.363Z",
      "createdAt": "2026-05-28T18:30:35.363Z",
      "role": "workflow:owner",
      "workflowId": "GMQg55V6VA0czFUQ",
      "projectId": "MnrYTtvkn4gmLPx6",
      "project": {
        "updatedAt": "2025-09-25T13:21:38.033Z",
        "createdAt": "2025-09-25T13:21:38.033Z",
        "id": "MnrYTtvkn4gmLPx6",
        "name": "My project",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layers"
        },
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-09-25T13:21:38.038Z",
            "createdAt": "2025-09-25T13:21:38.038Z",
            "userId": "16f0560f-622c-469e-b224-0a5affca8f72",
            "projectId": "MnrYTtvkn4gmLPx6",
            "user": {
              "updatedAt": "2026-07-07T04:01:27.000Z",
              "createdAt": "2025-09-03T13:17:32.990Z",
              "id": "16f0560f-622c-469e-b224-0a5affca8f72",
              "email": "solutions@scalevirtually.com",
              "firstName": "Solution",
              "lastName": "Architects",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "WjBrrZhkOqOXwPCx",
                "userActivatedAt": 1756930800597,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1776797401530
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-07-06",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}